# Example
#
# https://w3id.org/egeologija/plaz/<id> redirects to https://www.e-plaz.si/Plazovi/Podrobnosti/<id>
#
# ## Contact
# This space is administered by:
# aljaz.srsa@geo-zs.si
# GitHub username: asrsa-geozs

RewriteEngine on

# plaz
RewriteRule ^([0-9]+)$ https://www.e-plaz.si/Plazovi/Podrobnosti/$1 [R=302,L,NE]