Options +FollowSymLinks
RewriteEngine on
RewriteRule ^app/?(.*) https://zks-docker.ukl.uni-freiburg.de/fairdatapoint-smartcare/$1 [R=307,L]
RewriteRule ^home/?(.*) https://zks-docker.ukl.uni-freiburg.de/fairdatapoint-smartcare/$1 [R=307,L]
RewriteRule ^/?(.*) https://zks-docker.ukl.uni-freiburg.de/fairdatapoint-smartcare/$1 [R=307,L]
