RewriteEngine on

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType text/n3 .n3
AddType application/n-triples .nt
AddType application/ld+json .jsonld

# Documentation
RewriteRule ^$ https://horizon-openagri.eu/ [R=302,L]



### OCSM ONTOLOGY #####
# Ontology
RewriteRule ^main$ https://raw.githubusercontent.com/openagri-eu/OCSM/main/ocsm-profile.ttl [R=302,L]
# JSON-LD context
RewriteRule ^main-context.jsonld$ https://raw.githubusercontent.com/openagri-eu/OCSM/main/jsonld/ocsm-profile-context.jsonld [R=302,L]


