# # /canonical-english/
#
# Permanent identifiers for the Canonical English project.
#
# https://w3id.org/canonical-english/context/v1 redirects to
# https://canonical-english.org/ns/v1/context/
#
# ## Contact
# This space is administered by:
#
# Michael B. Currie
# mcurrie@gmail.com
# GitHub username: MichaelCurrie

RewriteEngine on

# JSON-LD context, version 1
RewriteRule ^context/v1/?$ https://canonical-english.org/ns/v1/context/ [R=302,L]
