Options -MultiViews
RewriteEngine on
AddType text/turtle .ttl

### Catalog item page
RedirectMatch 302 ^/scs/fdp/fois-2024/?$ https://fois-fdp.eemcs.utwente.nl/catalog/572726cb-5ba6-49c8-959c-9a684d18d359

### Generic item page
RedirectMatch 302 ^/scs/fdp/fois-2024/(.+)/?$ https://fois-fdp.eemcs.utwente.nl/$1

### Generic item page
RedirectMatch 302 ^/scs/fdp/(.+)/?$ https://fois-fdp.eemcs.utwente.nl/$1

### Specific FDP page
RedirectMatch 302 ^/scs/fdp/?$ https://fois-fdp.eemcs.utwente.nl/

### Base route redirect
RedirectMatch 302 ^/scs/?$ https://www.utwente.nl/en/eemcs/scs/
