Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^.*$ https://raw.githubusercontent.com/odissei-data/terms_of_use_representation/main/opl/opl.ttl [R=302,L]