# Maintainer: umairarshad (https://github.com/umairarshad)

# Optional settings – may be ignored or disallowed on some servers
Options +FollowSymLinks
Options -MultiViews

RewriteEngine on
RewriteBase /efro/

# Redirect to RDF if RDF/XML is requested
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^efro$ https://rgu-computing.github.io/EFRO/EFRO/EFRO.rdf [R=303,NE,L]

# Default: redirect to HTML documentation
RewriteRule ^efro$ https://rgu-computing.github.io/EFRO/EFRO/docs/index-en.html [R=303,L]

# GitHub user: RGU-Computing
* GitHub Repository: https://github.com/RGU-Computing/EFRO
