# Options to follow symbolic links
Options +FollowSymLinks

# Turn off MultiViews
Options -MultiViews

# Ensure *.rdf files served with the correct MIME type
AddType application/rdf+xml .rdf

# Enable rewrite engine
RewriteEngine on
RewriteBase /efro/

# Serve HTML documentation for browser or HTML-accepting clients
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^efro$ https://rgu-computing.github.io/EFRO/EFRO/docs/index-en.html [R=303,L]

# Serve RDF by default
RewriteRule ^efro$ https://rgu-computing.github.io/EFRO/EFRO/EFRO.rdf [R=303,NE,L]

# GitHub user: RGU-Computing 
# GitHub Repository: https://github.com/RGU-Computing/EFRO
