RewriteEngine On

# Redirect to website for the root URI
RewriteRule	  ^$ https://sfb1475.ruhr-uni-bochum.de/ [R=302,L]

# Redirect to vocabulary overview
RewriteRule   ^CT/?$ http://eris.vm.rub.de/Skosmos/ct/ [R=303,L,QSA]
# Redirect individual concepts
RewriteRule   ^CT/concepts/(.+)$ http://eris.vm.rub.de/Skosmos/ct/page/$1 [R=303,L,QSA]

