RewriteEngine On

# Redirect to website for the root URI
RewriteRule	  ^$ https://sfb1475.ruhr-uni-bochum.de/ [R=302,L]
# Redirect to vocabulary overview
RewriteRule   ^CT/?$	https://metaphors.skosmos.ub.rub.de/ct/en/ [R=303,L,QSA]

# Redirect individual concepts
RewriteRule   ^CT/concepts/(.+)$ https://metaphors.skosmos.ub.rub.de/ct/en/page/$1 [R=303,L,QSA]

