Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for a dummy twin used in measurements for an article
RewriteRule ^$ https://juusoautiosalo.github.io/twinbase-for-measurements/f7012e2b-d1f8-4e50-b97b-8a93bc97a218 [R=302,L]
