# ## Contact

# This space is administered by:

# Daniel Garijo

# Anas El Hounsri

# a.elhounsri@upm.es

# GitHub username: Anas-Elhounsri

# GitHub username: dgarijo

Options -MultiViews

# This is redirect for the tool repository URL

RewriteEngine On
RewriteRule ^$ https://github.com/SoftwareUnderstanding/rsmetacheck [R=301,L]
