# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/ld+json .jsonld

RewriteEngine on

# Latest version

# Rewrite rule to serve JSON-LD content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^$ https://rda-fair4ml.github.io/FAIR4ML-schema/release/0.0.1/fair4ml.jsonld [R=303,L]

# Rewrite rule to serve HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^$ https://rda-fair4ml.github.io/FAIR4ML-schema/release/0.0.1/index.html [R=303,L]



# Default response
# ---------------------------
# Rewrite rule to serve the RDF/XML content from the vocabulary URI by default
# RewriteRule ^$ https://raw.githubusercontent.com/RDA-FAIR4ML/FAIR4ML-schema/main/development/context.jsonld [R=303,L]


# Versions with id (commented out until we have a URI)

# Rewrite rule to serve JSON-LD content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^(.+)$ https://rda-fair4ml.github.io/FAIR4ML-schema/release/$1/fair4ml.jsonld  [R=303,L]


# Rewrite rules for any other version.
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^(.+)$ https://rda-fair4ml.github.io/FAIR4ML-schema/release/$1/index.html  [R=303,L]


