# shapetrees
#
# https://w3id.org/shapetrees -> https://shapetrees.github.io/
# https://w3id.org/shapetrees/specification -> https://shapetrees.github.io/specification/
# https://w3id.org/shapetrees/primer -> https://shapetrees.github.io/primer/

RewriteEngine on

RewriteRule ^$ https://shapetrees.github.io/ [R=302,L]
RewriteRule ^specification/?$ https://shapetrees.github.io/specification/ [R=302,L]
RewriteRule ^primer/?$ https://shapetrees.github.io/primer/ [R=302,L]
