Options +FollowSymLinks
RewriteEngine on
#A set of rewrite rules with content negotiation for w3id.org/people/matt
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^$ http://163.172.187.51/matt/foaf.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^$ http://163.172.187.51/matt/foaf.ttl [R=303,L]
RewriteRule ^$ http://163.172.187.51/matt/ [R=303,L]
