# # /gwml2/
#
# https://w3id.org/gwml2/ html request redirects to project website datasources
# specific ontologies redirect to github ttl files
#
#
# ## Contact
# This space is administered by:
#
# David Kedrowski
# Github username: dkedrowski
#
# Torsten Hahmann
# Github username: thahmann

# Turn off MultiViews
Options -MultiViews

# Rewrite engine setup
RewriteEngine On


# Default response
# -----------------------------

# Rewrite rule for all other request to point back to the main github repo 
RewriteRule ^(.*) https://sawgraph.github.io/kg.html#data-sources [R=303,L,NE]
