Options +FollowSymLinks
RewriteEngine on

# redirect homepage 
RewriteRule ^$ https://lab.dharc.unibo.it/skosmos/kth/en/ [R=302,L]

# redirect vocab terms 
RewriteRule ^(.*)$ https://lab.dharc.unibo.it/skosmos/kth/en/page/$1 [R=302,L] 