Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://www.w3.org/community/hclscg/ [R=302,L]
RewriteRule ^pddi$ https://www.w3.org/2019/05/pddi/index.html [R=302,L]
RewriteRule ^npdi$ https://dbmi-icode-01.dbmi.pitt.edu/dikb-evidence/hcls-natural-product-drug-interaction-fair/index.html [R=302,L]


