# rdm
#
# https://w3id.org/rdm/ redirects to https://research-data-management.github.io/
#
# ## Contact
# This space is administered by:
#
# Harald von Waldow
# rdm@vonwaldow.ch
# GitHub username: hvwaldow

RewriteEngine on
RewriteRule ^rslg/(.*)$ https://research-data-management.github.io/research-software-licensing/$1 [R=301,L]
