RewriteEngine on
RewriteRule ^$ https://zenodo.org/record/6522173 [R=303,L]
RewriteRule ^ontology$ https://zenodo.org/record/6522173/files/ontology.owl [R=303,NE]
RewriteRule ^(.+)$ https://github.com/SilenceSnake/ASDKB/tree/main/$1 [R=303,NE]
