RewriteEngine On

# The FAIRplus Dataset Maturity (DSM) Model itself
# -------------------
# The identifier https://w3id.org/Data-Maturity/ is DSM Model itself:
#
RewriteRule ^$   https://fairplus.github.io/Data-Maturity/ [R=303,L]
#

# Identifiers
# ------------------
# In the following block: 
# Define individual identifiers for indicators, of the following form: `DSM-\d-[CHR]\d`.
# For better human-readability, the indicators are listed incrementally based on the level, 
# indicator domain [content (C), hosting (H), representation (R)] and indicator number.
# 
#

# Level 0
RewriteRule ^DSM-0-C0$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-c0 [R=303,L,NE,NC]
RewriteRule ^DSM-0-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-0-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-0-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-0-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-0-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-0-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-0-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-0-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-0-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-0-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-0-r5 [R=303,L,NE,NC]

# Level 1
RewriteRule ^DSM-1-C0$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-c0 [R=303,L,NE,NC]
RewriteRule ^DSM-1-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-1-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-1-C3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-c3 [R=303,L,NE,NC]
RewriteRule ^DSM-1-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-1-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-1-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-1-H4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-h4 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R0$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r0 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-1-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-1-r5 [R=303,L,NE,NC]

# Level 2
RewriteRule ^DSM-2-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c3 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c4 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c5 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C6$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c6 [R=303,L,NE,NC]
RewriteRule ^DSM-2-C7$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-c7 [R=303,L,NE,NC]
RewriteRule ^DSM-2-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-2-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-2-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-2-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-2-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-2-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-2-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-2-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-2-r5 [R=303,L,NE,NC]

# Level 3
RewriteRule ^DSM-3-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c3 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c4 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c5 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C6$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c6 [R=303,L,NE,NC]
RewriteRule ^DSM-3-C7$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-c7 [R=303,L,NE,NC]
RewriteRule ^DSM-3-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-3-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-3-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-3-H4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-h4 [R=303,L,NE,NC]
RewriteRule ^DSM-3-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-3-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-3-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-3-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-3-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-3-r5 [R=303,L,NE,NC]

# Level 4
RewriteRule ^DSM-4-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-4-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-4-C3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-c3 [R=303,L,NE,NC]
RewriteRule ^DSM-4-C4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-c4 [R=303,L,NE,NC]
RewriteRule ^DSM-4-C5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-c5 [R=303,L,NE,NC]
RewriteRule ^DSM-4-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-4-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-4-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r5 [R=303,L,NE,NC]
RewriteRule ^DSM-4-R6$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-4-r6 [R=303,L,NE,NC]

# Level 5
RewriteRule ^DSM-5-C1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-c1 [R=303,L,NE,NC]
RewriteRule ^DSM-5-C2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-c2 [R=303,L,NE,NC]
RewriteRule ^DSM-5-C3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-c3 [R=303,L,NE,NC]
RewriteRule ^DSM-5-C4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-c4 [R=303,L,NE,NC]
RewriteRule ^DSM-5-C5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-c5 [R=303,L,NE,NC]
RewriteRule ^DSM-5-H1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-h1 [R=303,L,NE,NC]
RewriteRule ^DSM-5-H2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-h2 [R=303,L,NE,NC]
RewriteRule ^DSM-5-H3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-h3 [R=303,L,NE,NC]
RewriteRule ^DSM-5-R1$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-r1 [R=303,L,NE,NC]
RewriteRule ^DSM-5-R2$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-r2 [R=303,L,NE,NC]
RewriteRule ^DSM-5-R3$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-r3 [R=303,L,NE,NC]
RewriteRule ^DSM-5-R4$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-r4 [R=303,L,NE,NC]
RewriteRule ^DSM-5-R5$ https://fairplus.github.io/Data-Maturity/docs/Indicators/#dsm-5-r5 [R=303,L,NE,NC]
