# Redirect https://w3id.org/csro to your GitHub repository
Redirect 302 /csro https://github.com/fortiss/CSRO

# Redirect https://w3id.org/csro/ontology to the ontology file
Redirect 302 /csro/ontology https://github.com/fortiss/CSRO/raw/main/csro.ttl