Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^survey(.*)$ http://rml.io/data/rmlee/survey-$1.pdf [R=302,L]
RewriteRule ^intro$ http://rml.io/data/rmlee/intro.pdf [R=302,L]
RewriteRule ^setting$ https://doi.org/10.6084/m9.figshare.5629282.v1 [R=302,L]
