# ## Contact
# This space is administered by:
#
# Ilia Bagov
# ilia.bagov@datin.io
# GitHub username: ibagov

RewriteEngine On

RewriteRule ^core/?$ https://gitlab.com/datin-publications/core/-/blob/main/concept_scheme.ttl [R=303,L]

RewriteRule ^core/(.+)/?$ https://gitlab.com/datin-publications/core/-/raw/main/$1.ttl [R=303,L]
