Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://nanopub.net/ [R=307,L]

RewriteCond %{HTTP:FDO} object
RewriteRule ^(RA[A-Za-z0-9_\-]{43})$ https://nanodash.knowledgepixels.com/fdo?get=object&id=$1 [R=307,L,NE]

RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^(RA[A-Za-z0-9_\-]{43})$ https://nanodash.knowledgepixels.com/explore?id=$1 [R=307,L,NE]

RewriteRule ^(RA[A-Za-z0-9_\-]{43}(\.[a-z.]+)?)$ https://np.knowledgepixels.com/$1 [R=307,L]
