Options +FollowSymLinks
RewriteEngine on 

# set environmental variable for the current version
SetEnvIf Request_URI "^.*" currentversion=0.9
# 
RewriteRule       ^(.+)$               http://cor.esipfed.org/ont?iri=https://w3id.org/isamples/vocabulary/material/%{ENV:currentversion}/$1 [R=303,L]