Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://mare.istc.cnr.it:7001/mare/demo/ [R=302,L]
RewriteRule ^(.+)$ http://mare.istc.cnr.it:7001/mare/demo/$1 [R=302,L]
RewriteRule ^resource/(.+)$ http://lodview.it/lodview/?sparql=http%3A%2F%2Fmare.istc.cnr.it%2Fsparql&prefix=http%3A%2F%2Fw3id.org%2F&IRI=http://w3i.org/mare/resource/$1 [R=302,L] 
