# Example
#
# https://w3id.org/example redirects to https://example.com/
#
# ## Contact
# This space is administered by:  
#
# David I. Lehn
# dil@lehn.org
# GitHub username: davidlehn

RewriteEngine on
RewriteRule ^ https://example.com/ [R=302,L]
