RewriteEngine On

# DEC live viewer.
RewriteRule   "^dec/?$" https://dec.fabiovitali.it/ [R=302,L,QSA]
RewriteRule   "^dec/viewer/?$" https://dec.fabiovitali.it/ [R=302,L,QSA]

# DEC source code.
RewriteRule "^dec/code/?$" https://github.com/fvitali/dec-reasoner [R=302,L,QSA]
RewriteRule "^dec/code/reasoner/?$" https://github.com/fvitali/dec-reasoner [R=302,L,QSA]
RewriteRule "^dec/code/viewer/?$" https://github.com/fvitali/dec-viewer [R=302,L,QSA]
