Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://github.com/MKLab-ITI/patent_ontologies [R=302,L]
RewriteRule ^/(.*) https://github.com/MKLab-ITI/patent_ontologies/blob/master/$1 [R=302,L]
