# VC Confidence Method Contexts
#
# homepage:
#   - https://w3c-ccg.github.io/confidence-method-spec
# maintainers:
#   - Brian Richter (@brianorwhatever)
#   - Gabe Cohen (@decentralgabe)
#   - Oliver Terbu (@awoie)
#
Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://w3c-ccg.github.io/confidence-method-spec [R=302,L]
