# # /pathology-wsi/alk-thyroid/
#
# Whole-slide imaging repository for a multi-institutional cohort of
# ALK-rearranged follicular thyroid neoplasms.
#
# https://w3id.org/pathology-wsi/alk-thyroid redirects to
# https://learn.mghpathology.org/index.php/WSI24-462
#
# ## Contact
#
# Emilio Madrigal
# GitHub username: emiliomadrigal
# Institution: Mass General Brigham
# Boston, MA

RewriteEngine on
RewriteRule ^ https://learn.mghpathology.org/index.php/WSI24-462 [R=302,L]
