RewriteEngine on
RewriteRule ^$ http://libris.kb.se/ [R=302,L]
RewriteRule ^def/terms/(.*)$ http://xl.libris.kb.se/def/terms#$1 [R=303,NE,L]
RewriteRule ^(def|sys)/(.*)$ http://xl.libris.kb.se/$1/$2 [R=302,L]
