# Name of the project: MUSCO - Multimodal Descriptions of Social Concepts
# Description: This project aims to investigate, model, and experiment with how and why social concepts 
#(such as violence, power, peace, or destruction) are modeled and detected by humans and machines in images. 
# It specifically focuses on the detection of social concepts referring to non-physical objects in 
# (visual) art images, as these concepts are powerful tools for visual data management, 
# especially in the Cultural Heritage field (present in resources such Iconclass and Getty Vocabularies). 
# The hypothesis underlying this research is that we can formulate a description of a social concept 
# as a multimodal frame, starting from a set of observations (in this case, image annotations). 
# We believe thaat even with no explicit definition of the concepts, a “common sense” description can be 
# (approximately) derived from observations of their use.

# Contacts: Delfina Sol Martinez Pandiani delfinasol.martinez2@unibo.it - GitHub: https://github.com/delfimpandiani

Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on


# Default behaviour
RewriteRule ^$ https://raw.githubusercontent.com/delfimpandiani/musco/main/musco_ontology.owl [R=303,L]
