Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ http://registry.it.csiro.au/def/gba [R=303,L]
RewriteRule ^glossary$ http://registry.it.csiro.au/def/gba/glossary [R=303,L]
RewriteRule ^glossary/([\S]*)$ http://registry.it.csiro.au/def/gba/glossary/$1 [R=303,L]
RewriteRule ^source$ http://registry.it.csiro.au/def/gba/source [R=303,L]
RewriteRule ^source/([\S]*)$ http://registry.it.csiro.au/def/gba/source/$1 [R=303,L]
