RewriteEngine On

RewriteRule ^v0.8/context.json$ https://github.com/International-Data-Spaces-Association/ids-specification/raw/main/common/schema/context.json [R=302,L,QSA]

RewriteRule ^.$ https://github.com/International-Data-Spaces-Association/ids-specification [R=302,L,QSA]