Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ http://openark.adaptcentre.ie/ [R=302,L]

RewriteRule ^Cube$ http://openark.adaptcentre.ie/Ontologies/ARKCube [R=302,L]
RewriteRule ^Cube/$ http://openark.adaptcentre.ie/Ontologies/ARKCube [R=302,L]
RewriteRule ^Cube/(.*)$ http://openark.adaptcentre.ie/Ontologies/ARKCube#$1 [NE,R=302,L]

RewriteRule ^Projects$ http://openark.adaptcentre.ie/Ontologies/ARKProjects [R=302,L]
RewriteRule ^Projects/$ http://openark.adaptcentre.ie/Ontologies/ARKProjects [R=302,L]
RewriteRule ^Projects/(.*)$ http://openark.adaptcentre.ie/Ontologies/ARKProjects#$1 [NE,R=302,L]

RewriteRule ^Terminology$ http://openark.adaptcentre.ie/Ontologies/ARKTerminology [R=302,L]
RewriteRule ^Terminology/$ http://openark.adaptcentre.ie/Ontologies/ARKTerminology [R=302,L]
RewriteRule ^Terminology/(.*)$ http://openark.adaptcentre.ie/Ontologies/ARKTerminology#$1 [NE,R=302,L]