RewriteEngine on

# Redirection Match rule for accessing the catalog repository git page

RedirectMatch 302 ^/ontouml-catalog/?$ https://github.com/unibz-core/ontouml-models
RedirectMatch 302 ^/ontouml-catalog/git/?$ https://github.com/unibz-core/ontouml-models

# Redirection Match rule for accessing the catalog datasets

RedirectMatch 302 ^/ontouml-catalog/dataset/(.*)$ https://github.com/unibz-core/ontouml-models/tree/master/$1
RedirectMatch 302 ^/ontouml-catalog/folder/(.*)$ https://github.com/unibz-core/ontouml-models/tree/master/$1
RedirectMatch 302 ^/ontouml-catalog/model/(.*)$ https://github.com/unibz-core/ontouml-models/tree/master/$1

# Redirection Match rule for accessing a specific resource in any folder of the catalog

RedirectMatch 302 ^/ontouml-catalog/catalog/(.*)$ https://raw.githubusercontent.com/unibz-core/ontouml-models/master/$1
RedirectMatch 302 ^/ontouml-catalog/content/(.*)$ https://raw.githubusercontent.com/unibz-core/ontouml-models/master/$1
RedirectMatch 302 ^/ontouml-catalog/file/(.*)$ https://raw.githubusercontent.com/unibz-core/ontouml-models/master/$1