Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for Asteroids (no content negotiation)
RewriteRule ^asteroids$ http://52.31.80.76/HTML5-Asteroids/ [R=302,L]

#Rewrite rules for Coil (no content negotiation) 
RewriteRule ^coil$ http://52.31.80.76/Coil/ [R=302,L]

#Rewrite rules for browserquest (no content negotiation) 
RewriteRule ^browserquest$ http://52.31.80.76:8000/ [R=302,L]