Options +FollowSymLinks
RewriteEngine on
RewriteRule "^qa/sparql(.*)$" "http://gerbil-qa.aksw.org/sparql$1" [R=302,L]
RewriteRule "^qa(.*)$" "http://gerbil-qa.aksw.org/gerbil$1" [R=302,L]
RewriteRule "^sparql(.*)$" "http://gerbil.aksw.org/sparql$1" [R=302,L]
RewriteRule "^(.*)$" "http://gerbil.aksw.org/gerbil/$1" [R=302,L]
