Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://openscience.adaptcentre.ie/projects/GDPRtEXT/ [R=302,L]
RewriteRule ^ontology$ http://purl.org/adaptcentre/openscience/ontologies/GDPRtEXT [R=302,L]
RewriteRule ^documentation$ http://purl.org/adaptcentre/openscience/ontologies/GDPRtEXT/docs [R=302,L]
RewriteRule ^pubby$ https://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr-pubby [R=302,L]
RewriteRule ^distributions$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/distributions [R=302,L]
RewriteRule ^ontology/rdf$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.rdf [R=302,L]
RewriteRule ^ontology/ttl$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.ttl [R=302,L]
RewriteRule ^ontology/jsonld$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.jsonld [R=302,L]
RewriteRule ^ontology/nt$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.nt [R=302,L]
RewriteRule ^ontology/n3$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.n3 [R=302,L]
RewriteRule ^ontology/sparql$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/sparql [R=302,L]
RewriteRule ^canonical/html$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.html [R=302,L]
RewriteRule ^canonical/json$ http://purl.org/adaptcentre/openscience/resources/GDPRtEXT/gdpr.json [R=302,L]
RewriteRule ^dataset/zenodo$ https://old.datahub.io/dataset/gdprtext [R=302,L]
RewriteRule ^dataset/data.gov.ie$ https://data.gov.ie/dataset/gdprtext [R=302,L]
RewriteRule ^repository$ https://opengogs.adaptcentre.ie/harsh/GDPRtEXT [R=302,L]
RewriteRule ^publication$ https://doi.org/10.1007/978-3-319-93417-4_31 [R=302,L]
