# Maintainer: Mariam-the-Solivagus (https://github.com/Mariam-the-Solivagus)

Options -MultiViews
Header set Access-Control-Allow-Origin *

RewriteEngine on

RewriteRule ^ontology/?$ https://github.com/Mariam-the-Solivagus/sanctions-ontology [R=303,L]
RewriteRule ^ontology\.ttl$ https://github.com/Mariam-the-Solivagus/sanctions-ontology [R=303,L]
