# Persistent identifier for the CSE-CIC-IDS2018 RDF dataset
# Maintainer: Thaisa Hernandes (GitHub: thaisash)

Options +FollowSymLinks
RewriteEngine on

# Default redirect for the resource
RewriteRule ^$ https://raw.githubusercontent.com/thaisash/WS_IME/refs/heads/main/CSECICIDS2018.ttl [R=303,L]

# Optional: specify media type for TTL
AddType text/turtle .ttl
