# w3id.org global rewrites

Options +FollowSymLinks
RewriteEngine on

# special directory redirects due to case insensitive file systems issues
RewriteRule ^AIRO(.*)$ /airo$1
RewriteRule ^UN(.*)$ /un$1
