Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://raw.githubusercontent.com/codepasta/autonomous-buildings/main/elementary/elementary.owl [R=302,L]
RewriteRule ^examples$ https://raw.githubusercontent.com/codepasta/autonomous-buildings/main/elementary/examples.html [R=302,L]
