Options -MultiViews
RewriteEngine on
AddType text/turtle .ttl

# CONTENT NEGOTIATION ----------------------------------------------------------------------------------------

## Serve TTL content when RDF formats are explicitly requested
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^scosy([^/]*)$ https://raw.githubusercontent.com/gioUbbiali/SCO-to-COSY/refs/heads/main/scosy$1.ttl [R=303,L]

# CONTENT NEGOTIATION SPECIFIC VERSION ----------------------------------------------------------------------------------------
RedirectMatch 302 ^/scosy/scosy-imports-merged/?$ https://raw.githubusercontent.com/gioUbbiali/SCO-to-COSY/refs/heads/main/scosy-imports-merged.ttl

# RESOURCES' VERSIONING ----------------------------------------------------------------------------------------

## Latest release
RedirectMatch 302 ^/scosy/(latest|current)/?$  https://github.com/GioUbbiali/SCO-to-COSY/releases/latest

## All releases
RedirectMatch 302 ^/scosy/releases/?$  https://github.com/GioUbbiali/SCO-to-COSY/releases

# RESOURCES' HOMEPAGES ----------------------------------------------------------------------------------------

## Redirect to RDF content when accessing the root namespace
RedirectMatch 302 ^/scosy/?$ https://raw.githubusercontent.com/gioUbbiali/SCO-to-COSY/refs/heads/main/scosy.ttl

## Redirect documentation requests explicitly
RedirectMatch 302 ^/scosy/docs/?$ https://GioUbbiali.github.io/SCO-to-COSY/docs/index.html


## Repository links
RedirectMatch 302 ^/scosy/(git|repo)/?$  https://github.com/GioUbbiali/SCO-to-COSY
