RewriteEngine on
# Documentation
RewriteRule ^$  https://s11.no/2022/a2a-fair-metrics/ [R=302,L]

# e.g. 01-http-describedby-only
RewriteRule ^(\d+-[a-z0-9-]*)$ https://s11.no/2022/a2a-fair-metrics/$1/  [R=302,L]
