Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
# Rewrite rule to serve the Periscope Project atlas tool
RewriteRule ^$ https://atlas.periscopeproject.eu/pewg/ [R=302,L]
# Rewrite rule to serve the Periscope Project website
RewriteRule ^$ https://periscopeproject.eu/ [R=302,L]
# Rewrite rule to serve the Periscope Project ontology
RewriteRule ^$ https://periscope.lst.tfo.upm.es/ [R=302,L]

