Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on

## TAXONOMIES REDIRECTS
RewriteCond %{REQUEST_URI} ^/mlso/vocab/dataset_characteristic$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_dataset_characteristics.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/feature_characteristic$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_feature_characteristics.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/evaluation_measure$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_evaluation_measures.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/estimation_procedure$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_estimation_procedures.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/learning_method$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_learning_methods.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/ml_algorithm$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_ml_algorithms.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/ml_field$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_ml_fields.ttl
RewriteCond %{REQUEST_URI} ^/mlso/vocab/ml_task_type$
RewriteRule ^(.*)$ https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/Taxonomies/mlso_ml_task_types.ttl

## CONTENT NEGOTIATION
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^(.*)\.conneg$ https://dtai-kg.github.io/MLSO/#http://w3id.org/$1 [NE,R,L]
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^(.*)\.conneg$  https://raw.githubusercontent.com/dtai-kg/MLSO/main/ontology/ml-onto.ttl#http://w3id.org/$1 [NE,R,L]
RewriteCond %{HTTP_ACCEPT} .+
RewriteRule (.*)\.conneg$ https://dtai-kg.github.io/MLSO/406.html [NE,L,R=406] # Error Widoco page

## ALL OTHER REDIRECTS
RewriteRule ^(.*)$ https://%{SERVER_NAME}/mlso/$1.conneg [NE,R,L]
