# w3id.org/lctc — Licensed Claim-Type Conversion (LCTC)
RewriteEngine On
DirectorySlash Off
RewriteOptions AllowNoSlash
Options -Indexes

RewriteRule ^paper(.*)$ https://github.com/vzezin/lctc/blob/main/paper.md [R=302,L]
RewriteRule ^manual(.*)$ https://github.com/vzezin/lctc/blob/main/manual.md [R=302,L]
RewriteRule ^seed(.*)$ https://github.com/vzezin/lctc/blob/main/seed.md [R=302,L]
RewriteRule ^schema(.*)$ https://github.com/vzezin/lctc/blob/main/schema.md [R=302,L]
RewriteRule ^(.*)$ https://github.com/vzezin/lctc [R=302,L]
