# This is the htaccess file for the w3id name for the OpenNeuro Vocabulary

RewriteEngine on

# Rewrite for ontology id
RewriteRule ^$ https://bioportal.bioontology.org/ontologies/ONVOC/?p=classes

# Rewrite for a term id
RewriteRule (.+) https://bioportal.bioontology.org/ontologies/ONVOC/?p=classes&conceptid=https://w3id.org/onvoc/$1
