Options +FollowSymLinks
RewriteEngine On

AddType text/turtle .ttl

RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.*
RewriteRule ^$ https://github.com/probs-lab/probs-ontology/raw/master/probs_ontology/probs.ttl [R=303,L]

# RewriteRule (.*) https://ukfires.org/probs/ontology/$1 [R=302,L,QSA]
