# https://w3id.org/aqfo/ redirects to https://raw.githubusercontent.com/WorldFishCenter/fish-ontology/main/aquaculture_small_scale_fisheries_ontology.owl
#
# ## Contact
# This space is administered by:  
#
# Marie-Angélique Laporte
# GitHub username: marieALaporte

RewriteEngine on
RewriteRule ^ https://raw.githubusercontent.com/WorldFishCenter/fish-ontology/main/aquaculture_small_scale_fisheries_ontology.owl [R=303,L]

# Rewrite for a term id
RewriteRule (.+) https://agroportal.lirmm.fr/ontologies/AQFO/?p=classes&conceptid=https://w3id.org/aqfo/$1
