# LiGre - Lemma Bank for Ancient Greek
# https://w3id.org/ligre/ -> https://ligre.ugent.be/
#
# The full path is passed through unchanged; content negotiation
# (HTML vs. Turtle, RDF/XML, JSON-LD, ...) is handled by the target server.
# 303 (not 301) so clients don't cache the target host permanently.
#
# ## Contact
# This space is administered by:
#
# Paulien Lemay
# paulien.lemay@gmail.com
# GitHub username: PaulienLem

Options +FollowSymLinks
RewriteEngine on

RewriteRule ^(.*)$ https://ligre.ugent.be/$1 [R=303,L]
