# w3id.org redirects for ORKG Properties Ontology Consolidated (OPO-Consolidated)
# Maintainer: Sandra Schaftner (@SandraSchaftner)
# Contact: sandra.schaftner@informatik.tu-chemnitz.de

# Ontology base IRI (latest version):
# https://w3id.org/orkg-properties-ontology-consolidated
#
# Namespace for terms:
# https://w3id.org/orkg-properties-ontology-consolidated#

# Update August 17, 2026: Base IRI redirects to v1.1.0, added a "Redirect 303 /orkg-properties-ontology-consolidated/1.1.0"

Redirect 303 /orkg-properties-ontology-consolidated/1.0.0 \
  https://raw.githubusercontent.com/SandraSchaftner/orkg-properties-ontology-consolidation/main/ontology/opo-consolidated-1.0.0.ttl

Redirect 303 /orkg-properties-ontology-consolidated/1.1.0 \
  https://raw.githubusercontent.com/SandraSchaftner/orkg-properties-ontology-consolidation/main/ontology/opo-consolidated-1.1.0.ttl

Redirect 303 /orkg-properties-ontology-consolidated \
  https://raw.githubusercontent.com/SandraSchaftner/orkg-properties-ontology-consolidation/main/ontology/opo-consolidated-1.1.0.ttl

