Options +FollowSymLinks
RewriteEngine on
RewriteRule ^ieee-2791-schema/(.*) https://opensource.ieee.org/2791-object/ieee-2791-schema/raw/master/$1 [R=302,L]
ReWriteRule ^ieee-2791-schema(/)?$ https://opensource.ieee.org/2791-object/ieee-2791-schema/ [R=302,L]
RewriteRule ^$ https://www.ieee.org/ [R=302,L]

