RewriteEngine on
RewriteRule ^.ttl$ https://raw.githubusercontent.com/Homey-Prin22/semioe/main/rdf/semioe.ttl [R=303,L]
RewriteRule ^(.+)$ https://homey-prin22.github.io/semioe#$1 [R=303,NE]
RewriteRule ^$ https://homey-prin22.github.io/semioe [R=303,L]

