# w3id.org/tbo — The Business Ontology (TBO)
# Maintainer: @arogersonline (GitHub) — contact@thebusinessontology.com
RewriteEngine on
RewriteRule ^ns/(.*)$ https://tbont.org/ns/$1 [R=302,L]
RewriteRule ^example/(.*)$ https://tbont.org/example/$1 [R=302,L]
RewriteRule ^(.*)$ https://thebusinessontology.com/$1 [R=302,L]
