# # /nodered-ontology-based-program-analysis/
#
# Research project about ontology-based program analysis of Node-RED user applications. 
#
# https://w3id.org/nodered-ontology-based-program-analysis/ redirects to https://github.com/mircosoderi/nodered-ontology-based-program-analysis/
#
# ## Contact
# This space is administered by:  
#
# Mirco Soderi 
# GitHub username: mircosoderi

RewriteEngine on
RewriteRule ^ https://github.com/mircosoderi/nodered-ontology-based-program-analysis/ [R=302,L]
