RewriteEngine on
RewriteRule ^repo/(.*) https://github.com/dini-ag-kim/eduvocs/$1 [R=302,L]
RewriteRule ^terms/(.*) https://github.com/dini-ag-kim/eduvocs/blob/main/README.md [R=302,L]
RewriteRule ^id/(.*) https://eduvocs.vercel.app/voc/$1 [R=302,L]
RewriteRule ^search/?$ https://eduvocs.vercel.app/search [R=302,L]
RewriteRule ^voc/(.*) https://eduvocs.vercel.app/voc/$1 [R=302,L]
RewriteRule ^content/de/(.*) https://eduvocs.vercel.app/content/de/$1 [R=302,L]
RewriteRule ^content/en/(.*) https://eduvocs.vercel.app/content/en/$1 [R=302,L]
RewriteRule ^(.*)$ https://eduvocs.vercel.app/$1 [R=302,L]
