RewriteEngine on
RewriteRule ^id/(.*) https://edu-vocabs.vercel.app/voc/$1 [R=302,L]
RewriteRule ^repo/(.*) https://github.com/sroertgen/edu-vocabs/$1 [R=302,L]
RewriteRule ^terms/(.*) https://github.com/sroertgen/edu-vocabs/blob/main/README.md [R=302,L]
RewriteRule ^search/?$ https://edu-vocabs.vercel.app/search [R=302,L]
RewriteRule ^voc/(.*) https://edu-vocabs.vercel.app/voc/$1 [R=302,L]
RewriteRule ^content/de/(.*) https://edu-vocabs.vercel.app/content/de/$1 [R=302,L]
RewriteRule ^content/en/(.*) https://edu-vocabs.vercel.app/content/en/$1 [R=302,L]
RewriteRule ^(.*)$ https://edu-vocabs.vercel.app/$1 [R=302,L]
