Options +FollowSymLinks

# Rewrite engine setup
RewriteEngine On

# Redirect to w3id.org/d2kg/
RewriteRule	^$ http://lod.csd.auth.gr/d2kg/d2kg.owl [R=301,L]
RewriteRule	^documentation$ http://lod.csd.auth.gr/d2kg/documentation/index-en.html [R=301,L]
