RewriteEngine On

# TBM Tunnel Collapse Ontology
# Maintainer: Weijiang Kong
# Email: kongwj@my.swjtu.edu.cn
# GitHub: https://github.com/WeijiangK

RewriteRule ^ontology/?$ https://doi.org/10.5281/zenodo.22079738 [R=303,L]

RewriteRule ^ontology/1\.0\.0/?$ https://doi.org/10.5281/zenodo.22079738 [R=303,L]
