Options +FollowSymLinks
RewriteEngine on

RewriteRule ^(.*).yaml$ https://raw.githubusercontent.com/microbiomedata/nmdc-schema/main/src/schema/$1.yaml [R=307,L]

RewriteRule ^nmdc$ https://microbiomedata.github.io/nmdc-schema [R=307,L]

RewriteRule ^(annotation|basic_slots|core|external_identifiers|mixs|prov|workflow_execution_activity)$ https://raw.githubusercontent.com/microbiomedata/nmdc-schema/main/src/schema/$1.yaml [R=307,L]

RewriteRule ^(.*)$      https://api.microbiomedata.org/objects/$1 [R=307,L]
