RewriteEngine On

# Ontology
RewriteRule ^ontology$ https://raw.githubusercontent.com/psymarkus/sharp-concepts/main/ontology.ttl [R=302,L]

# Concept Scheme
RewriteRule ^scheme/SHARP$ https://raw.githubusercontent.com/psymarkus/sharp-concepts/main/skos.ttl [R=302,L]
