Options +FollowSymLinks

# Rewrite engine setup
RewriteEngine On

# Redirect to https://w3id.org/opengptx/
RewriteRule	^$ https://github.com/OpenGPTX/AP5/blob/main/opengptx-ontology/opengptx-ontology.ttl/ [R=302,L]
