# Maintainers: @ndrberna (abernardini@fub.it)

Header set Access-Control-Allow-Origin "*"
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://github.com/ndrberna/crm-sdm [R=302,L]

RewriteRule ^(.*)$ https://github.com/ndrberna/crm-sdm/$1 [R=302,L]
