# /people/gatemezing/* : Long-term distribution URLs
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://atemezing.org [R=302,L]
RewriteRule ^project https://github.com/gatemezing [R=302,L]
RewriteRule ^publications https://scholar.google.com/citations?user=17EeA1UAAAAJ&hl=en [R=302,L]

#more to come very soon