Options +FollowSymLinks
RewriteEngine on

# Redirigir IRIs de clases a BioPortal
RewriteRule ^(.*)$ https://bioportal.bioontology.org/ontologies/BFPO?p=classes&conceptid=https://w3id.org/bfpo#$1 [R=303,L]

# Redirigir namespace base a BioPortal
RewriteRule ^$ https://bioportal.bioontology.org/ontologies/BFPO [R=303,L]
