RewriteEngine On

RewriteRule	  ^$ https://diga.ceres.rub.de/ [R=302,L]

RewriteRule   ^terms/?$ https://skosmos.ub.rub.de/diga/ [R=303,L,QSA]
RewriteRule   ^terms/(.*)$ https://skosmos.ub.rub.de/diga/page/$1 [R=303,L,QSA]

RewriteRule   ^source/?$ http://pages.ceres.rub.de/diga/diga_sources.rdf [R=303,L,QSA]
RewriteRule   ^source/(.*)$ http://pages.ceres.rub.de/diga/diga_sources.rdf#$1 [R=303,L,NE,QSA]
