Options +FollowSymLinks
RewriteEngine on

# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf *.owl files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf .owl

RewriteRule ^$ https://github.com/mdrozdo/SXACML [R=302,L]

RewriteRule ^fitness-data$ https://mdrozdo.github.io/ontologies/privacy/fitness-data.owl [R=302,L]
RewriteRule ^fitness-tracking$ https://mdrozdo.github.io/ontologies/privacy/fitness-tracking.owl [R=302,L]
RewriteRule ^personal-privacy$ https://mdrozdo.github.io/ontologies/privacy/personal-privacy.owl [R=302,L]
RewriteRule ^privacy-mapping$ https://mdrozdo.github.io/ontologies/privacy/privacy-mapping.owl [R=302,L]