Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^/?$ http://gen2kgbot.i3s.unice.fr/q2forge/ [R=302,L]
RewriteRule ^(.+)$ http://gen2kgbot.i3s.unice.fr/q2forge/$1 [R=302,L]
