Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
# AddType text/turtle .ttl

RewriteEngine on

#Rewrite rules for iCity-X (Ontology IRI and Version IRI)
#default response: owl
RewriteRule ^([A-Za-z-\d]*)(\.owl)?$ https://raw.githubusercontent.com/EnterpriseIntegrationLab/icity/master/$1.owl [R=302,L]
RewriteRule ^([A-Za-z-\d]*)(/)?$ https://raw.githubusercontent.com/EnterpriseIntegrationLab/icity/master/$1.owl [R=302,L]
RewriteRule ^([A-Za-z-\d]*)/([0-9.]*)/$ https://raw.githubusercontent.com/EnterpriseIntegrationLab/icity/master/$1.owl [R=302,L]
