Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for a dummy twin used in measurements for an article
RewriteRule ^$ https://juusoautiosalo.github.io/twinbase-for-measurements/97dd6ce5-143c-4454-8423-82d1b93490ec [R=302,L]
