RewriteEngine on
RewriteRule ^ontology/?$ https://raw.githubusercontent.com/seucoin/RTSKG/main/ontology/ontology.owl [R=303,L,NE]
RewriteRule ^ontology/(class|objectproperty|dataproperty)/([^/]+)/?$ https://raw.githubusercontent.com/seucoin/RTSKG/main/ontology/$1/$2 [R=303,L,NE]
RewriteRule ^(new_york_city|chicago)/instance/([^/]+)/?$ https://raw.githubusercontent.com/seucoin/RTSKG/main/$1/instance/$2 [R=303,L,NE]
RewriteRule ^source/([^/]+)/?$ https://raw.githubusercontent.com/seucoin/RTSKG/main/source/$1 [R=303,L,NE]
RewriteRule ^$ https://github.com/seucoin/RTSKG [R=303,L]
RewriteRule ^(.+)$ https://github.com/seucoin/RTSKG/tree/main/$1 [R=303,NE]
