# Retail Benefits Vocabulary
#
# homepage:
# - https://convenience-org.github.io/retail-benefits-vocab/
# source:
# - 
# maintainers:
# - @davidlehn
# - @dlongley
# - @msporny
# - @wes-smith

RewriteEngine on
RewriteRule ^$ https://convenience-org.github.io/retail-benefits-vocab/ [R=302,L]
RewriteRule ^v(.*)$ https://convenience-org.github.io/retail-benefits-vocab/contexts/v$1.jsonld [R=302,L]
