Options -MultiViews
Header set Access-Control-Allow-Origin *

RewriteEngine on
RewriteRule ^$ https://manabcodes.github.io/laborchain/ [R=303,L]
RewriteRule ^laborchain\.ttl$ https://manabcodes.github.io/laborchain/laborchain.ttl [R=303,L]
RewriteRule ^(.*)$ https://manabcodes.github.io/laborchain/$1 [R=303,L]
