 Options +FollowSymLinks
 RewriteEngine on

 RewriteCond %{HTTP_ACCEPT} text/html [OR]
 RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
 RewriteRule       ^.*\/gso\/qudt/voc\/           https://raw.githack.com/Loop3D/GKM/master/docs/qudt_voc.html  [R=303,L]
 RewriteRule       ^.*\/gso\/skos/annotation\/ https://raw.githack.com/Loop3D/GKM/master/docs/skos_annotation.html  [R=303,L]
 RewriteRule ^.*\/gso\/([a-z-]*)\/  https://raw.githack.com/Loop3D/GKM/master/docs/$1.html   [R=303,L]
 

# Rewrite rule to serve turtle content from the vocabulary URI if requested
 RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule       ^.*\/gso\/ex-complexcontact\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleComplexContacts.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-event1\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleEvents1.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-stratlexicon2-bc\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleBritishColumbiaStrat-v2.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-timelowerjurassic\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleEpochLowerJurassic.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-faults\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleFault2.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/faultKannaV4Model\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleFaultKannaV4Model.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/foldexample\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleFold.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-formationJs\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleFormationJs.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-ausstratunit\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleGeosciAustraliaStratUnit.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-history\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleHistory.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-islewightstrat\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleIsleOfWightStrat-pm1.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-plutontojiza\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleLaTojizaPluton.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-petrophysics-bc\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExamplePetrophysicalProperties_v2.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-materialCb\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleRockMaterialBolsaQuartzite.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ex-roles\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleRoles.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/alterationtype-bc\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-ExampleVocabularyExtension-Alteration_Type-BC.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ec-lardeaustrat\/         https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Examples/GSO-LardeauGroup.ttl  [R=303,L]


RewriteRule       ^.*\/gso\/master\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/GSO-Master.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/common\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/GSO-Common.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geology\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/GSO-Geology.ttl  [R=303,L]

RewriteRule       ^.*\/gso\/element\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Element.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/feature\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Feature.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicevent\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Event.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicfeature\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Feature.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/granularmaterial\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Granular_Material.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/mineral\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Mineral.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicprocess\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Process.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicquality\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Quality.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicreferencesystem\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Reference_System.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicrelation\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Relation.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/rockmaterial\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Rock_Material.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/rockobject\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Rock_Object.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicrole\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Role.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicsetting\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Setting.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologiccontact\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure_Contact.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicfault\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure_Fault.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicfold\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure_Fold.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicfoliation\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure_Foliation.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologiclineation\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure_Lineation.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicstructure\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Structure.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/ischart\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Time_Ischart.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologictime\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Time.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/geologicunit\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Geologic_Unit.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/hydrology\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Hydrology.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/perdurant\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Perdurant.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/quality\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-Quality.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/qudt/voc\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-QUDTvoc.ttl  [R=303,L]
RewriteRule       ^.*\/gso\/skos/annotation\/           https://raw.githack.com/Loop3D/GKM/master/Loop3D-GSO/Modules/GSO-skos_annotation.ttl  [R=303,L]



# Choose the default response
# ---------------------------
# Default Rule
 RewriteRule ^.*\/gso\/common\/ https://github.com/Loop3D/GKM/blob/master/Loop3D-GSO/GSO-Common.ttl [R=303,L]