RewriteEngine on
RewriteRule ^protocol(.*)? https://github.com/ixofoundation/ixo-protocol/ [R=302,L]
RewriteRule ^accorded-rights(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/accorded-rights/ [R=302,L] 
RewriteRule ^artefacts/(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/artefacts [R=302,L] 
RewriteRule ^github(.*)? https://github.com/ixofoundation/ [R=302,L]
RewriteRule ^attributes(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/attributes/ [R=302,L]
RewriteRule ^claims(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/claims/ [R=302,L]
RewriteRule ^credentials(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/credentials/ [R=302,L]
RewriteRule ^entities(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/entities/ [R=302,L]
RewriteRule ^indicators(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/indicators/ [R=302,L]
RewriteRule ^interfaces(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/interfaces/ [R=302,L]
RewriteRule ^linked-resources(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/linked-resources/ [R=302,L]
RewriteRule ^payments(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/payments/ [R=302,L]
RewriteRule ^methods(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/methods/ [R=302,L]
RewriteRule ^proofs(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/proofs/ [R=302,L]
RewriteRule ^rubrics(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/rubrics/ [R=302,L]
RewriteRule ^specification(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/specification/ [R=302,L]
RewriteRule ^tokens(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/tokens/ [R=302,L]
RewriteRule ^vocab(.*)? https://github.com/ixofoundation/ixo-protocol/tree/master/vocab/ [R=302,L]
RewriteRule ^(.*) https://protocol.ixo.foundation/ [R=302,L]
