Options +FollowSymLinks
RewriteEngine on
RewriteRule ^agbeltran$ http://newt.oerc.ox.ac.uk/people/agb.rdf [R=303,L]
RewriteRule ^aidan$ http://aidan.droppages.com/ [R=302,L]
RewriteRule ^amy$ http://bosatsu.net/foaf/uberconf/amy.rdf [R=303,L]
RewriteRule ^asinesio$ http://asinesio.github.io/foaf.rdf [R=303,L]
RewriteRule ^bsletten$ http://bosatsu.net/foaf/brian.rdf [R=303,L]
RewriteRule ^carl$ http://bosatsu.net/foaf/uberconf/carl.rdf [R=303,L]
RewriteRule ^cat$ http://bosatsu.net/foaf/catherine.rdf [R=303,L]
RewriteRule ^coderbyheart$ https://cto.hiv/ [R=303,L]
RewriteRule ^daniel$ http://bosatsu.net/foaf/daniel.rdf [R=303,L]
RewriteRule ^dave$ https://github.com/dlongley [R=303,L]
RewriteRule ^deege$ http://bosatsu.net/foaf/uberconf/dan.rdf [R=303,L]
RewriteRule ^eswar$ http://bosatsu.net/foaf/uberconf/eswar.rdf [R=303,L]
RewriteRule ^gsanchez$ http://petabyte.github.io/gsanchez.rdf [R=303,L]
RewriteRule ^keith$ http://bosatsu.net/foaf/uberconf/keith.rdf [R=303,L]
RewriteRule ^kerfors$ https://kerfors.blogspot.com [R=301,L]
RewriteRule ^luke$ https://csclub.uwaterloo.ca/~lalorime/ [R=303,L]
RewriteRule ^manu$ https://manu.sporny.org/about/#manu [NE,R=303,L]
RewriteRule ^markus$ http://me.markus.lanthaler.com/ [R=303,L]
RewriteRule ^msolanki$ http://monikasolanki.com [R=303,L]
RewriteRule ^nick$ http://www.nick-andrew.net/ [R=303,L]
RewriteRule ^niklasl$ http://neverspace.net/id [R=303,L]
RewriteRule ^nxg$ http://nxg.me.uk/norman/ [R=303,L]
RewriteRule ^perickso$ http://paul-erickson.net/foaf/paul.rdf [R=303,L]
RewriteRule ^proccaserra$ http://newt.oerc.ox.ac.uk/people/prs.rdf [R=303,L]
RewriteRule ^prototypo$ http://3roundstones.com/dave/me.ttl [R=303,L]
RewriteRule ^pslusarz$ http://bosatsu.net/foaf/pawel.rdf [R=303,L]
RewriteRule ^robin$ http://berjon.com/ [R=302,L]
RewriteRule ^taltmann$ http://52pies.blogspot.com/ [R=302,L]
RewriteRule ^tokarenko$ http://flavors.me/tokarenko [R=303,L]
