# Maintainer: Otávio de Paula Albuquerque (GitHub: oalbuquerque)
# Ontology: FMLO (Fairness in Machine Learning Ontology)

RewriteEngine On
RewriteRule ^$ https://oalbuquerque.github.io/FMLO/ [R=302,L]
RewriteRule ^(.*)$ https://oalbuquerque.github.io/FMLO/$1 [R=302,L]
