Options +FollowSymLinks
RewriteEngine on

# Turn off MultiViews
Options -MultiViews

# If suffix ttl, redirect to turtle
RewriteRule ^.ttl$ https://raw.githubusercontent.com/agile-lab-dev/data-platform-shaper/main/domain/src/main/resources/dp-ontology.ttl

# If suffix owl, redirect to owl
RewriteRule ^.owl$ https://raw.githubusercontent.com/agile-lab-dev/data-platform-shaper/main/domain/src/main/resources/dp-ontology.owl

RewriteRule ^$ https://raw.githubusercontent.com/agile-lab-dev/data-platform-shaper/main/domain/src/main/resources/dp-ontology.ttl
