RewriteEngine on
# Documentation
RewriteRule ^$ http://www.openarchives.org/ore/0.9/jsonld [R=302,L]

# JSON-LD context
RewriteRule ^context$ http://www.openarchives.org/ore/0.9/context.json [R=302,L]

# JSON-LD frame
RewriteRule ^frame$ http://www.openarchives.org/ore/0.9/frame.json [R=302,L]
