Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^$ http://pers.ge.imati.cnr.it/albertoni/PersonalPage/foaf.ttl  [R=303,L]
RewriteRule ^$ http://pers.ge.imati.cnr.it/albertoni/PersonalPage/albertoni.html [R=303,L]