RewriteEngine on

RewriteRule ^$ https://semantics.istc.cnr.it/aesthetics-kg/query/ [R=302,L]
RewriteRule ^sparql/?$ https://semantics.istc.cnr.it/aesthetics-kg/query/ [R=302,L]
RewriteRule ^query/?$ https://semantics.istc.cnr.it/aesthetics-kg/query/ [R=302,L]
