Options +FollowSymLinks
RewriteEngine on

# schema artefacts use raw github URLs
RewriteRule ^kgcl.owl.ttl$ https://raw.githubusercontent.com/incatools/kgcl/main/project/owl/kgcl.owl.ttl [R=302,L]
RewriteRule ^kgcl.context.jsonld$ https://raw.githubusercontent.com/incatools/kgcl/main/project/jsonld/kgcl.context.jsonld [R=302,L]
RewriteRule ^kgcl.shacl.ttl https://raw.githubusercontent.com/INCATools/kgcl/main/project/shacl/kgcl.shacl.ttl [R=302,L]
RewriteRule ^kgcl.yaml$ https://raw.githubusercontent.com/incatools/kgcl/main/src/kgcl_schema/schema/kgcl.yaml [R=302,L]

# Schema elements use github pages
# Rewrite Base URL
RewriteRule ^(.*)$ https://incatools.github.io/kgcl/$1 [R=302,L]
