Options +FollowSymLinks
RewriteEngine on

# Turn off MultiViews
Options -MultiViews

AddType text/turtle .ttl
AddType application/rdf+xml .rdf

# Rewrite rule to serve HTML content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^$ https://alhakam.github.io/brcomp/ [R=302,NE,L]

# In case of accept header <text/turtle>
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^$ https://alhakam.github.io/brcomp/ontology.ttl [R=303,NE,L]

# In case of accept header <application/rdf+xml>
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ https://alhakam.github.io/brcomp/ontology.xml [R=302,NE,L]

# If suffix ttl, redirect to turtle version
RewriteRule ^brcomp.ttl$ https://alhakam.github.io/brcomp/ontology.ttl [R=302,NE,L]

# If suffix html, redirect to html version
RewriteRule ^brcomp.html$ https://alhakam.github.io/brcomp/ [R=302,NE,L]

# If suffix rdf, redirect to rdf version
RewriteRule ^brcomp.rdf$ https://alhakam.github.io/brcomp/ontology.xml [R=302,NE,L]

# If suffix jsonld, redirect to jsonld version
RewriteRule ^brcomp.jsonld$ https://alhakam.github.io/brcomp/ontology.json [R=302,NE,L]

# If suffix nt, redirect to nt version
RewriteRule ^brcomp.nt$ https://alhakam.github.io/brcomp/ontology.nt [R=302,NE,L]

# Default response: html
RewriteRule ^$ https://alhakam.github.io/brcomp/ [R=303,NE,L]
