# # /fmpo/
#
# https://w3id.org/fmpo/ and everything under it redirects to
# https://natlibfi.github.io/SEKO/schema/fmpo/
#
# ## Contact
# This space is administered by:
#
# Jarmo Saarikko
# jarmo.saarikko@gmail.com
# GitHub username: jarmosaarikko

RewriteEngine on
RewriteRule ^(.*)$ https://natlibfi.github.io/SEKO/schema/fmpo/$1 [R=302,L]
