RewriteEngine on

# Applications
# RewriteRule ^/?(.*)$ https://gitlab.utwente.nl/lbonino/fair-course-2021-2022/$1 [R=307,L]

# 2025-2026 Edition

# GROUP 1

# repository

Redirect 301 /2025/group1/ https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop

# data directory

Redirect 301 /2025/group1/data https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/data

# documentation directory

Redirect 301 /2025/group1/doc https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/doc

# metadata directory

Redirect 301 /2025/group1/metadata https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/metadata

# ontology directory

Redirect 301 /2025/group1/ontology https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/ontology

# processing directory

Redirect 301 /2025/group1/processing https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/processing

# shapes directory

Redirect 301 /2025/group1/shapes https://github.com/araratkhachadurian/fair-course-ut-2025-group-1/tree/develop/shapes

# ontology (owx)

RewriteRule ^2025/group1/ontology/ontology(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/ontology/ontology.owx$1 [R=301,L]

# source distribution (csv)

Redirect 301 /2025/group1/data/source_distribution https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/data/pokemonDB_dataset.csv

# fairified distribution (turtle)

RewriteRule ^2025/group1/data/fair_distribution(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/data/data.ttl$1 [R=301,L]

# shapes (turtle)

RewriteRule ^2025/group1/shapes/shape(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/shapes/shapes.ttl$1 [R=301,L]

# metadata dataset (turtle)

RewriteRule ^2025/group1/metadata/metadata_dataset(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/metadata/md_dataset.ttl$ [R=301,L]

# metadata fair distribution (turtle)

RewriteRule ^2025/group1/metadata/metadata_fair_distribution(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/metadata/md_fair_distribution.ttl$1 [R=301,L]

# metadata source distribution (turtle)

RewriteRule ^2025/group1/metadata/metadata_source_distribution(.*)$ https://raw.githubusercontent.com/araratkhachadurian/fair-course-ut-2025-group-1/refs/heads/develop/metadata/md_source_distribution.ttl$1 [R=301,L]


# GROUP 2

# GROUP 3

# repository

Redirect 301 /FAIR-course-UT/2025/group3/ https://github.com/rushatgabhane/fair/tree/main

# data directory

Redirect 301 /FAIR-course-UT/2025/group3/data https://github.com/rushatgabhane/fair/tree/main/data

# metadata directory

Redirect 301 /FAIR-course-UT/2025/group3/metadata https://github.com/rushatgabhane/fair/tree/main/metadata

# ontology directory

Redirect 301 /FAIR-course-UT/2025/group3/ontology https://github.com/rushatgabhane/fair/tree/main/ontology

# semantic data directory

Redirect 301 /FAIR-course-UT/2025/group3/semantic_data https://github.com/rushatgabhane/fair/tree/main/semantic_data

# GROUP 4

# GROUP 5

# FAIR_project main repo
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project https://github.com/aleksandarnn/FAIR_project/tree/main

# data folder
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/data https://github.com/aleksandarnn/FAIR_project/tree/main/data

# id folder
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/id https://github.com/aleksandarnn/FAIR_project/tree/main/id

# property folder
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/property https://github.com/aleksandarnn/FAIR_project/tree/main/property

# station folder
Redirect 301 /FAIR-course-UT/2025/group5/station https://github.com/aleksandarnn/FAIR_project/tree/main/station

# geometry folder
Redirect 301 /FAIR-course-UT/2025/group5/geometry https://github.com/aleksandarnn/FAIR_project/tree/main/geometry

# results folder
Redirect 301 /FAIR-course-UT/2025/group5/results https://github.com/aleksandarnn/FAIR_project/tree/main/results

# ontology folder
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/ontology https://github.com/aleksandarnn/FAIR_project/tree/main/ontology

# CSV distribution
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/distribution_csv https://raw.githubusercontent.com/aleksandarnn/FAIR_project/refs/heads/main/data/daily_42602_2022_cleaned_sampled.csv

# Turtle distribution
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/distribution_turtle https://raw.githubusercontent.com/aleksandarnn/FAIR_project/refs/heads/main/data/daily-42602-2022-cleaned-sampled-csv.ttl

# Dataset metadata
Redirect 301 /FAIR-course-UT/2025/group5/FAIR_project/dataset_metadata https://raw.githubusercontent.com/aleksandarnn/FAIR_project/refs/heads/main/metadata/dataset.ttl


# GROUP 6
# --------------------------------------------
# Board Game FAIRification - Group 6 (2025–2026)
# --------------------------------------------

# Ontology
RewriteRule ^FAIR-course-UT/2025-2026/group6/ont$ https://raw.githubusercontent.com/Nour-205/boardgame-FAIRification/main/ontology/boardgame_ontology.ttl [R=302,L]

# Original (non-FAIRified) Dataset
RewriteRule ^FAIR-course-UT/2025-2026/group6/data/original$ https://raw.githubusercontent.com/Nour-205/boardgame-FAIRification/main/data/boardgame_data_clean.csv [R=302,L]

# FAIRified Dataset (RDF/Turtle)
RewriteRule ^FAIR-course-UT/2025-2026/group6/data$ https://raw.githubusercontent.com/Nour-205/boardgame-FAIRification/main/data/boardgame_dataset.ttl [R=302,L]

# GROUP 7
# Fairified data
Redirect 301 /FAIR-course-UT/2025/group7/data https://github.com/Macanazo/FAIR-Dataset/tree/main/data

# original data
Redirect 301 /FAIR-course-UT/2025/group7/originalData https://github.com/Macanazo/FAIR-Dataset/tree/main/Original%20dataset

# ontology
Redirect 301 /FAIR-course-UT/2025/group7/results https://raw.githubusercontent.com/Macanazo/FAIR-Dataset/refs/heads/main/ontology/Protege.rdf

# metadata
Redirect 301 /FAIR-course-UT/2025/group7/metadata https://github.com/Macanazo/FAIR-Dataset/tree/main/metadata

# GROUP 8

# GROUP 9

#redirecting to the original data
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/original_data https://github.com/taybtt/FDE-Project/blob/main/data/synthetic_coffee_health_10000.csv

#redirecting to the fairified data
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/fair_data https://github.com/taybtt/FDE-Project/blob/main/data/data_rdf.ttl#

#redirecting to the catalog metadata
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/metadata_catalog https://github.com/taybtt/FDE-Project/blob/main/metadata/catalog.ttl

#redirecting to the dataset metadata
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/metadata_dataset https://github.com/taybtt/FDE-Project/blob/main/metadata/dataset.ttl

#redirecting to the csv distribution metadata
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/metadata_csv_distribution https://github.com/taybtt/FDE-Project/blob/main/metadata/csv_distribution.ttl

#redirecting to the ttl distribution metadata
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/metadata_ttl_distribution https://github.com/taybtt/FDE-Project/blob/main/metadata/ttl_distribution.ttl

#redirecting to the ontology
RedirectMatch 302 ^/FAIR-course-UT/2025/group9/ontology https://github.com/taybtt/FDE-Project/blob/main/ontology/sup_cof_health_ont.ttl#

# GROUP 10
# Main repository
RedirectMatch 301 ^/FAIR-course-UT/2025-2026/group10$ https://github.com/vgosa/FAIR-2025-Group10

# Turtle data
Redirect 301 /FAIR-course-UT/2025-2026/group10/data https://raw.githubusercontent.com/vgosa/FAIR-2025-Group10/main/data/fitness-tracker-subset.ttl

# Original CSV data
Redirect 301 /FAIR-course-UT/2025-2026/group10/originalData https://raw.githubusercontent.com/vgosa/FAIR-2025-Group10/main/data/fitness-tracker-subset.csv

# Metadata
Redirect 301 /FAIR-course-UT/2025-2026/group10/metadata https://raw.githubusercontent.com/vgosa/FAIR-2025-Group10/main/metadata/metadata.ttl

# GROUP 11
RewriteRule ^FAIR-course-UT/2025-2026/group11/ont(.*)$ https://raw.githubusercontent.com/xiongxiaoyan07/FAIR-2025-2026-group11-raw/refs/heads/main/ontology/ont.ttl$1 [R=301,L]
RewriteRule ^FAIR-course-UT/2025-2026/group11/originalData$ https://raw.githubusercontent.com/xiongxiaoyan07/FAIR-2025-2026-group11-raw/refs/heads/main/data/environmental-impact-data-v1.csv [R=301,L]
RewriteRule ^FAIR-course-UT/2025-2026/group11/data/?$ https://raw.githubusercontent.com/xiongxiaoyan07/FAIR-2025-2026-group11-raw/refs/heads/main/data/environmental-impact-data-v1.ttl [R=301,L]

# GROUP 12

#main repository
Redirect 302 /FAIR-course-UT/2025/group12/main https://github.com/KionaB/FAIRscripts https://github.com/KionaB/FAIRscripts/

#original data csv
Redirect 302 /FAIR-course-UT/2025/group12/originalData https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/original/train_lending_club.csv

#modified original data folder (contains script to modify and modified csv)
Redirect 302 /FAIR-course-UT/2025/group12/modificationsOriginalData https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/pre-fairification

#ontology rdf
Redirect 302 /FAIR-course-UT/2025/group12/ontology/rdf https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/metadata/FAIRscripts-Protege.rdf

#ontology owl xml
Redirect 302 /FAIR-course-UT/2025/group12/ontology/owlXML https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/metadata/Protege%20Fair%20Data%20group12.owx

#semantic model
Redirect 302 /FAIR-course-UT/2025/group12/semanticModel https://github.com/KionaB/FAIRscripts/blob/474d8502dd63859eb5517b1dd14ead217428044a/fairified/metadata/updatedSemanticModel.png

#data shacl
Redirect 302 /FAIR-course-UT/2025/group12/dataSHACL https://github.com/KionaB/FAIRscripts/blob/474d8502dd63859eb5517b1dd14ead217428044a/fairified/metadata/shacl-train-lending-club-filtered1000-csv.ttl

#fairified data ttl
Redirect 302 /FAIR-course-UT/2025/group12/data https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/data/train-lending-club-filtered1000-csv.ttl

#metadata shacl
Redirect 302 /FAIR-course-UT/2025/group12/metadataSHACL https://github.com/KionaB/FAIRscripts/blob/0e391216f144da221eed2a21d8d030ead39f92c9/FAIR%20Data%20Point/meta-shacl-train-lending-club.ttl

# Group 14
# FAIR_Project main repo
Redirect 301 /FAIR-course-UT/2025/group14/FAIR_project https://github.com/pdrrodrigues/fair_ut_2025_group14/tree/main

# FAIR_Project data folder
Redirect 301 /FAIR-course-UT/2025/group14/FAIR_project/data https://github.com/pdrrodrigues/fair_ut_2025_group14/tree/main/data

# FAIR_Project metadata folder
Redirect 301 /FAIR-course-UT/2025/group14/FAIR_project/metadata https://github.com/pdrrodrigues/fair_ut_2025_group14/tree/main/metadata

# FAIR_Project metadata_shacl
Redirect 301 /FAIR-course-UT/2025/group14/FAIR_project/metadata_shacl https://github.com/pdrrodrigues/fair_ut_2025_group14/tree/main/metadata_shacl

# FAIR_Project ontology
Redirect 301 /FAIR-course-UT/2025/group14/FAIR_project/ontology https://github.com/pdrrodrigues/fair_ut_2025_group14/tree/main/ontology

# GROUP 16
# FAIR_project main repo
Redirect 301 /FAIR-course-UT/2025/16/FAIR_project https://github.com/ricepape/FAIR-Data-Engineering-project

# data folder
Redirect 301 /FAIR-course-UT/2025/16/data https://github.com/ricepape/FAIR-Data-Engineering-project/tree/main/Data

# ontology file
Redirect 301 /FAIR-course-UT/2025/16/ont https://raw.githubusercontent.com/ricepape/FAIR-Data-Engineering-project/refs/heads/main/Ontology/Updated_Amazon.rdf

# original csv file
Redirect 301 /FAIR-course-UT/2025/16/original_csv https://raw.githubusercontent.com/ricepape/FAIR-Data-Engineering-project/refs/heads/main/Data/products-original-dataset.csv

# FAIRified turtle file
Redirect 301 /FAIR-course-UT/2025/16/fairified_data https://raw.githubusercontent.com/ricepape/FAIR-Data-Engineering-project/refs/heads/main/Data/products-rdf.ttl

# shapes 
Redirect 301 /FAIR-course-UT/2025/16/shapes https://raw.githubusercontent.com/ricepape/FAIR-Data-Engineering-project/refs/heads/main/Shapes/Amazon_shacl.ttl

#Group 19
RewriteRule ^FAIR-course-UT/2025/group19/FAIR_project/?(.*)$ https://github.com/patriciaferreiradasilva/FAIR_petrokgraph/tree/main/$1 [R=302,R]

#Group 22

# main
Redirect 301 /FAIR-course-UT/2025-2026/group22 https://github.com/JennifervanLangen/FAIR-Data-Engineering/tree/main

# data:
Redirect 301 /FAIR-course-UT/2025-2026/group22/data https://github.com/JennifervanLangen/FAIR-Data-Engineering/tree/main/data

Redirect 301 /FAIR-course-UT/2025-2026/group22/data/original  https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/data/Electric_Vehicle_Population_Data.csv

Redirect 301 /FAIR-course-UT/2025-2026/group22/data/fair https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/data/Openrefine_Electric-Vehicle-Population-Data.ttl

# Ontology:
Redirect 301 /FAIR-course-UT/2025-2026/group22/ont https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/ontology/ont.ttl

# Metadata:
Redirect 301 /FAIR-course-UT/2025-2026/group22/metadata https://github.com/JennifervanLangen/FAIR-Data-Engineering/tree/main/metadata

Redirect 301 /FAIR-course-UT/2025-2026/group22/metadata/catalog https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/metadata/metadata_catalog.ttl

Redirect 301 /FAIR-course-UT/2025-2026/group22/metadata/dataset https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/metadata/metadata_dataset.ttl

Redirect 301 /FAIR-course-UT/2025-2026/group22/metadata/original_distribution https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/metadata/metadata_distribution_original.ttl

Redirect 301 /FAIR-course-UT/2025-2026/group22/metadata/fair_distribution https://raw.githubusercontent.com/JennifervanLangen/FAIR-Data-Engineering/refs/heads/main/metadata/metadata_distribution_fairified.ttl

#Group 23

Redirect 301 /FAIR-course-UT/2025-2026/group23 https://github.com/just4THEsmile/FAIR/tree/master

# data
Redirect 301 /FAIR-course-UT/2025-2026/group23/data https://github.com/just4THEsmile/FAIR/tree/master/data

Redirect 301 /FAIR-course-UT/2025-2026/group23/data/dataset https://github.com/just4THEsmile/FAIR/raw/master/data/data.ttl

Redirect 301 /FAIR-course-UT/2025-2026/group23/data/original https://github.com/just4THEsmile/FAIR/raw/master/data/original.json

# ontology

Redirect 301 /FAIR-course-UT/2025-2026/group23/ont https://github.com/just4THEsmile/FAIR/raw/master/ontology/ontology.ttl

# metadata 


Redirect 301 /FAIR-course-UT/2025-2026/group23/metadata https://github.com/just4THEsmile/FAIR/tree/master/metadata

# Group X

RewriteRule ^/2025-2026/groupx/ontology#?(.*) https://raw.githubusercontent.com/FAIRDataTeam/FDP-O/v1.1/fdp-ontology.owl [R=307,L]
