RewriteEngine On

# Turtle
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} application/x-turtle
RewriteRule ^$ https://raw.githubusercontent.com/TU-USUARIO/erosion-ontology/main/ontology.ttl [R=303,L]

# HTML documentation
RewriteRule ^$ https://TU-USUARIO.github.io/erosion-ontology/ [R=303,L]
