Options +FollowSymLinks
RewriteEngine on
#Set of rules for the applications (302, no Content negotiation)
RewriteRule ^iuiSurvey$ http://dgarijo.github.io/DataNarratives/other/Questionaire.pdf [R=302,L]
RewriteRule ^iuiResults$ http://dgarijo.github.io/DataNarratives/other/EvaluatingDataNarratives-charts.xlsx [R=302,L]