# See https://www.cultural-ai.nl/projects/aicult-culturally-aware-ai
#
# Contact: Andre, Jacco

# https://w3id.org/culco/ontology - GitHub repo
RewriteRule ^wordsmatter/(.*)$ https://raw.githubusercontent.com/cultural-ai/wordsmatter/main/glossary.ttl [R=302,L]
RewriteRule ^$ https://raw.githubusercontent.com/cultural-ai/wordsmatter/main/schema.ttl [R=302,L]

