Options +FollowSymLinks
RewriteEngine on
RewriteRule ^domain$ https://atomgraph.github.io/LinkedDataHub/ns/apl.ttl [R=302,L]
RewriteRule ^templates$ https://atomgraph.github.io/LinkedDataHub/ns/aplt.ttl [R=302,L]