Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://qudt.org/1.1/vocab/quantity [R=302,L]
RewriteRule ^ext$ https://raw.githubusercontent.com/semiotproject/ontologies/master/qudt/vocab/quantity/ext.owl [R=302,L]
