# This is the htaccess file for the w3id name for the resources associated with
# the DOVeS ontology in BioPortal

RewriteEngine on

# Rewrite for DOVeS
RewriteRule ^$ https://bioportal.bioontology.org/ontologies/DOVES/?p=classes
RewriteRule (.+) https://bioportal.bioontology.org/ontologies/DOVES/?p=classes&conceptid=https://w3id.org/doves/$1

