Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://www.dreampublic.net/pbs [R=302,L]
RewriteRule ^AARC000101.xml$ http://www.dreampublic.net/pbs/rdf/1.2/programs/A/A/AARC000101.xml [R=302,L]
