Header set Access-Control-Allow-Origin *

Options +FollowSymLinks

RewriteEngine on

# Redirect *anything* to the raw ontology file
RewriteRule ^.*$ https://raw.githubusercontent.com/Fraunhofer-FIT-DSAI/drk-information-model/refs/heads/main/drk-ontology.ttl [R=303]