Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/n-triples .n3
AddType application/ld+json .json
# Rewrite engine setup
RewriteEngine On

# Rewrite rule to serve HTML content from the vocabulary URI if requested
# RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
# RewriteCond %{HTTP_ACCEPT} text/html [OR]
# RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
# RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^core(.*) /def/core$1
RewriteRule ^organisation(.*) /def/organisation$1
RewriteRule ^product(.*) /def/product$1
RewriteRule ^data-center(.*) /def/data-center$1
RewriteRule ^server(.*) /def/server$1
RewriteRule ^network(.*) /def/network$1
RewriteRule ^software(.*) /def/software$1
RewriteRule ^database(.*) /def/database$1
RewriteRule ^hardware(.*) /def/hardware$1
RewriteRule ^certificate(.*) /def/certificate$1

RewriteRule ^kos(.*) /kos$1

#If no specific ontology or SKOS codelist is requested, return the HTML ontology catalogue 
RewriteRule ^.*$ https://oeg-upm.github.io/devops-infra/index.html [R=302,L]


