Options +FollowSymLinks
RewriteEngine on

RewriteRule ^blog/?$ https://bact.cc/ [R=303,L]
RewriteRule ^cv/?$ https://bact.github.io/cv/ [R=303,L]
RewriteRule ^orcid/?$ https://orcid.org/0000-0002-9698-1899 [R=303,L]
RewriteRule ^publications/?$ https://bact.github.io/publications/ [R=303,L]

# Catch-all
RewriteRule ^(.*)$ https://bact.github.io/$1 [R=303,L]
