Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_ACCEPT} html

# REDIRECTS TO VISUALISATIONS
RewriteRule ^sparql$ http://projects.dharc.unibo.it/lodedo/sparql [R=302,L]
RewriteRule ^artworks/(.*) http://projects.dharc.unibo.it/lodedo/artworks/$1 [R=302,L]
RewriteRule ^graphs/(.*) http://projects.dharc.unibo.it/lodedo/scholarly-interpretations/$1 [R=302,L]
RewriteRule ^conjectures/(.*) http://projects.dharc.unibo.it/lodedo/auto-interpretations/$1 [R=302,L]
RewriteRule ^data/(.*) http://projects.dharc.unibo.it/lodedo/data/lodedo.trig [R=302,L]

# DEFAULT RULE
RewriteRule ^(.*)$ https://projects.dharc.unibo.it/lodedo$1 [L,R=301]