Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://github.com/NCBI-Hackathons/FAIR_apps [R=302,L]
RewriteRule ^data$ https://github.com/NCBI-Hackathons/FAIR_apps/blob/master/data/metadata.ttl [R=302,L]
