RewriteEngine On

# Main project landing page
RewriteRule ^$ https://rubenzoodsma.github.io/Alarm-Ontologie/ [R=302,L]

# Medical Device Alarm Ontology documentation
RewriteRule ^ontology/?$ https://rubenzoodsma.github.io/Alarm-Ontologie/ontology/ [R=302,L]

# Individual ontology terms
# Example:
# https://w3id.org/mda/ontology/Alarm
# -> https://rubenzoodsma.github.io/Alarm-Ontologie/ontology/#Alarm
RewriteRule ^ontology/(.+)$ https://rubenzoodsma.github.io/Alarm-Ontologie/ontology/#$1 [NE,R=302,L]

# Medical Device Alarm Vocabulary
RewriteRule ^vocab/?$ https://rubenzoodsma.github.io/Alarm-Ontologie/vocab/ [R=302,L]

# Instance data
RewriteRule ^data/?$ https://rubenzoodsma.github.io/Alarm-Ontologie/data/ [R=302,L]

# Knowledge graphs
RewriteRule ^graph/?$ https://rubenzoodsma.github.io/Alarm-Ontologie/graph/ [R=302,L]