# https://w3id.org/KulturVok<ANYTHING> redirects to https://museumsvokabular-de.github.io/Museumsvokabular-Hub/<ANYTHING>
#
# ## Contact
# This space is administered by:  
#
# Lasse Mempel-Länger
# GitHub username: LasseMempel
# email: lasse.mempellaenger@leiza.de

RewriteEngine on
RewriteRule ^(.*)$ https://museumsvokabular-de.github.io/Museumsvokabular-Hub/$1 [R=303,L]