RewriteEngine on



## ONTOLEX2SKOS Redirections

# Repository
RedirectMatch 302 ^/thor/ontolex2skos/?$ https://github.com/unibz-core/ontolex2skos

# Data
RedirectMatch 302 ^/thor/ontolex2skos/data/?$ https://raw.githubusercontent.com/unibz-core/ontolex2skos/main/src/test/resources/thor.ttl



## THOR ONTOLOGY Redirections

# Repository
RedirectMatch 302 ^/thor/thor-ontology/git/?$ https://github.com/unibz-core/thor-ontology

# Vocabulary
RedirectMatch 302 ^/thor/thor-ontology/?$ https://raw.githubusercontent.com/unibz-core/thor-ontology/main/thor-ontology.owl

# Resolvable Vocabulary Concept
RedirectMatch 302 ^/thor/thor-ontology/([^/]+)$ https://raw.githubusercontent.com/unibz-core/thor-ontology/main/thor-ontology.owl#$1



## PUBLICATION

RedirectMatch 302 ^/thor/paper/?$ https://www.researchgate.net/publication/371439612_A_Model-Driven_Transformation_from_Lexicons_to_Thesauri/