RewriteEngine on
RewriteRule 0000001 https://docs.google.com/drawings/d/1YPGRMMFi09Vl1eE22DvEpaXGRwgn9n4FubWwaGaejN8/edit?usp=sharing [R=302,L]
RewriteRule 0000002 https://github.com/midas-isg/data-format-repository/wiki/Omnivore-2.0 [R=302,L]
RewriteRule 0000003 https://research.rods.pitt.edu/Galapagos.pdf [R=302,L]
RewriteRule 0000004 https://github.com/midas-isg/data-format-repository/wiki/Galapagos-Output-Format [R=302,L]
RewriteRule 0000005 https://github.com/midas-isg/data-format-repository/wiki/Galapagos-v1.0 [R=302,L]
RewriteRule 0000006 https://github.com/midas-isg/data-format-repository/wiki/Galapagos-Output-Format [R=302,L]
RewriteRule 0000007 http://research.rods.pitt.edu/EpiCaseMapUserGuide.pdf [R=302,L]
RewriteRule 0000008 https://github.com/midas-isg/data-format-repository/wiki/EpiCaseMap-1.2 [R=302,L]
RewriteRule 0000009 http://www.stat.cmu.edu/~spew/assets/spew_documentation.pdf [R=302,L]
RewriteRule 0000010 http://stat.cmu.edu/~spew/assets/spew_documentation.pdf [R=302,L]
RewriteRule 0000011 http://stat.cmu.edu/~spew/assets/spew_documentation.pdf [R=302,L]
RewriteRule 0000012 http://stat.cmu.edu/~spew/assets/spew_documentation.pdf [R=302,L]
RewriteRule 0000013 https://github.com/midas-isg/data-format-repository/wiki/SPEW.US-File-Formats [R=302,L]
RewriteRule 0000014 https://github.com/midas-isg/data-format-repository/wiki/SPEW.IPUMS-File-formats [R=302,L]
RewriteRule 0000015 https://github.com/midas-isg/data-format-repository/wiki/SPEW.Canada-file-formats [R=302,L]
RewriteRule 0000016 http://www.epimodels.org/10_Midas_Docs/syneco/v3/us_documentation.pdf [R=302,L]
RewriteRule 0000017 https://github.com/midas-isg/data-format-repository/wiki/Synthia-United-States-2010 [R=302,L]
RewriteRule 0000018 https://github.com/midas-isg/data-format-repository/wiki/Data-format-for-Project-Tycho-2.0-dataset-downloadable-CSV-files [R=302,L]
RewriteRule 0000019 https://github.com/midas-isg/mdc-xsd-and-types/blob/1.0/src/main/resources/software.xsd [R=302,L]
