Options +FollowSymLinks
RewriteEngine on
RewriteRule "^data(.*)$" "https://hobbitdata.informatik.uni-leipzig.de$1" [R=302,L]
RewriteRule "^limes/lco(.*)$" "https://github.com/dice-group/LIMES/blob/master/limes-core/resources$1" [R=302,L]
RewriteRule "^orca/code(.*)$" "https://github.com/dice-group/orca$1" [R=302,L]
RewriteRule "^orca/ontology" "https://raw.githubusercontent.com/dice-group/orca/master/benchmark.ttl" [R=302,L]
RewriteRule "^orca$" "https://dice-research.org/ORCA" [R=302,L]
RewriteRule "^squirrel/code(.*)$" "https://github.com/dice-group/Squirrel$1" [R=302,L]
RewriteRule "^squirrel/documentation(.*)$" "https://dice-group.github.io/squirrel.github.io$1" [R=302,L]
RewriteRule "^squirrel$" "https://dice-research.org/Squirrel" [R=302,L]
RewriteRule "^(.*)$" "https://dice-research.org/$1" [R=302,L]
