Header set Access-Control-Allow-Origin *

AddType text/turtle .ttl

RewriteEngine On

RewriteRule ^cirp.ttl$ https://evolopro.pages.fraunhofer.de/milling-schema/cirp.ttl [R=303,L]
RewriteRule ^helical-end-mills.ttl$ https://evolopro.pages.fraunhofer.de/milling-schema/helical-end-mills.ttl [R=303,L]
RewriteRule ^dpart.ttl$ https://evolopro.pages.fraunhofer.de/milling-schema/dpart.ttl [R=303,L]
