RewriteEngine On

# Redirect the base ontology URI to a specific page
RewriteRule ^ontology/AgentCapabilityOntology/?$ https://raw.githubusercontent.com/cameronmore/AgentCapabilityOntology/refs/heads/main/src/ontology/AgentCapabilityOntology.ttl [R=302,L]

# Redirect everything under /AgentCapabilityOntology/ (except the base) to documentation
RewriteRule ^ontology/AgentCapabilityOntology/.+$ https://cameronmore.github.io/AgentCapabilityOntology/AgentCapabilityOntologyDocs.html [R=302,L]
