RewriteEngine on

# OWL implementation redirections
RedirectMatch 302 ^/ontouml/?$ https://raw.githubusercontent.com/OntoUML/ontouml-vocabulary/main/ontouml.ttl

# Resources' GitHub repositories 
RedirectMatch 302 ^/ontouml/metamodel/?$ https://github.com/OntoUML/ontouml-metamodel
RedirectMatch 302 ^/ontouml/vocabulary/?$ https://github.com/OntoUML/ontouml-vocabulary
RedirectMatch 302 ^/ontouml/schema/?$ https://github.com/OntoUML/ontouml-schema
