RewriteEngine on

RedirectMatch 302 ^/ontouml/?$ https://raw.githubusercontent.com/OntoUML/ontouml-vocabulary/main/ontouml.ttl
RedirectMatch 302 ^/ontouml/git/?$ https://github.com/OntoUML/ontouml-vocabulary
