Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://github.com/berkeleybop/artificial-intelligence-ontology [R=302,L]

RewriteRule ^aio.owl$ https://raw.githubusercontent.com/berkeleybop/artificial-intelligence-ontology/main/aio.owl [R=302,L]

RewriteRule ^aio-src.csv$ https://raw.githubusercontent.com/berkeleybop/artificial-intelligence-ontology/refs/heads/main/src/ontology/aio-src.csv [R=302,L]

RewriteRule ^bridge/aio-bridge-to-upper.owl$ https://raw.githubusercontent.com/berkeleybop/artificial-intelligence-ontology/main/src/ontology/bridge/aio-bridge-to-upper.owl [R=302,L]

RewriteRule ^mappings$ https://github.com/berkeleybop/artificial-intelligence-ontology/tree/main/src/mappings [R=302,L]

RewriteRule ^(.*)$ https://bioportal.bioontology.org/ontologies/AIO/?p=classes&conceptid=https://w3id.org/aio/$1 [R=302,L,NE]
