# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
# AddType application/ld+json .jsonld

RewriteEngine on


RewriteRule ^$ https://autocodemeta.linkeddata.es/ [R=301,L]

