Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for a dummy twin used in measurements for an article
RewriteRule ^$ https://juusoautiosalo.github.io/twinbase-for-measurements/01a88415-d484-479a-a232-1e6443728e51 [R=302,L]
