# twc/sudo/ repository
#
# https://w3id.org/twc/sudo redirects to
# https://raw.githubusercontent.com/tetherless-world/idea-ontology/refs/heads/main/ontology/releases/3.1.0/ontology.rdf
#
# ## Contact
# This space is administered by:  
#
# Henrique Santos
# GitHub username: hansidm

RewriteEngine on
RewriteRule ^ https://raw.githubusercontent.com/tetherless-world/idea-ontology/refs/heads/main/ontology/releases/3.1.0/ontology.rdf [R=303,L]