# nemo
#
# https://w3id.org/nemo/ redirects to
# https://nemo.inf.ufes.br/
#
# https://w3id.org/nemo/gufoshapes redirects to
# https://nemo-ufes.github.io/gufoshapes/gufoshapes.ttl
#
# ## Contact
# This space is administered by:  
#
# João Paulo A. Almeida
# GitHub username: jpalmeida

Options +FollowSymLinks
RewriteEngine on
RewriteRule "^gufoshapes" "https://nemo-ufes.github.io/gufoshapes/gufoshapes.ttl" [R=302,L]
RewriteRule "^(.*)$" "https://nemo.inf.ufes.br/$1" [R=302,L]
