# BESS: Built Environment Scanning System Ontology

# BESS is an open data initiative to share built environment data in a structured way, relating to the dob ontology this ontology specifically describes the systems required for dob.
#
# https://w3id.org/bess/ redirects to https://github.com/abc-rp/bess/
#
# ## Contact
# This space is administered by:  
#
# Gary Edwards
# GitHub username: garyedwards

# Nathaniel Hey
# GitHub username: gnathoi

RewriteEngine on
RewriteRule ^ https://github.com/abc-rp/bess/ [R=302,L]
