RewriteEngine On
RewriteBase /homicidiosKG/

# ----------------------------------------
# Maintainer: Francisco Carrillo 
# mail: fcarrillob2022@cic.ipn.mx
# Project: Homicides-KG
# ----------------------------------------

# Redirect the base path to the main TTL file
RewriteRule ^$ https://raw.githubusercontent.com/fcarrillo-brenes/Homicides-KG/main/homicidiosKG4.ttl [R=302,L]

# Redirect any resource (e.g., /8322444) to the same TTL file
RewriteRule ^(.*)$ https://raw.githubusercontent.com/fcarrillo-brenes/Homicides-KG/main/homicidiosKG4.ttl [R=302,L]
