Options +FollowSymLinks
RewriteEngine on


# Website Homepage
RewriteRule ^/?$ https://idnau.org/ [R=302,L]


# PIDs

# def
# Extended Geometries Ontology
RewriteRule def/ego.ttl https://idn-au.github.io/ext-geom-ont/ego.ttl [R=302,L]
RewriteRule def/ego($|/.*) https://idn-au.github.io/ext-geom-ont/ego.html [R=302,L]

# Agents Governance Profile
RewriteRule def/agp/?$ https://idn-au.github.io/agents-governance-profile/profile.html [R=302,L]
RewriteRule def/agp/spec https://idn-au.github.io/agents-governance-profile/resources/specification.html [R=302,L]
RewriteRule def/agp/repo https://github.com/idn-au/agents-governance-profile/ [R=302,L]
RewriteRule def/agp/validator https://idn-au.github.io/agents-governance-profile/resources/validator.ttl [R=302,L]
RewriteRule def/agp/validator-compounded https://idn-au.github.io/agents-governance-profile/resources/validator-compounded.ttl [R=302,L]

# IDN Catalogue Profile
RewriteRule def/cp/?$ https://idn-au.github.io/idn-catalogue-profile/profile.html [R=302,L]
RewriteRule def/cp/guide https://idn-au.github.io/idn-catalogue-profile/resources/guidance.html [R=302,L]
RewriteRule def/cp/spec https://idn-au.github.io/idn-catalogue-profile/resources/specification.html [R=302,L]
RewriteRule def/cp/validator https://idn-au.github.io/idn-catalogue-profile/resources/validator.ttl [R=302,L]
RewriteRule def/cp/validator-compounded https://idn-au.github.io/idn-catalogue-profile/resources/validator-compounded.ttl [R=302,L]
RewriteRule def/cp/repo https://github.com/idn-au/idn-catalogue-profile/ [R=302,L]
RewriteRule def/cp/sdo$ https://idn-au.github.io/idn-catalogue-profile/resources/mappings/sdo.html [R=302,L]
RewriteRule def/cp/sdo.ttl https://idn-au.github.io/idn-catalogue-profile/resources/mappings/sdo.ttl [R=302,L]
RewriteRule def/cp/sdo.py https://idn-au.github.io/idn-catalogue-profile/resources/mappings/sdo.py [R=302,L]
RewriteRule def/cp/rif-cs https://idn-au.github.io/idn-catalogue-profile/resources/mappings/rif-cs.html [R=302,L]
