Options +FollowSymLinks
RewriteEngine on


# Website Homepage
RewriteRule ^/?$ https://idnau.org/ [R=302,L]


# PIDs

# Catalogued Resources
# Register
RewriteRule ^resource/$ http://idn.kurrawong.net/catalog/idndc [R=302,L]
# Individual Resources
RewriteRule ^resource/(.*)$ http://idn.kurrawong.net/catalog/idndc/$1 [R=302,L]

# Datasets
# General
RewriteRule ^dataset/agents http://idn.kurrawong.net/catalog/agents [R=302,L]
RewriteRule ^dataset/cat http://idn.kurrawong.net/catalog/cat [R=302,L]
RewriteRule ^dataset/democat http://idn.kurrawong.net/catalog/democat [R=302,L]

# Spatial
RewriteRule ^dataset/AGIL http://idn.kurrawong.net/dataset/AGIL [R=302,L]
RewriteRule ^dataset/NNTT http://idn.kurrawong.net/dataset/NNTT [R=302,L]

# Vocabularies
# Register
RewriteRule ^vocab/$ http://idn.kurrawong.net/vocab [R=302,L]
# Individual Resources
RewriteRule ^vocab/(.*)$ http://idn.kurrawong.net/vocab/$1 [R=302,L]

# def
# Agents Governance Profile
RewriteRule def/agp/?$ https://idn-au.github.io/agents-governance-profile/profile.html [R=302,L]
RewriteRule def/agp/spec https://idn-au.github.io/agents-governance-profile/rd/specification.html [R=302,L]
RewriteRule def/agp/repo https://github.com/idn-au/agents-governance-profile/ [R=302,L]
RewriteRule def/agp/validator https://idn-au.github.io/agents-governance-profile/rd/validator.ttl [R=302,L]
RewriteRule def/agp/validator-compounded https://idn-au.github.io/agents-governance-profile/rd/validator-compounded.ttl [R=302,L]

# IDN Catalogue Profile
RewriteRule def/cp/?$ https://idn-au.github.io/idn-catalogue-profile/profile.html [R=302,L]
RewriteRule def/cp/guide https://idn-au.github.io/idn-catalogue-profile/rd/guidance.html [R=302,L]
RewriteRule def/cp/spec https://idn-au.github.io/idn-catalogue-profile/rd/specification.html [R=302,L]
RewriteRule def/cp/validator https://idn-au.github.io/idn-catalogue-profile/rd/validator.ttl [R=302,L]
RewriteRule def/cp/validator-compounded https://idn-au.github.io/idn-catalogue-profile/rd/validator-compounded.ttl [R=302,L]
RewriteRule def/cp/repo https://github.com/idn-au/idn-catalogue-profile/ [R=302,L]
RewriteRule def/cp/sdo$ https://idn-au.github.io/idn-catalogue-profile/rd/mappings/sdo.html [R=302,L]
RewriteRule def/cp/sdo.ttl https://idn-au.github.io/idn-catalogue-profile/rd/mappings/sdo.ttl [R=302,L]
RewriteRule def/cp/rif-cs https://idn-au.github.io/idn-catalogue-profile/rd/mappings/rif-cs.html [R=302,L]
