RewriteEngine On
RewriteRule ^(.*)$ https://alvaccariello.github.io/cpm-arch/$1 [R=302,L]


## Redirects for CPM - Conservation Process Model: An ontology for Conservation in Architecture

## Maintainers:
- GitHub ID: @alvaccariello

### CPM Management Group:
<a href="https://orcid.org/0000-0003-3472-4229"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon"> Donatella Fiorani</a>, 
<a href="https://orcid.org/000-0002-5132-6858"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon"> Marta Acierno</a>
<a href="https://orcid.org/0000-0003-4596-0470"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon"> Alessia Vaccariello</a>

