RewriteEngine on
RewriteRule ^vocabs(/)?$ https://vocabs.edu-sharing.net/$1 [R=302,L]
RewriteRule ^vocabs/(.*) https://vocabs.edu-sharing.net/w3id.org/edu-sharing/vocabs/$1 [R=302,L]
RewriteRule ^(.*) https://edu-sharing.net/$1 [R=302,L]