Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for FGCS bundle 2014
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^fgcs2014RO$ http://dgarijo.github.io/ResearchObjects/Motifs_bundle_page-FGCS/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^fgcs2014RO$ http://dgarijo.github.io/ResearchObjects/Motifs_bundle_page-FGCS/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^fgcs2014RO$ http://dgarijo.github.io/ResearchObjects/Motifs_bundle_page-FGCS/description.json [R=303,L]
RewriteRule ^fgcs2014RO$ http://dgarijo.github.io/ResearchObjects/Motifs_bundle_page-FGCS/ [R=303,L]

#Rewrite rules for PLOS_ONE bundle 2013
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^plos2013RO$ http://dgarijo.github.io/ResearchObjects/Drugome_Bundle_page-PLOS/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^plos2013RO$ http://dgarijo.github.io/ResearchObjects/Drugome_Bundle_page-PLOS/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^plos2013RO$ http://dgarijo.github.io/ResearchObjects/Drugome_Bundle_page-PLOS/description.json [R=303,L]
RewriteRule ^plos2013RO$ http://dgarijo.github.io/ResearchObjects/Drugome_Bundle_page-PLOS/ [R=303,L]

#Rewrite rules for WORKS bundle 2013
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^works2013RO$ http://dgarijo.github.io/ResearchObjects/OptimizationExampleBundle/html/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^works2013RO$ http://dgarijo.github.io/ResearchObjects/OptimizationExampleBundle/html/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^works2013RO$ http://dgarijo.github.io/ResearchObjects/OptimizationExampleBundle/html/description.json [R=303,L]
RewriteRule ^works2013RO$ http://dgarijo.github.io/ResearchObjects/OptimizationExampleBundle/html/ [R=303,L]

#Rewrite rules for K-CAP bundle 2013
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^kcap2013RO$ http://dgarijo.github.io/ResearchObjects/Fragment_Finder_page/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^kcap2013RO$ http://dgarijo.github.io/ResearchObjects/Fragment_Finder_page/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^kcap2013RO$ http://dgarijo.github.io/ResearchObjects/Fragment_Finder_page/description.json [R=303,L]
RewriteRule ^kcap2013RO$ http://dgarijo.github.io/ResearchObjects/Fragment_Finder_page/ [R=303,L]

#Rewrite rules for eScience 2014 (FragFlow)
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^eScienceFragFlow2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014FragFlow/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^eScienceFragFlow2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014FragFlow/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^eScienceFragFlow2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014FragFlow/description.json [R=303,L]
RewriteRule ^eScienceFragFlow2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014FragFlow/ [R=303,L]

#Rewrite rules for eScience 2014 (the LONI Pipeline user survey)
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^eScienceLONI2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014UserSurvey/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^eScienceLONI2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014UserSurvey/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^eScienceLONI2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014UserSurvey/description.json [R=303,L]
RewriteRule ^eScienceLONI2014RO$ http://dgarijo.github.io/ResearchObjects/eScience2014UserSurvey/ [R=303,L]

#Rewrite rules for works 2014
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^works2014RO$ http://dgarijo.github.io/ResearchObjects/WORKS14-WfEcosystems/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^works2014RO$ http://dgarijo.github.io/ResearchObjects/WORKS14-WfEcosystems/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^works2014RO$ http://dgarijo.github.io/ResearchObjects/WORKS14-WfEcosystems/description.json [R=303,L]
RewriteRule ^works2014RO$ http://dgarijo.github.io/ResearchObjects/WORKS14-WfEcosystems/ [R=303,L]

#Rewrite rules for Thesis work (2015)
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* 
RewriteRule ^mining-abstractions-in-scientific-wfs$ http://dgarijo.github.io/ResearchObjects/MiningAbstractionsInScientificWfs/description.rdf [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* 
RewriteRule ^mining-abstractions-in-scientific-wfs$ http://dgarijo.github.io/ResearchObjects/MiningAbstractionsInScientificWfs/description.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* 
RewriteRule ^mining-abstractions-in-scientific-wfs$ http://dgarijo.github.io/ResearchObjects/MiningAbstractionsInScientificWfs/description.json [R=303,L]
RewriteRule ^mining-abstractions-in-scientific-wfs$ http://dgarijo.github.io/ResearchObjects/MiningAbstractionsInScientificWfs/ [R=303,L]