Options +FollowSymLinks
RewriteEngine on

RewriteRule ^resource/(.*) https://chuo-dl.github.io/snorql/?describe=https://w3id.org/chuo-dl/resource/$1 [R=302,L]

RewriteRule ^(.*) https://chuo-dl.github.io/$1 [R=302,L]
