# .htaccess file for w3id.org/ERKNet/fdp/
#
# https://w3id.org/ERKNet/fdp/ redirects to https://fdp.erkreg.eu/
#
# ## Contact
# This space is administered by:
#
# ERKNet - European Rare Kidney Disease Reference Network
# contact@erknet.org
# GitHub username: erknet

RewriteEngine on

# Permanent redirect to the FDP endpoint
RewriteRule ^$ https://fdp.erkreg.eu/ [R=301,L]

# Permanent redirect anything under /fdp/ to same endpoint
RewriteRule ^(.*)$ https://fdp.erkreg.eu/$1 [R=301,L]
