Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/?$ https://syndream.laas.fr:8082/ [R=302,L]
RewriteRule ^(.+)$ https://syndream.laas.fr:8082/$1 [R=302,L]
