Options +FollowSymLinks
RewriteEngine on

RewriteRule ^v/([^/]*)/scheme/? http://vocab.permafrostnet.ca/vocab/$1 [R=303,L,NE]

RewriteRule ^v/([^/]*)/(.+)/? http://vocab.permafrostnet.ca/vocab/$1/$2 [R=303,L,NE]

RewriteRule ^v/([^/]*)/? http://vocab.permafrostnet.ca/collection/$1 [R=303,L,NE]
