# .htaccess for W3ID redirection
# This file redirects from https://w3id.org/fachinfo-bw to https://glockenturm.github.io/fachinfoustgbw

# Contact information
# Maintainer: Glockenturm
# GitHub: https://github.com/Glockenturm

RewriteEngine on
RewriteRule ^(.*) https://glockenturm.github.io/fachinfoustgbw/$1 [R=302,L]
