Options +FollowSymLinks
RewriteEngine on 

#https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2Fcarbonatenitratemineral

#  uri to access individual term

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule       ^(.+)$     https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2F$1 [R=303,L]

RewriteCond %{HTTP:Accept} application/json [NC]
RewriteRule       ^(.+)$               https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource.json?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2F$1 [R=303,L]

RewriteCond %{HTTP:Accept} application/rdf+xml [NC]
RewriteRule       ^(.+)$               https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource.rdf?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2F$1 [R=303,L]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule       ^(.+)$               https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource.html?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2F$1 [R=303,L]

# default format is html
RewriteRule       ^(.+)$               https://vocabs.ardc.edu.au/repository/api/lda/isamples/isamples-mineral-group-vocabulary/1-0/resource?uri=https%3A%2F%2Fw3id.org%2Fisample%2Fearthenv%2Fmingroup%2F1.0%2F$1 [R=303,L]



