Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
SetEnvIf Accept ^.*application/rdf\+xml.* SYNTAX=rdf
SetEnvIf Accept ^.*text/turtle.* SYNTAX=ttl
SetEnvIf Accept ^.*application/json-ld.* SYNTAX=jsonld
SetEnvIf Accept ^.*text/html.* SYNTAX=html
SetEnvIf Request_URI ^.*$ ROOT_URL=https://raw.githubusercontent.com/italia/daf-ontologie-vocabolari-controllati/master/Ontologie/

RewriteCond %{ENV:SYNTAX} ^(rdf|ttl|jsonld)$
RewriteRule ^([a-zA-Z-_0-9]+)(\-aligns)(/?)$ %{ENV:ROOT_URL}$1/latest/$1$2-AP_IT.%{ENV:SYNTAX} [R=303,L]
RewriteCond %{ENV:SYNTAX} ^(rdf|ttl|jsonld)$
RewriteRule ^([a-zA-Z-_0-9]+)(/?)$ %{ENV:ROOT_URL}$1/latest/$1-AP_IT.%{ENV:SYNTAX} [R=303,L]

RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^(.+)(/.+)$ https://schema.gov.it/lodview/onto/$1$2 [R=303,L]
RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^(.+)/$ https://schema.gov.it/lode/extract?url=https://w3id.org/italia/onto/$1 [R=303,L]
RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^(.+)$ https://schema.gov.it/lode/extract?url=https://w3id.org/italia/onto/$1 [R=303,L]
