Options +FollowSymLinks

# Rewrite engine setup
RewriteEngine On

# Redirect to w3id.org/CityOWL/
 RewriteRule	^$ https://dataset-dl.liris.cnrs.fr/rdf-owl-urban-data-ontologies/Ontologies/CityOWL/ [R=303,L]
