RewriteEngine on

RewriteRule ^Swanbarton$ https://data.iotics.com/swanbarton [R=301,L]

RewriteRule ^PIP$ https://data.iotics.com/pip [R=301,L]

RewriteRule ^UoP$ https://data.iotics.com/uop [R=301,L]
