RewriteEngine on
RewriteRule ^hs-oer-lom-profil/latest/ https://w3id.org/kim/hs-oer-lom-profil/latest/ [R=302,L]
RewriteRule ^hs-oer-lom-profil/20200116/ https://w3id.org/kim/hs-oer-lom-profil/20200116/ [R=302,L]
RewriteRule ^hs-oer-lom-profil/draft/ https://w3id.org/kim/hs-oer-lom-profil/draft/ [R=302,L]
RewriteRule ^hs-oer-lom-profil/20200116/schemas/hs-oer-lom.xsd https://w3id.org/kim/hs-oer-lom-profil/20200116/schemas/hs-oer-lom.xsd [R=302,L]
RewriteRule ^oer-service-card/latest/ https://w3id.org/kim/hs-oer-lom-profil/latest/ [R=302,L]
RewriteRule ^oer-service-card/20200116/ https://w3id.org/kim/hs-oer-lom-profil/20200116/ [R=302,L]
RewriteRule ^oer-service-card/draft/ https://w3id.org/kim/hs-oer-lom-profil/draft/ [R=302,L]
