Options +FollowSymLinks
RewriteEngine on

# Redirect to the schema page
RewriteRule ^$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md [R=302,L]
RewriteRule ^(.*)$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md/$1 [R=302,L]

# Redirects for individual terms within the schema
RewriteRule ^data/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#data [R=302,L]
RewriteRule ^descriptivestatistics/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#descriptivestatistics [R=302,L]
RewriteRule ^metadataid/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#metadataid [R=302,L]
RewriteRule ^productgroup/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#productgroup [R=302,L]
RewriteRule ^productgroupname/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#productgroupname [R=302,L]
RewriteRule ^productgroupuri/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#productgroupuri [R=302,L]
RewriteRule ^producttype/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#producttype [R=302,L]
RewriteRule ^producttypename/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#producttypename [R=302,L]
RewriteRule ^producttypeuri/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#producttypeuri [R=302,L]
RewriteRule ^statisticalmethod/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#statisticalmethod [R=302,L]
RewriteRule ^theme/?$ https://github.com/AlmesCore/Almes-Core/blob/main/core2024-07-08.md#theme [R=302,L]
