# OSO - Open Science Ontology
#
# https://w3id.org/oso/ redirects to https://gitlab.com/opensourcelab/scientificdata/ontologies/openscienceontology/
#
# ## Contact
# This space is administered by:
#
# mark doerr
# mark.doerr@uni-greifswald.de
# GitHub username: markdoerr

Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

# BASE: Visit homepage
RewriteRule ^ https://gitlab.com/opensourcelab/scientificdata/ontologies/openscienceontology/ [R=303,L]


