Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://www.kbr.be/en/ [R=302,L]
RewriteRule ^beltrans/ui$ https://lieber-verhoost.yourownnet.eu/s/xX2k5LekYjyFAPB [R=302,L]
