Options +FollowSymLinks
RewriteEngine on
RewriteRule ^HERO-TOP$ http://www.di.unito.it/~magro/ontologies/hero/HERO-TOP.owl [R=302,L]
RewriteRule ^HERO-TIME$ http://www.di.unito.it/~magro/ontologies/hero/HERO-TIME.owl [R=302,L]
RewriteRule ^HERO-ROCS$ http://www.di.unito.it/~magro/ontologies/hero/HERO-ROCS.owl [R=302,L]
RewriteRule ^HERO-PLACE$ http://www.di.unito.it/~magro/ontologies/hero/HERO-PLACE.owl [R=302,L]
RewriteRule ^HERO-EVENT$ http://www.di.unito.it/~magro/ontologies/hero/HERO-EVENT.owl [R=302,L]
