RewriteEngine On


# ARC workspace specification
RewriteRule ^$ https://hlweil.github.io/ProcessCore/spec/project_file.html [R=302,L]


# ARC workspace profiles
## isa-yaml workspace profile
RewriteRule ^profiles/isa-yaml$ https://hlweil.github.io/ProcessCore/spec/isa_yml_workspace_profile.yml [R=302,L]

## isa-xlsx workspace profile
RewriteRule ^profiles/isa-xlsx$ https://hlweil.github.io/ProcessCore/spec/isa_xlsx_workspace_profile.yml [R=302,L]