Options +FollowSymLinks
RewriteEngine on
#Rewrite rules for a dummy twin used in measurements for an article
RewriteRule ^$ https://juusoautiosalo.github.io/twinbase-for-measurements/a2bf8f8f-e625-4b5f-9533-2659f46e9732 [R=302,L]
