Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://openknowledgebe.github.io/open-education [R=302,L]
RewriteRule ^v1$ https://openknowledgebe.github.io/open-education/api/context.json [R=302,L]
RewriteRule ^(.*)$ https://openknowledgebe.github.io/open-education/$1 [R=302,L]
