Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://se-ontologies.github.io [R=302,L]

# Timeseries ontology
RewriteRule ^core/tso$ https://pages.github.schneider-electric.com/Schneider-Ontology-Directory/Timeseries-Ontology/ [R=302,L]

RewriteRule ^(.*)$ https://se-ontologies.github.io/$1 [R=302,L]
