RewriteEngine on

# https://github.com/common-workflow-language/cwlviewer/wiki/Permalinks
ReWriteRule ^view/git/(.*) https://view.commonwl.org/git/$1 [R=302,L]
ReWriteRule ^view(/)?$ https://github.com/common-workflow-language/cwlviewer/wiki/Permalinks [R=303,L]
## Note - ^view rules must be ABOVE the greedy ^v(.*) rules below

# Current version
RewriteRule ^$ https://www.commonwl.org/v1.2/ [R=302,L]
RewriteRule ^salad/context$ https://www.commonwl.org/v1.2/salad-context.json [R=302,L]
RewriteRule ^context$ https://www.commonwl.org/v1.2/cwl-context.json [R=302,L]
RewriteRule ^cwl$ https://www.commonwl.org/v1.2/cwl.ttl [R=302,L]
RewriteRule ^salad$ https://www.commonwl.org/v1.2/salad.ttl [R=302,L]
RewriteRule ^cwl.ttl$ https://www.commonwl.org/v1.2/cwl.ttl [R=302,L]
RewriteRule ^salad.ttl$ https://www.commonwl.org/v1.2/salad.ttl [R=302,L]
RewriteRule ^CommandLineTool.html$ https://www.commonwl.org/v1.2/CommandLineTool.html [R=302,L]
RewriteRule ^Workflow.html$ https://www.commonwl.org/v1.2/Workflow.html [R=302,L]
RewriteRule ^SchemaSalad.html$ https://www.commonwl.org/v1.2/SchemaSalad.html [R=302,L]

# Earlier drafts
RewriteRule ^draft(.*)/salad/context https://www.commonwl.org/draft$1/salad-context.json [R=302,L]
RewriteRule ^draft(.*)/context https://www.commonwl.org/draft$1/cwl-context.json [R=302,L]
RewriteRule ^draft(.*)/cwl.ttl https://www.commonwl.org/draft$1/cwl.ttl [R=302,L]
RewriteRule ^draft(.*)/salad.ttl https://www.commonwl.org/draft$1/salad.ttl [R=302,L]
RewriteRule ^draft(.*) https://www.commonwl.org/draft$1 [R=302,L]

# Any specific version
RewriteRule ^v(.*)/salad/context https://www.commonwl.org/v$1/salad-context.json [R=302,L]
RewriteRule ^v(.*)/context https://www.commonwl.org/v$1/cwl-context.json [R=302,L]
RewriteRule ^v(.*)/cwl.ttl https://www.commonwl.org/v$1/cwl.ttl [R=302,L]
RewriteRule ^v(.*)/salad.ttl https://www.commonwl.org/v$1/salad.ttl [R=302,L]
RewriteRule ^v(.*) https://www.commonwl.org/v$1 [R=302,L]

# CWLProv profiles
## Latest
RewriteRule ^prov(/)?$ https://github.com/common-workflow-language/cwlprov/ [R=302,L]
## Legacy profiles - straight to Zenodo preprints
RewriteRule ^prov/0.1.0$ https://doi.org/10.5281/zenodo.1208478 [R=302,L]
RewriteRule ^prov/0.2.0$ https://doi.org/10.5281/zenodo.1215611 [R=302,L]
# From 0.3.0++, semantic versions in GitHub
RewriteRule ^prov/(\d+.\d+.\d+)$ https://github.com/common-workflow-language/cwlprov/tree/$1 [R=302,L]

# short links
RewriteRule ^meeting_minutes$ https://docs.google.com/document/d/18bz_TWkhb_hYnO-DF3VE3T_ZW6-gMSNDe2PrVxxt10w/edit [R=302,L]
