#
# Factory-X Namespace Forwarding Rules
# tested with https://htaccess.madewithlove.com/
#

# Turn off MultiViews
Options -MultiViews

AddType application/ld+json .jsonld

# Rewrite engine setup
RewriteEngine On
#Change the path to the folder here
RewriteBase /

# Policy json-ld context resolution
RewriteRule ^policy/v1.0(.*)$ https://raw.githubusercontent.com/factory-x-contributions/factoryx-edc/refs/heads/main/edc-extensions/fx-json-ld-core/src/main/resources/document/fx-policy-v1.jsonld [R=302,L]

# Credential json-ld context resolution
RewriteRule ^credentials/v1.0(.*)$ https://raw.githubusercontent.com/factory-x-contributions/factoryx-edc/refs/heads/main/edc-extensions/fx-json-ld-core/src/main/resources/document/fx-credentials-v1.jsonld [R=302,L]

