AddType text/turtle .ttl

Options +FollowSymLinks
RewriteEngine on

# Personal website
RewriteRule ^$ https://woutslabbinck.com/ [R=302,L]

# Web Identifier
RewriteRule ^webid$ https://pod.woutslabbinck.com/profile/card#me [R=302,L]

# publications
RewriteRule ^publications$ https://github.com/woutslabbinck/publications/ [R=302,L]