Options +FollowSymLinks
RewriteEngine on

# Rewrite rule to serve HTML content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^cmi5/CourseStructure$ https://github.com/AICC/CMI-5_Spec_Current [R=303]
RewriteRule ^cmi5/CourseStructure/$ https://github.com/AICC/CMI-5_Spec_Current/ [R=303]
RewriteRule ^cmi5/CourseStructure.xsd$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]
RewriteRule ^cmi5/v1/CourseStructure.xsd$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]

# Rewrite rule to serve XML content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} application/xml
RewriteRule ^cmi5/CourseStructure$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]
RewriteRule ^cmi5/v1/CourseStructure$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]
RewriteRule ^cmi5/CourseStructure/$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]
RewriteRule ^cmi5/v1/CourseStructure/$ https://raw.githubusercontent.com/AICC/CMI-5_Spec_Current/quartz/v1/CourseStructure.xsd [R=303]
