Options +FollowSymLinks
RewriteEngine on

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/ld+json .jsonld
AddType application/vnd.ms-excel .xlsx
AddType application/json .json
AddType text/yaml .yaml .yml
AddType application/json+shexschema .shex
AddType application/octet-stream .sql .proto

# Rewrite root URLs
RewriteRule ^core(.*)$ https://lmodel.github.io/core/$1 [R=302]
RewriteRule ^sample(.*)$ https://lmodel.github.io/sample/$1 [R=302]
RewriteRule ^base(.*)$ https://lmodel.github.io/base/$1 [R=302]
RewriteRule ^zzz(.*)$ https://lmodel.github.io/zzz/$1 [R=302]

# Rewrite UCO URLs
RewriteRule ^uco-marking(.*)$ https://lmodel.github.io/uco-marking/$1 [R=302]
RewriteRule ^uco-time(.*)$ https://lmodel.github.io/uco-time/$1 [R=302]
RewriteRule ^uco-vocabulary(.*)$ https://lmodel.github.io/uco-vocabulary/$1 [R=302]
RewriteRule ^uco-configuration(.*)$ https://lmodel.github.io/uco-configuration/$1 [R=302]
RewriteRule ^uco-location(.*)$ https://lmodel.github.io/uco-location/$1 [R=302]
RewriteRule ^uco-pattern(.*)$ https://lmodel.github.io/uco-pattern/$1 [R=302]
RewriteRule ^uco-victim(.*)$ https://lmodel.github.io/uco-victim/$1 [R=302]
RewriteRule ^uco-core(.*)$ https://lmodel.github.io/uco-core/$1 [R=302]
RewriteRule ^uco-action(.*)$ https://lmodel.github.io/uco-action/$1 [R=302]
RewriteRule ^uco-tool(.*)$ https://lmodel.github.io/uco-tool/$1 [R=302]
RewriteRule ^uco-role(.*)$ https://lmodel.github.io/uco-role/$1 [R=302]
RewriteRule ^uco-identity(.*)$ https://lmodel.github.io/uco-identity/$1 [R=302]
RewriteRule ^uco-types(.*)$ https://lmodel.github.io/uco-types/$1 [R=302]
RewriteRule ^uco-observable(.*)$ https://lmodel.github.io/uco-observable/$1 [R=302]

