Options +FollowSymLinks

RewriteEngine on

RewriteRule ^CommentEnMer https://comment-enmer.github.io [R=302,L]

RewriteRule ^$ https://gen-o.github.io/ [R=302,L]

RewriteRule (.*) https://gen-o.github.io/$1 [R=302,L,QSA]

