Options +FollowSymLinks

RewriteEngine on

RewriteRule ^CommentEnMer https://comment-enmer.github.io [R=302,L]

RewriteRule ^$ https://gen-o.github.io [R=302,L]

RewriteRule 2023-07-01 https://gen-o.github.io [R=302,L]

RewriteRule website$ https://gen-o.github.io/website [R=302,L]

