RewriteEngine On

# Redirect for /domains/*
RewriteRule ^domains/(.*)$ https://raw.githubusercontent.com/cco-domains/cco-domains/refs/heads/main/ontology/domains/$1 [R=302,L]

# Redirect for /cco/*
RewriteRule ^cco/(.*)$ https://raw.githubusercontent.com/cco-domains/cco-domains/refs/heads/main/ontology/cco/$1 [R=302,L]
