Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/?$ https://www.emse.fr/~zimmermann/ [R=302,L]
RewriteRule ^cv$ https://www.emse.fr/~zimmermann/CV/ [R=302,L]
RewriteRule ^semweb$ https://www.emse.fr/~zimmermann/Teaching/SemWeb/ [R=302,L]
RewriteRule ^me$ https://www.emse.fr/~zimmermann/antoine.ttl [R=303,L] 	 