Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://spec.rebase.xyz [R=302,L]

RewriteRule ^v1$ https://spec.rebase.xyz/contexts/v1/ [R=302,L]

RewriteRule ^openapi/(.*)$ https://spec.rebase.xyz/openapi/$1 [R=302,L]

