# # /examples/
#
# A collection of URL redirection examples.
#
# https://w3id.org/r74n/ redirects to
# https://r74n.com/
#
# ## Contact
# This space is administered by:  
#
# R74n
# GitHub username: R74nCom
# Email: contact@R74n.com

RewriteEngine on
RewriteRule ^ https://r74n.com/ [R=302,L]
RewriteRule ^(.*)$ https://r74n.com/$1 [R=302,L]
