Options +FollowSymLinks
RewriteEngine On

# Project home under /h2kg/
RewriteRule ^$ https://vimilabs.github.io/AIMWORKS/index.html [R=302,L]

# Core H2KG namespace document
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} application/x-turtle
RewriteRule ^hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/core_schema.ttl [R=302,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/core_schema.jsonld [R=302,L]

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/hydrogen-ontology.html [R=302,L]

RewriteRule ^hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/hydrogen-ontology.html [R=302,L]

# PEMFC profile namespace document
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} application/x-turtle
RewriteRule ^pemfc/hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/pemfc_schema.ttl [R=302,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^pemfc/hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/pemfc_schema.jsonld [R=302,L]

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^pemfc/hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/pemfc/hydrogen-ontology.html [R=302,L]

RewriteRule ^pemfc/hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/pemfc/hydrogen-ontology.html [R=302,L]

# PEMWE profile namespace document
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} application/x-turtle
RewriteRule ^pemwe/hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/pemwe_schema.ttl [R=302,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^pemwe/hydrogen-ontology$ https://raw.githubusercontent.com/ViMiLabs/AIMWORKS/main/ontology_release/output/ontology/pemwe_schema.jsonld [R=302,L]

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^pemwe/hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/pemwe/hydrogen-ontology.html [R=302,L]

RewriteRule ^pemwe/hydrogen-ontology$ https://vimilabs.github.io/AIMWORKS/pemwe/hydrogen-ontology.html [R=302,L]
