# maintainer Jim Smith 
# james.smith@uwe.ac.uk 
# github userid jim-smith

Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/ld+json .jsonld

RewriteEngine on

# Latest Version

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [NC]
RewriteRule ^$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.rdf [R=303,NE,L]
			
RewriteCond %{HTTP_ACCEPT} text/turtle [NC]
RewriteRule ^$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.ttl [R=303,NE,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [NC]
RewriteRule ^$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.jsonld [R=303,NE,L]

RewriteRule ^$ https://ai-sdc.github.io/statbarnsdc  [R=303,NE,L]


#Version 1.0

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [NC]
RewriteRule ^1\.0$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.rdf [R=303,NE,L]

RewriteCond %{HTTP_ACCEPT} text/turtle [NC]
RewriteRule ^1\.0$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.ttl [R=303,NE,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json [NC]
RewriteRule ^1\.0$ https://raw.githubusercontent.com/AI-SDC/statbarnsdc/main/statbarnsdc.jsonld [R=303,NE,L]

RewriteRule ^1\.0$ https://ai-sdc.github.io/statbarnsdc  [R=303,NE,L]
