RewriteEngine on

RewriteRule ^$ https://researchobject.github.io/specifications/bundle/ [R=302,L]
RewriteRule ^draft(.*) https://researchobject.github.io/specifications/bundle/draft$1 [R=302,L]
RewriteRule ^(20\d\d)(.*) https://researchobject.github.io/specifications/bundle/$1$2 [R=302,L]
RewriteRule ^context$ https://rawgit.com/researchobject/specifications/gh-pages/bundle/context.json [R=302,L]
RewriteRule ^context.json$ https://rawgit.com/researchobject/specifications/gh-pages/bundle/context.json [R=302,L]
# Mainly for testing purposes
RewriteRule ^context-http$ http://researchobject.github.io/specifications/bundle/context.json [R=302,L]
RewriteRule ^owl$ https://researchobject.github.io/specifications/bundle/bundle.owl [R=302,L]
