Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^(service/nanopub-query-1.1/.*)$ https://query.np.trustyuri.net/$1
RewriteRule ^(service/nanodash-2.x/.*)$ https://nanodash.knowledgepixels.com/$1

