Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on


# Default behaviour
RewriteRule ^$ https://raw.githubusercontent.com/delfimpandiani/situannotate/ontology/core/situannotate.owl [R=303,L]
