Options +FollowSymLinks
RewriteEngine on

# chemical-exposome namespace
# Redirects to be configured as resources are published
# Maintained by: Katarina Rihackova (RECETOX, Masaryk University)
# ORCID: https://orcid.org/0000-0003-0222-801x

RewriteRule ^(.*)$ https://github.com/KatarinaRi/chemical-exposome-terms [R=303,L]