RewriteEngine On

# Rule 1: Redirect base to index
RewriteRule ^$ https://pomega.github.io/pomega-public-resources/index.html [R=301,L]

# Rule 2: Redirect /resource to a specific page, with or without a fragment
RewriteRule ^ontology(|#(.*))$ https://pomega.github.io/pomega-public-resources/pomega.html$2 [R=301,L]
