RewriteEngine On

RewriteRule ^profile$ https://github.com/Language-Research-Technology/ldac-profile/blob/master/profile/profile.md [R=302,L,QSA]
RewriteRule ^terms$ https://github.com/Language-Research-Technology/language-data-commons-vocabs/blob/master/ontology.md [R=302,L,QSA]
RewriteRule ^context$ https://raw.githubusercontent.com/Language-Research-Technology/language-data-commons-vocabs/master/ontology-context.json [R=302,L,QSA]
RewriteRule ^pilars$ https://language-research-technology.github.io/pilars/ [R=302,L,QSA]
