Options +FollowSymLinks
RewriteEngine on

# Ontology (hash namespace: https://w3id.org/cartograph-provenance#Term)
RewriteRule ^$ https://renedorsch.solidcommunity.net/apps/cartograph/cartograph-provenance.ttl [R=302,L]
