RewriteEngine on
RewriteRule ^01$ https://web.archive.org/web/20160815192743/https://www.ccarpress.org/content.asp?tid=423 [R=302,L]
RewriteRule ^02$ https://web.archive.org/web/20130616124731/http://scholar.davidesstein.name/Memoranda.htm [R=302,L]
