Options +FollowSymLinks
RewriteEngine On

# Default content negotiation for the EUSO soil vocabulary
# HTML -> GitHub Pages documentation
# RDF/Turtle -> Turtle serialization

RewriteCond %{HTTP_ACCEPT} text/turtle [NC]
RewriteRule ^$ https://soilwise-he.github.io/soil-vocabs/SoilVoc.ttl [R=303,L]

RewriteRule ^$ https://soilwise-he.github.io/soil-vocabs/ [R=303,L]