Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl

RewriteEngine on

#Rewrite rules for Bibliography Ontology
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml|text/\*|\*/\*)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^bibliography$ https://ode4hera.github.io/Bibliography/bibliographyDoc/ [R=303,NE,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^bibliography$ https://ode4hera.github.io/Bibliography/ode4hera_bibliography.owl [R=303,NE,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.*
RewriteRule ^bibliography$ https://ode4hera.github.io/Bibliography/ode4hera_bibliography.ttl [R=303,NE,L]
#default response: owl
RewriteRule ^bibliography$ https://ode4hera.github.io/Bibliography/ode4hera_bibliography.owl [R=303,NE,L]

#Rewrite rules for Bibliography Database (no content negotiation)
RewriteRule ^bibliography-data$ https://ode4hera.github.io/Bibliography/ode4hera_bibliography_data.ttl [R=303,NE,L]

#Rewrite rules for Glossary Ontology
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml|text/\*|\*/\*)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^glossary$ https://ode4hera.github.io/Glossary/glossaryDoc/ [R=303,NE,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^glossary$ https://ode4hera.github.io/Glossary/ode4hera_glossary.owl [R=303,NE,L]
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.*
RewriteRule ^glossary$ https://ode4hera.github.io/Glossary/ode4hera_glossary.ttl [R=303,NE,L]
#default response: owl
RewriteRule ^glossary$ https://ode4hera.github.io/Glossary/ode4hera_glossary.owl [R=303,NE,L]
