# Turn off MultiViews
Options -MultiViews

# Basic redirect to the project pages
RewriteEngine On
RewriteRule ^$ https://fair-checker.france-bioinformatique.fr [R=301,L]

# redirection for individual FAIR metrics in RDF turtle
RewriteRule ^data/(.*)$ https://fair-checker.france-bioinformatique.fr/data/$1 [R=301,L]
# redirection for a full FAIR assessment in RDF turtle
RewriteRule ^assessment/(.*)$ https://fair-checker.france-bioinformatique.fr/assessment/$1 [R=301,L]

