Options +FollowSymLinks
RewriteEngine on

# Vocabularies webpages
RewriteRule ^polmat/(.*) https://skohub.io/mpilhlt/vocabs-polmat/heads/main/w3id.org/mpilhlt/polmat/$1 [R=307,L]
RewriteRule ^worktime/(.*) https://mpilhlt.github.io/vocabs-worktime/w3id.org/mpilhlt/worktime/$1 [R=307,L]
RewriteRule ^worktime_role/(.*) https://c104-131.cloud.gwdg.de/vocabs/w3id.org/mpilhlt/worktime_role/$1 [R=307,L]

# Reconciliation API
RewriteRule ^reconcile/(.*) https://c111-064.cloud.gwdg.de/reconc/mpilhlt/$1 [R=307,L]
