Options +FollowSymLinks
RewriteEngine on
RewriteRule ^polmat/(.*) https://skohub.io/mpilhlt/vocabs-polmat/heads/main/w3id.org/mpilhlt/polmat/$1 [R=302,L]
RewriteRule ^worktime/(.*) https://mpilhlt.github.io/vocabs-worktime/w3id.org/mpilhlt/worktime/$1 [R=302,L]
RewriteRule ^worktime_role/(.*) https://c104-131.cloud.gwdg.de/vocabs/w3id.org/mpilhlt/worktime_role/$1 [R=302,L]
RewriteRule ^reconcile/(.*) https://c104-131.cloud.gwdg.de/reconc/$1 [R=302,L]

