Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://beatrizolarte.github.io/MillingTools/kg4cut_v1.2.0.ttl  [R=302,L]
RewriteRule ^(.*)$ https://beatrizolarte.github.io/MillingTools/kg4cut_v1.2.0.ttl/$1  [R=302,L]
