# Turn off MultiViews
Options -MultiViews

# Basic redirect for the ontologies location (they will published with content negotiation in the next ontology release)

RewriteEngine On

RewriteRule ^sdm$ https://w3id.org/mint/modelCatalog [R=302,L]
