Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

# Rewrite engine setup
RewriteEngine On

#### Rewrite rules for w3id.org/demo-resources/demo-classifications
# text/turtle
RewriteCond %{HTTP:Accept} text/turtle [NC] 
RewriteRule ^(demo-classifications)$  https://data.norge.no/showroom/xkos-ap-no/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(demo-classifications)$ https://data.norge.no/showroom/xkos-ap-no/files/$1-nb [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(demo-classifications)$ https://data.norge.no/showroom/xkos-ap-no/files/$1-nb [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(demo-classifications)$ https://data.norge.no/showroom/xkos-ap-no/files/$1-nb [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(demo-classifications)$ https://data.norge.no/showroom/xkos-ap-no/files/$1-en [R=302,L]
# English as default
RewriteRule ^(demo-classifications)$ https://data.norge.no/showroom/xkos-ap-no/files/$1-en [R=303,L] 

#### Rewrite rules for w3id.org/demo-resources/demo-concepts
# text/turtle
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1-nb  [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1-nb  [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1-nb  [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1-en  [R=302,L]
# English as default
RewriteRule ^(demo-concepts)$ https://data.norge.no/showroom/skos-ap-no/files/$1-en [R=303,L]

#### Rewrite rules for w3id.org/demo-resources/demo-datasets
# text/turtle
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1-nb  [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1-nb  [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1-nb  [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1-en  [R=302,L]
# English as default
RewriteRule ^(demo-datasets)$ https://data.norge.no/showroom/dcat-ap-no/files/$1-en [R=303,L]

#### Rewrite rules for w3id.org/demo-resources/demo-models
# text/tutrle
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1-nb  [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1-nb  [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1-nb  [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1-en  [R=302,L]
# English as default
RewriteRule ^(demo-models)$ https://data.norge.no/showroom/modelldcat-ap-no/files/$1-en  [R=303,L]

#### Rewrite rules for w3id.org/demo-resources/demo-services-events
# text/turtle
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1-nb  [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1-nb  [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1-nb  [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1-en  [R=302,L]
# English as default
RewriteRule ^(demo-services-events)$ https://data.norge.no/showroom/cpsv-ap-no/files/$1-en [R=303,L]

#### Rewrite rules for w3id.org/demo-resources/dummy-*
# text/turtle
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1.ttl [R=302,L]
# Norwegian Bokmål
RewriteCond %{HTTP:Accept-Language} nb [NC]
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1-nb  [R=302,L]
# Norwegian Nynorsk
RewriteCond %{HTTP:Accept-Language} nn [NC]
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1-nb  [R=303,L]
# Norwegian Norsk
RewriteCond %{HTTP:Accept-Language} no [NC]
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1-nb  [R=303,L]
# English
RewriteCond %{HTTP:Accept-Language} en [NC]
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1-en  [R=302,L]
# English as default
RewriteRule ^(dummy-(agents|contact-points|datasets|documents|events|evidences|locations|services|times))$ https://data.norge.no/showroom/dummy-assets/files/$1-en [R=303,L]

#### redirect to default xkos-ap-no
RewriteRule ^xkos https://data.norge.no/showroom/xkos-ap-no/ [R=302,L]

#### redirect to default skos-ap-no
RewriteRule ^skos https://data.norge.no/showroom/skos-ap-no/ [R=302,L]

#### redirect to default dcat-ap-no
RewriteRule ^dcat https://data.norge.no/showroom/dcat-ap-no/ [R=302,L]

#### redirect to default modelldcat-ap-no
RewriteRule ^model https://data.norge.no/showroom/modelldcat-ap-no/ [R=302,L]

# redirect to default cpsv-ap-no
RewriteRule ^cpsv https://data.norge.no/showroom/cpsv-ap-no/ [R=302,L]

#### redirect to default demo-uris
RewriteRule ^uri https://data.norge.no/showroom/demo-uris/ [R=302,L]

#### redirect to default dummy-page
RewriteRule ^dummy https://data.norge.no/showroom/dummy-assets/ [R=302,L]
RewriteRule ^assets https://data.norge.no/showroom/dummy-assets/ [R=302,L]

#### redirect to overview
RewriteRule ^$ https://data.norge.no/showroom/overview [R=302,L]