Options +FollowSymLinks
RewriteEngine on
# Links to RSP Community Group and wiki 
RewriteRule ^$ https://www.w3.org/community/rsp/ [R=302,L]
RewriteRule ^wiki$ http://www.w3.org/community/rsp/wiki/Main_Page [R=302,L]
RewriteRule ^requirements$ http://streamreasoning.github.io/RSP-QL/RSP_Requirements_Design_Document/ [R=302,L]
RewriteRule ^abstract-syntax$ "http://streamreasoning.github.io/RSP-QL/Abstract Syntax and Semantics Document/" [R=302,L]
