RewriteEngine on

# Ontologies
RewriteRule ^foodie$ https://foodie-cloud.github.io/ontologies/foodie.ttl [R=302,L]
RewriteRule ^olu$ https://foodie-cloud.github.io/ontologies/olu.ttl [R=302,L]
RewriteRule ^hilucs$ https://foodie-cloud.github.io/ontologies/hilucs.ttl [R=302,L]
RewriteRule ^corine$ https://foodie-cloud.github.io/ontologies/corine.ttl [R=302,L]
RewriteRule ^atlas$ https://foodie-cloud.github.io/ontologies/urban-atlas.ttl [R=302,L]
RewriteRule ^otm$ https://foodie-cloud.github.io/ontologies/otm.ttl [R=302,L]
RewriteRule ^core$ https://foodie-cloud.github.io/ontologies/foodie.ttl [R=302,L]
