Options +FollowSymLinks
RewriteEngine on

# Redirects for entities
#
# For example, we want https://w3id.org/evr/venue/0000001 to redirect to
# https://event-venue-registry.github.io/evr/0000001

RewriteRule ^venue/(.+) https://event-venue-registry.github.io/evr/$1

# Redirects for ontology artifacts
#
# For example, we want https://w3id.org/evr/ontology/evr.obo to redirect to
# https://github.com/event-venue-registry/evr/raw/refs/heads/main/output/venues.obo

RewriteRule ^ontology/evr.(.+) https://github.com/event-venue-registry/evr/raw/refs/heads/main/output/venues.$1
