# This space is administered by:
#
# Olaf Hartig
# ohartig@amazon.com
# GitHub username: hartig

Options +FollowSymLinks
RewriteEngine on

# URIs of the datatypes
RewriteRule "^List$" "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#list-datatype" [R=302,NE,L]
RewriteRule "^Map$"  "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#map-datatype" [R=302,NE,L]

# URIs of the functions
RewriteRule "^concat$"      "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_concat" [R=302,NE,L]
RewriteRule "^contains$"    "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_contains" [R=302,NE,L]
RewriteRule "^containsKey$" "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_containsKey" [R=302,NE,L]
RewriteRule "^get$"         "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_get" [R=302,NE,L]
RewriteRule "^head$"        "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_head" [R=302,NE,L]
RewriteRule "^keys$"        "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_keys" [R=302,NE,L]
RewriteRule "^merge$"       "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_merge" [R=302,NE,L]
RewriteRule "^put$"         "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_put" [R=302,NE,L]
RewriteRule "^remove$"      "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_remove" [R=302,NE,L]
RewriteRule "^reverse$"     "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_reverse" [R=302,NE,L]
RewriteRule "^size$"        "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_size" [R=302,NE,L]
RewriteRule "^subseq$"      "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_subseq" [R=302,NE,L]
RewriteRule "^tail$"        "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html#func_tail" [R=302,NE,L]

# URIs of the spec documents
RewriteRule "^spec/editors_draft.html$" "https://raw.githack.com/awslabs/SPARQL-CDTs/main/spec/editors_draft.html" [R=302,L]
RewriteRule "^spec/(.*)$"        "https://awslabs.github.io/SPARQL-CDTs/spec/$1" [R=302,L]

# Default redirect for unmatched patterns to the latest version of the spec document
RewriteRule "^(.*)$" "https://awslabs.github.io/SPARQL-CDTs/spec/latest.html" [R=302,L]
