RewriteEngine on
RewriteRule ^professional-conduct$ https://www.ga4gh.org/docs/GA4GH-Standards-for-Professional-Conduct_22-Jan-2018.pdf [R=302,L]
RewriteRule ^vg$ https://github.com/vgteam/vg/blob/master/ontology/vg.ttl [R=302,L]
