# Point-of-contact: Karl Hammar <karl.hammar@ju.se>, Github username: @hammar

Options +FollowSymLinks

RewriteEngine on

# 2.3 API:s
RewriteRule ^api/2.3/streaming/$ https://github.com/Vasakronan/Idun-Examples/tree/master/Idun-Streaming-Api/Consumer/netcore/Idun.StreamingApi.Examples/Idun.StreamingApi.Examples [R=303,NE,L]
RewriteRule ^api/2.3/graph/$ https://doc.realestatecore.io/api/2.3/ [R=303,NE,L]

# Redirect any module w/o version in IRI to latest version (at time of writing 3.3)
RewriteRule ^(\w+)/(\w*)$ https://w3id.org/rec/$1/3.3/$2 [R=303,NE,L]

# Redirect versioned request for application/rdf+xml MIME  type to a suitable serialised file
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^(\w+)/([\w.-]+)/(\w*)$ https://doc.realestatecore.io/$2/$1.rdf [R=303,NE,L]

# Redirect versioned request for any text-oriented MIME type to the documentation
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml|text/\*|\*/\*)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^(\w+)/([\w.-]+)/(\w*)$ https://doc.realestatecore.io/$2/$1.html#$3 [R=303,NE,L]

# Default redirect for any still unmatched patterns to REC website
RewriteRule ^.* https://realestatecore.io [R=303,NE,L]
