Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://sheeba-samuel.github.io/REPRODUCE-ME/doc/index-en.html [R=302,L]
RewriteRule ^ontology$ https://sheeba-samuel.github.io/REPRODUCE-ME/reproduce-me.owl [R=302,L]
RewriteRule ^research$ https://sheeba-samuel.github.io/REPRODUCE-ME/ [R=302,L]
