Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://gplsi.dlsi.ua.es/gplsi13/sites/default/files/resources/semanticpackage.owl [R=302,L]
RewriteRule ^1.1$ https://gplsi.dlsi.ua.es/gplsi13/sites/default/files/resources/semanticpackage_1.1.owl [R=302,L]
RewriteRule ^bucket_BarcelonaOpen2015$ https://gplsi.dlsi.ua.es/gplsi13/sites/default/files/resources/semanticpackage_bucket_BarcelonaOpen2015.owl [R=302,L]
RewriteRule ^1.1/doc$ http://gplsi.dlsi.ua.es/docs/semanticpackage [R=302,L]
RewriteRule ^webpage$ https://gplsi.dlsi.ua.es/gplsi13/es/node/204 [R=302,L]




