Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

SetEnvIf Request_URI ^.*$ CORE_URL=https://raw.githubusercontent.com/polifonia-project/core-ontology/main/core.owl
# SetEnvIf Request_URI ^.*$ COMPOSITION_URL=https://raw.githubusercontent.com/polifonia-project/musical-composition-ontology/main/musical-composition.owl
# SetEnvIf Request_URI ^.*$ PERFORMANCE_URL=https://raw.githubusercontent.com/polifonia-project/musical-performance-ontology/main/musical-performance.owl
# SetEnvIf Request_URI ^.*$ FEATURE_URL=https://raw.githubusercontent.com/polifonia-project/musical-feature-ontology/main/musical-feature.owl
SetEnvIf Request_URI ^.*$ JAMS_URL=https://raw.githubusercontent.com/polifonia-project/jams-ontology/main/jams.owl
SetEnvIf Request_URI ^.*$ CHOCO_DATA_URL=https://github.com/smashub/choco/tree/main/choco/kg-generation/knowledge-graph
SetEnvIf Request_URI ^.*$ CHOCO_EXAMPLE_SCORE_URL=https://raw.githubusercontent.com/smashub/choco/main/choco/kg-generation/examples/wikifonia.ttl
SetEnvIf Request_URI ^.*$ CHOCO_EXAMPLE_AUDIO_URL=https://raw.githubusercontent.com/smashub/choco/main/choco/kg-generation/examples/isophonics.ttl
SetEnvIf Request_URI ^.*$ ROMAN_URL=https://raw.githubusercontent.com/polifonia-project/roman-chord-ontology/main/roman-chord.owl
SetEnvIf Request_URI ^.*$ MUSICMETA_URL=https://raw.githubusercontent.com/polifonia-project/musicmeta-ontology/main/ontology/musicmeta.owl
SetEnvIf Request_URI ^.*$ ORGANS_URL=https://raw.githubusercontent.com/polifonia-project/organs-ontology/main/ontology/organs.owl
SetEnvIf Request_URI ^.*$ REPRESENTATION_URL=https://raw.githubusercontent.com/polifonia-project/music-representation-ontology/main/ontology/musicrepresentation.owl
SetEnvIf Request_URI ^.*$ SOURCE_URL=https://raw.githubusercontent.com/polifonia-project/source-ontology/main/ontology/source.owl
SetEnvIf Request_URI ^.*$ INSTRUMENT_URL=https://raw.githubusercontent.com/polifonia-project/instrument-ontology/main/ontology/instrument.owl
SetEnvIf Request_URI ^.*$ COMETA_URL=https://raw.githubusercontent.com/polifonia-project/cometa-ontology/main/ontology/cometa.owl
SetEnvIf Request_URI ^.*$ TUNES_URL=https://raw.githubusercontent.com/polifonia-project/tunes-ontology/main/ontology/tunes.owl
SetEnvIf Request_URI ^.*$ PROJECTION_URL=https://raw.githubusercontent.com/polifonia-project/music-projection-ontology/main/ontology/music-projection.owl
SetEnvIf Request_URI ^.*$ BELL_URL=https://raw.githubusercontent.com/polifonia-project/bell-ontology/main/ontology/bell.owl
SetEnvIf Request_URI ^.*$ ALGORITHM_URL=https://raw.githubusercontent.com/polifonia-project/music-algorithm-ontology/main/ontology/music-algorithm.owl
SetEnvIf Request_URI ^.*$ ANALYSIS_URL=https://raw.githubusercontent.com/polifonia-project/music-analysis-ontology/main/ontology/music-analysis.owl
SetEnvIf Request_URI ^.*$ ANNOTATION_URL=https://raw.githubusercontent.com/polifonia-project/music-annotation-ontology/main/ontology/music-annotation.owl
SetEnvIf Request_URI ^.*$ FULL_URL=https://raw.githubusercontent.com/polifonia-project/ontology-network/main/ontology/ontology-network.owl

# ROMAN CHORD API
SetEnvIf Request_URI ^.*$ ROMAN_API=https://roman-chord-api.herokuapp.com/roman-chord-ontology/

# Rules for version-aware URIs of ontologies
# CORE
RewriteRule ^ontology/core(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:CORE_URL} [R=303,L]
# MUSICAL COMPOSITION
# RewriteRule ^ontology/musical-composition(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:COMPOSITION_URL} [R=303,L]
# MUSICAL PERFORMANCE
# RewriteRule ^ontology/musical-performance(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:PERFORMANCE_URL} [R=303,L]
# MUSICAL FEATURE
# RewriteRule ^ontology/musical-feature(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:FEATURE_URL} [R=303,L]
# JAMS
RewriteRule ^ontology/jams(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:JAMS_URL} [R=303,L]
# CHOCO
RewriteRule ^resource/choco/score-example(/)?$ %{ENV:CHOCO_EXAMPLE_SCORE_URL} [R=303,L]
RewriteRule ^resource/choco/audio-example(/)?$ %{ENV:CHOCO_EXAMPLE_AUDIO_URL} [R=303,L]
RewriteRule ^resource/choco(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:CHOCO_DATA_URL} [R=303,L]
# ROMAN
RewriteRule ^ontology/roman-chord(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:ROMAN_URL} [R=303,L]
RewriteRule ^resource/roman-chord(/)?([a-zA-Z:-_0-9]+)?$ %{ENV:ROMAN_API}$2 [R=303,L]
# MUSICMETA
RewriteRule ^ontology/music-meta(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:MUSICMETA_URL} [R=303,L]
RewriteRule ^resource/music-meta(/)?([a-zA-Z:-_0-9]+)?$ %{ENV:MUSICMETA_URL}$2 [R=303,L]
# ORGANS
RewriteRule ^ontology/organs(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:ORGANS_URL} [R=303,L]
# REPRESENTATION
RewriteRule ^ontology/music-representation(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:REPRESENTATION_URL} [R=303,L]
# SOURCE
RewriteRule ^ontology/source(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:SOURCE_URL} [R=303,L]
# INSTRUMENT
RewriteRule ^ontology/instrument(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:INSTRUMENT_URL} [R=303,L]
# COMETA
RewriteRule ^ontology/cometa(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:COMETA_URL} [R=303,L]
# TUNES
RewriteRule ^ontology/tunes(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:TUNES_URL} [R=303,L]
# PROJECTION
RewriteRule ^ontology/projection(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:PROJECTION_URL} [R=303,L]
# BELL
RewriteRule ^ontology/bell(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:BELL_URL} [R=303,L]
# ALGORITHM
RewriteRule ^ontology/music-algorithm(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:ALGORITHM_URL} [R=303,L]
# ANALYSIS
RewriteRule ^ontology/music-analysis(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:ANALYSIS_URL} [R=303,L]
# ANNOATION
RewriteRule ^ontology/music-annotation(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:ANNOTATION_URL} [R=303,L]
# FULL
RewriteRule ^ontology/ontology-network(/)?([a-zA-Z-_0-9]+)?(/)?([0-9].[0-9])?(/)?$ %{ENV:FULL_URL} [R=303,L]

# TODO: to define where to redirect resources
RewriteRule ^resource/([a-zA-Z-_0-9]+)(/)?$ %{ENV:CORE_URL} [R=303,L]

# example for reusing classes/properties names
# base URIs must edited if this option will be implemented
# RewriteRule ^ontology/core/([a-zA-Z-_0-9]+)(/[0-9].[0-9])?(/)?$ %{ENV:CORE_URL}/$1$2.owl [R=303,L]

RewriteRule ^(.+)$ https://github.com/polifonia-project/ontology-network/ [R=303,L]
RewriteRule ^$ https://github.com/polifonia-project/ontology-network/ [R=303,L]
