# # /coato/
#
# https://w3id.org/coato/ redirects to
# https://raw.githubusercontent.com/DigiMatUs/CoatO/main/src/coato.owl 
#
# https://w3id.org/coato/[version]
# https://raw.githubusercontent.com/DigiMatUs/CoatO/refs/tags/[version]/src/coato.owl
#
# ## Contact
# This space is administered by:  
#
# Fabian Neuhaus
# GitHub username: fneuhaus
#
# Martin Glauer
# Github username: MGlauer

RewriteEngine on
RewriteRule ^(v[0-9]+\.[0-9]+\.[0-9]+)/?$ https://raw.githubusercontent.com/DigiMatUs/CoatO/refs/tags/$1/src/coato.owl  [R=302,L]
RewriteRule ^(v[0-9]+\.[0-9]+\.[0-9]+)/([^/]+)?$ https://raw.githubusercontent.com/DigiMatUs/CoatO/refs/tags/$1/src/coato.owl#$2  [R=302,L,NE]
RewriteRule ^/?$ https://raw.githubusercontent.com/DigiMatUs/CoatO/main/src/coato.owl [R=302,L]
RewriteRule ^([^/]+)$ https://raw.githubusercontent.com/DigiMatUs/CoatO/main/src/coato.owl#$1 [R=302,L,NE]
RewriteRule ^(.*)$ https://raw.githubusercontent.com/DigiMatUs/CoatO/main/src/coato.owl [R=302,L]


