RewriteEngine on

RewriteRule ^$ https://www.earthsystemcog.org/projects/wip/CMIP6DataRequest
RewriteRule ^browse.html$ http://clipc-services.ceda.ac.uk/dreq/index.html
RewriteRule ^release_01_00_00$ https://earthsystemcog.org/projects/wip/drq_release_01_00_00
