Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/?$ http://130.206.122.227/lodquator [R=302,L]
RewriteRule ^resource/(.+)$ http://130.206.122.227/lodquator/resource/$1 [R=302,L]
