Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

SetEnvIf Accept ^.*application/rdf\+xml.* SYNTAX=rdf
SetEnvIf Accept ^.*text/turtle.* SYNTAX=ttl
SetEnvIf Accept ^.*application/json-ld.* SYNTAX=jsonld
SetEnvIf Accept ^.*text/html.* SYNTAX=html
SetEnvIf Request_URI ^.*$ ROOT_URL=https://raw.githubusercontent.com/italia/daf-ontologie-vocabolari-controllati/master/VocabolariControllati

RewriteCond %{ENV:SYNTAX} ^(rdf|ttl|jsonld)$
RewriteRule ^(territorial-classifications/countries/|classifications-for-public-services/life-business-event/)(business-event|life-event|italy)(/)?$ %{ENV:ROOT_URL}/$1$2/$2.%{ENV:SYNTAX} [R=303,L]

RewriteCond %{ENV:SYNTAX} ^(rdf|ttl|jsonld)$
RewriteRule ^(theme-subtheme-mapping|public-event-types|poi-category-classification|licences)(/)?$ %{ENV:ROOT_URL}/$1/$1.%{ENV:SYNTAX} [R=303,L]

RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^(theme-subtheme-mapping|public-event-types|poi-category-classification|licences)(/)?$ https://schema.gov.it/lodview/controlled-vocabulary/$1 [R=303,L]

RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^(theme-subtheme-mapping|public-event-types|poi-category-classification|licences)(/[a-zA-Z-_0-9]+)?$ https://schema.gov.it/lodview/controlled-vocabulary/$1$2 [R=303,L]

RewriteCond %{ENV:SYNTAX} ^(rdf|ttl|jsonld)$
RewriteRule ^([a-zA-Z-_0-9]+)/([a-zA-Z-_0-9]+)$ %{ENV:ROOT_URL}/$1/$2/$2.%{ENV:SYNTAX} [R=303,L]

RewriteCond %{ENV:SYNTAX} ^html$
RewriteRule ^([a-zA-Z-_0-9]+)/([a-zA-Z-_0-9]+)$ https://schema.gov.it/lodview/controlled-vocabulary/$1/$2 [R=303,L]

RewriteRule ^(.+)/(.+)/(.+)$ https://schema.gov.it/lodview/controlled-vocabulary/$1/$2/$3 [R=303,L]
