# Persistent identifier for the ATHENA dataset
# Maintainer: Thaisa Hernandes (GitHub: thaisash)

Options +FollowSymLinks
RewriteEngine on

# Redirect to the raw TTL file hosted on GitHub
RewriteRule ^$ https://raw.githubusercontent.com/thaisash/WS_IME/refs/heads/main/CSECICIDS2018.ttl [R=303,L]

# Define MIME type for RDF/Turtle
AddType text/turtle .ttl
