Options +FollowSymLinks
# Turn off MultiViews
Options -MultiViews

RewriteEngine On

RewriteRule ^(.+)$ https://github.com/vlombard/bearchaeo/$1 [R=301,NE,L]
RewriteRule ^$ https://github.com/vlombard/bearchaeo [R=301,NE,L]
