Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://www.imagesnippets.com/lio/lio.owl [R=302,L]
RewriteRule ^v1$ http://www.imagesnippets.com/lio/lio.owl [R=302,L]
