Options +FollowSymLinks

RewriteEngine On

# /retrievr
RewriteRule ^$ https://github.com/keski/labrador [R=303,L]

# /retrievr/labrador -> GitHub repository
RewriteRule ^labrador/?$ https://github.com/keski/labrador [R=303,L]