RewriteEngine on

# Root (FIP info)
RewriteRule ^$ https://www.go-fair.org/how-to-go-fair/fair-implementation-profile/ [R=301,L]
RewriteRule ^\/$ https://w3id.org/fip [R=301,L]

# FIP Wizard projects
RewriteRule ^wizard/?(.*)$ https://fip-wizard.ds-wizard.org/projects/$1 [R=307,L]
