Options +FollowSymLinks
RewriteEngine On

# Ontology
RewriteRule ^$ https://raw.githubusercontent.com/emso-eric/oso-ontology/develop/OSO.ttl [R=302,L]

# VoID
RewriteRule ^void/?$ https://raw.githubusercontent.com/emso-eric/oso-ontology/develop/void.ttl [R=302,L]

# DCAT
RewriteRule ^dcat/?$ https://raw.githubusercontent.com/emso-eric/oso-ontology/develop/dcat.ttl [R=302,L]
