RewriteEngine on

# Ontologies
RewriteRule ^ontology$  https://github.com/World-Modelers/Ontology [R=302,L]
RewriteRule ^cag/Sentence$  https://github.com/clulab/eidos/wiki/JSON-LD#user-content-Sentence [R=302,L]
