RewriteEngine On

# SMARTLHS project
# Default project landing page
RewriteRule ^$ https://bioportal.bioontology.org/ontologies/SMARTLHSONTOV1 [R=302,L]

# SMARTLHSONTO ontology
RewriteRule ^ontology/?$ https://bioportal.bioontology.org/ontologies/SMARTLHSONTOV1 [R=302,L]

# Future SMARTLHS-Lite
# RewriteRule ^lite/?$ https://github.com/megmaqi-netizen/smartlhs-lite [R=302,L]

# Future documentation
# RewriteRule ^docs/?$ https://github.com/megmaqi-netizen/smartlhs/wiki [R=302,L]
