RewriteEngine On

# Actual URL: https://w3id.org/fair-ease/ns

# Redirect to asset standards
RewriteRule ^ns$ https://lab.fairease.eu/asset-standards/ [R=302,L]
RewriteRule ^ns/$ https://lab.fairease.eu/asset-standards/ [R=302,L]


# Actual URL: https://w3id.org/fair-ease/ns/endpoint-types
# Redirect for endpoint-types
RewriteRule ^ns/endpoint-types$ https://lab.fairease.eu/asset-standards/endpoint-types/endpoint-types.ttl [R=302,QSA,L]
RewriteRule ^ns/endpoint-types/$ https://lab.fairease.eu/asset-standards/endpoint-types/endpoint-types.ttl [R=302,QSA,L]


# Actual URL: https://w3id.org/fair-ease/ns/dcat-ap
# Redirect for Dcat Application profile
RewriteRule ^ns/dcat-ap$ https://lab.fairease.eu/asset-standards/DCAT-AP/FE-DCAT-AP-SHACLshapes.ttl [R=302,QSA,L]
RewriteRule ^ns/dcat-ap/$ https://lab.fairease.eu/asset-standards/DCAT-AP/FE-DCAT-AP-SHACLshapes.ttl [R=302,QSA,L]

# Actual URL: https://w3id.org/fair-ease/iddas
# Fair Ease IDDAS homepage (catch /iddas, but not /iddas/)
RewriteRule ^iddas$ https://fair-ease-iddas.maris.nl/ [R=302,L]
