RewriteEngine On

# Fair Ease IDDAS homepage
RewriteRule ^fair-ease/iddas$ https://fair-ease-iddas.maris.nl/ [R=301,L]

# Redirect to dataset.geodab.eu
RewriteRule ^fair-ease/iddas/easydata/(.+)$ https://dataset.geodab.eu/source/easydata/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/eea-sdi/(.+)$ https://dataset.geodab.eu/source/UUID-456602db-4275-4410-8b68-436fd23ace69/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/usnodcdbid/(.+)$ https://dataset.geodab.eu/source/usnodcdbid/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/marineID/(.+)$ https://dataset.geodab.eu/source/marineID/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/jrcdatacatalogdbid/(.+)$ https://dataset.geodab.eu/source/jrcdatacatalogdbid/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/emodnet-network/(.+)$ https://dataset.geodab.eu/source/emodnet-network/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/vito/(.+)$ https://dataset.geodab.eu/source/FROMREGISTRY--regprefseparator--registrytestid1--regprefseparator--dad0859e-206c-480b-a080-d4eea70ee22d/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/wekeo/(.+)$ https://dataset.geodab.eu/source/wekeo/$1 [R=301,L]

# Redirect to data.blue-cloud.org
RewriteRule ^fair-ease/iddas/arg/(.+)$ https://data.blue-cloud.org/search/dcat/arg/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/elixir/(.+)$ https://data.blue-cloud.org/search/dcat/elixir/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/emodnet-chemistry/(.+)$ https://data.blue-cloud.org/search/dcat/emodnet-chemistry/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/emso/(.+)$ https://data.blue-cloud.org/search/dcat/emso/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/eurobis/(.+)$ https://data.blue-cloud.org/search/dcat/eurobis/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/icos/(.+)$ https://data.blue-cloud.org/search/dcat/icos/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/seadatanet/(.+)$ https://data.blue-cloud.org/search/dcat/seadatanet/$1 [R=301,L]
RewriteRule ^fair-ease/iddas/sios/(.+)$ https://data.blue-cloud.org/search/dcat/sios/$1 [R=301,L]

RewriteRule ^fair-ease/ns$ https://lab.fairease.eu/asset-standards/ [R=301,L]

#TODO: Add content negotiation for the following redirects once HTML version is available:
# Redirect for profiles
RewriteRule ^fair-ease/ns/profiles(.*)$ https://lab.fairease.eu/asset-standards/profiles/profiles.ttl$1 [R=301,L]

# Redirect for ap
RewriteRule ^fair-ease/ns/dcat-ap(.*)$ https://lab.fairease.eu/asset-standards/DCAT-AP/FE-DCAT-AP-SHACLshapes.ttl$1 [R=301,L]
