RewriteEngine on

RewriteRule ^onto/1.1(.*)$ http://sovarr.c4dm.eecs.qmul.ac.uk/af/ontology/1.1$1 [R=302,L]
RewriteRule ^vocab/1.1(.*)$ http://sovarr.c4dm.eecs.qmul.ac.uk/af/vocabulary/1.1$1 [R=302,L]
