# Retail Vocabulary
#
# homepage:
# - https://convenience-org.github.io/retail-vocabulary/
# source:
# - 
# maintainers:
# - @dezell
# - @davidlehn
# - @dlongley
# - @msporny
# - @wes-smith
# - @nraocapra

RewriteEngine on
RewriteRule ^$ https://convenience-org.github.io/retail-vocabulary/ [R=302,L]
RewriteRule ^v(.*)$ https://convenience-org.github.io/retail-vocabulary/contexts/v$1.jsonld [R=302,L]
