Options +FollowSymLinks
RewriteEngine on

SetEnvIf Request_URI ^.*$ LODVIEW_URL=https://semantics.istc.cnr.it/hacid/lodview/


RewriteRule ^$ https://www.hacid-project.eu [R=303,L]
RewriteRule ^sparql$ https://semantics.istc.cnr.it/hacid/sparql [R=303,L]
RewriteRule ^sparql-ui(/?)$ https://semantics.istc.cnr.it/hacid/sparql-ui/ [R=303,L]

RewriteRule ^(mdx|data)(/.+)$ %{ENV:LODVIEW_URL}$1$2 [R=303,L]
