# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/ld+json .jsonld

RewriteEngine on

# Latest version

# Rewrite rule to serve JSON-LD content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^$ https://oeg-upm.github.io/inesdata-ml-schema/release/0.0.1/inesdata-ml.jsonld [R=303,L]

# Rewrite rule to serve HTML
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^$ https://oeg-upm.github.io/inesdata-ml-schema/release/0.0.1/ [R=303,L]

# Leaving this rule commented in case we want to support TTL in the future
# Rewrite rule to serve TTL content from the vocabulary URI if requested
# RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
# RewriteCond %{HTTP_ACCEPT} text/\* [OR]
# RewriteCond %{HTTP_ACCEPT} \*/turtle
# RewriteRule ^$ hhttps://oeg-upm.github.io/inesdata-ml-schema/release/0.0.1/inesdata-ml.ttl [R=303,L]


# Default response
# ---------------------------
# Rewrite rule to serve the RDF/XML content from the vocabulary URI by default
RewriteRule ^$ https://oeg-upm.github.io/inesdata-ml-schema/release/0.0.1/inesdata-ml.jsonld [R=303,L]


# Versions with id

# Rewrite rules for any other version.
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^(.+)$ https://oeg-upm.github.io/inesdata-ml-schema/release/$1/ [R=303,L]

# Rewrite rule to serve JSON-LD content from the vocabulary URI if requested
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^(.+)$ https://oeg-upm.github.io/inesdata-ml-schema/release/$1/inesdata-ml.jsonld [R=303,L]

