Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://www.phuse.eu [R=302,L]
RewriteRule ^cd01p$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/cdiscpilot01-protocol.ttl [R=302,L]
RewriteRule ^cdiscpilot01$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/cdiscpilot01.ttl [R=302,L]
RewriteRule ^code$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/code.ttl [R=302,L]
RewriteRule ^sdtm$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/sdtm.ttl [R=302,L]
RewriteRule ^sdtmterm$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/sdtm-terminology.rdf [R=302,L]
RewriteRule ^study$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/study.ttl [R=302,L]
RewriteRule ^cts$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/ct-schema.rdf [R=302,L]
RewriteRule ^custom$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/custom.ttl [R=302,L]
RewriteRule ^mms$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/meta-model-schema.rdf [R=302,L]
RewriteRule ^cdiscs$ https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/cdisc-schema.rdf [R=302,L]
