# VOILA Study Metadata portal
#
# https://w3id.org/molepi/MICA/VOILA redirects to https://mica.clinicalresearch.nl/pub/study/voila
#
# ## Contact
# This space is administered by:
#
# Julian Dekker
# J.J.Dekker1@lumc.nl
# GitHub username: JulianDekker

RewriteEngine on
RewriteRule ^ https://mica.clinicalresearch.nl/study/voila [R=302,L]
