Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://dace-dl.github.io/ [R=302,L]

RewriteRule ^Ontology$ https://dace-dl.github.io/download/ [R=302,L]
RewriteRule ^Ontology/(.*)$ https://dace-dl.github.io/download/#$1 [NE,R=302,L]

RewriteRule ^Thesaurus$ https://dace-dl.github.io/download/ [R=302,L]
RewriteRule ^Thesaurus/(.*)$ https://dace-dl.github.io/download/#$1 [NE,R=302,L]


