Options +FollowSymLinks
RewriteEngine on
RewriteRule ^ontology$ https://encode.uni-hamburg.de/ontology [R=302,L]
RewriteRule ^vocabulary$ https://encode.uni-hamburg.de/vocabulary [R=302,L]
RewriteRule ^competences/?([a-zA-Z0-9]*)$ https://encode.uni-hamburg.de/competences/$1 [R=302,L]
RewriteRule ^modules/?([a-zA-Z0-9]*)$ https://encode.uni-hamburg.de/modules/$1 [R=302,L]
RewriteRule ^openings/?([a-zA-Z0-9]*)$ https://encode.uni-hamburg.de/openings/$1 [R=302,L]
