Options +FollowSymLinks
RewriteEngine on
RewriteRule ^ontology$ https://encodeproject-database.eu/ontology [R=302,L]
RewriteRule ^vocabulary$ https://encodeproject-database.eu/vocabulary [R=302,L]
RewriteRule ^modules/?$ https://encodeproject-database.eu/modules/ [R=302,L]
RewriteRule ^competences/?$ https://encodeproject-database.eu/competences/ [R=302,L]
RewriteRule ^openings/?$ https://encodeproject-database.eu/openings/ [R=302,L]
RewriteRule ^modules/?$ https://encodeproject-database.eu/modules/$1 [R=302,L]
RewriteRule ^competences/(.+)$ https://encodeproject-database.eu/competences/$1 [R=302,L]
RewriteRule ^openings/(.+)$ https://encodeproject-database.eu/openings/$1 [R=302,L]
