
Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://github.com/framester/framester [R=302,L]
RewriteRule ^(.+)$ http://etna.istc.cnr.it/framester2/$1 [R=302,L]
