Options +FollowSymLinks
RewriteEngine on
# Links to offical OntoForge resources
RewriteRule ^$ https://wedowind.gitbook.io/ontoforge [R=302,L]
RewriteRule ^id$ https://wedowind.gitbook.io/ontoforge [R=302,L]
