Options +FollowSymLinks
RewriteEngine on
RewriteRule ^domain$ https://atomgraph.github.io/LinkedDataHub/ns/apps/lapp.ttl [R=302,L]
RewriteRule ^hierarchy$ https://atomgraph.github.io/LinkedDataHub/ns/apps/hlapp.ttl [R=302,L]