# Redirect to resources of the Institute for Medical Biometry and Statistics, Faculty of Medicine and Medical Center - University of Freiburg
#
# https://w3id.org/imbi_freiburg/ redirects to
# https://www.uniklinik-freiburg.de/imbi-en/research-data-management.html
#
# ## Contact
# This space is administered by:
#
# Felix Engel
# GitHub username: cuboideum
# Email: felix.engel@uniklinik-freiburg.de
# ORCID: https://orcid.org/0009-0008-3871-9762

RewriteEngine on
RewriteRule ^ https://www.uniklinik-freiburg.de/imbi-en/research-data-management.html [R=302,L]
