Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

# Method specification (also the target for vocabulary IRIs such as
# https://w3id.org/xny#owner)
RewriteRule ^$ https://github.com/humanbased-ai/xny-did/blob/main/docs/xny-did-method.md [R=302,L]

# JSON-LD context, version 1
RewriteRule ^v1$ https://humanbased-ai.github.io/xny-did/ns/v1.jsonld [R=302,L]
