Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://capable-project.eu/ [R=307,L,QSA]
RewriteRule ^facebook$ https://www.facebook.com/capableprojecteu [R=307,L,QSA]
RewriteRule ^facebook/(.*)$ https://www.facebook.com/capableprojecteu/$1 [R=307,L,QSA]
RewriteRule ^fdp-catalog$ https://fdp.mi-x.nl/catalog/0ce13105-1ffa-4e13-a7d6-3429e1b57fed [R=307,L,QSA]
RewriteRule ^fhir/(.*)$ https://capable-fhir.ronaldcornet.nl:8443/dataplatform/fhir/$1 [R=307,L,QSA]
RewriteRule ^github$ https://github.com/Capable-project [R=307,L,QSA]
RewriteRule ^ontologies/SATO$ https://raw.githubusercontent.com/Capable-project/sato-ontology/main/SATO.owl [R=307,L,QSA]
RewriteRule ^simplifier$ https://simplifier.net/capable-fhir-repository/~resources?fhirVersion=R4&sortBy=RankScore_desc [R=307,L,QSA]
RewriteRule ^simplifier-api$ https://fhir.simplifier.net/capable-fhir-repository/ [R=307,L,QSA]
RewriteRule ^twitter$ https://twitter.com/capable_project [R=307,L,QSA]
RewriteRule ^zenodo$ https://zenodo.org/communities/capable/ [R=307,L,QSA]

RewriteRule ^alopecia_CI$ https://fdp.mi-x.nl/guideline-ci/067f9e8d-753d-46c1-8807-8806366e08e2 [R=307,L,QSA]
RewriteRule ^diarrhoea_CI$ https://fdp.mi-x.nl/guideline-ci/831daafa-2c03-49be-bf68-f2d028f52ae6 [R=307,L,QSA]
RewriteRule ^fatigue_CI$ https://fdp.mi-x.nl/guideline-ci/f28c5e9d-8a96-4430-b106-1cb3ce8fd42e [R=307,L,QSA]
RewriteRule ^hand_foot_syndrome_CI$ https://fdp.mi-x.nl/guideline-ci/ffdb6fa3-7ee9-44be-9105-c875d4da445a [R=307,L,QSA]
RewriteRule ^thyroid_CI$ https://fdp.mi-x.nl/guideline-ci/f781d013-5b26-40d8-a040-57e280441a2e [R=307,L,QSA]
RewriteRule ^mucositis_CI$ https://fdp.mi-x.nl/guideline-ci/4d9c4bcd-72d0-4a8a-8998-f06a75217c61 [R=307,L,QSA]
RewriteRule ^onycholysis_CI$ https://fdp.mi-x.nl/guideline-ci/f20a0323-b008-42ca-9ec5-0b4fc0ef72ca [R=307,L,QSA]
RewriteRule ^paronychia_CI$ https://fdp.mi-x.nl/guideline-ci/3eb48cce-993f-44c1-85e1-372a3fb44f62 [R=307,L,QSA]
RewriteRule ^rash_CI$ https://fdp.mi-x.nl/guideline-ci/47e532db-bf38-4039-934c-b3c4a72d920d [R=307,L,QSA]
RewriteRule ^skin_tox_prev_CI$ https://fdp.mi-x.nl/guideline-ci/86cea996-7e11-4658-aff7-51cd4214b4bc [R=307,L,QSA]

