#Options -MultiViews

#AddType application/rdf+xml .owl

RewriteEngine on

# OWL context
#RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
#RewriteCond %{HTTP_ACCEPT} application/rdf\+xml

RewriteRule ^$ https://raw.githubusercontent.com/KHMOntology/KHMO/refs/heads/main/khmo.owl [R=302,L]

RewriteRule ^khmo.owl$ https://raw.githubusercontent.com/KHMOntology/KHMO/refs/heads/main/khmo.owl [R=302,L]

RewriteRule ^khmo-base.owl$ https://raw.githubusercontent.com/KHMOntology/KHMO/refs/heads/main/khmo-base.owl [R=302,L]