Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^$ https://nsdra.org/ [R=302,L]

RewriteRule "^maturity-indicator/readme/MI-R1.3-75ec3968cc-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/01-75ec3968cc/MI-R1.3-75ec3968cc-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-649848907b-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/02-649848907b/MI-R1.3-649848907b-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-88b52fa7b8-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/03-88b52fa7b8/MI-R1.3-88b52fa7b8-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-faf3eea67a-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/04-faf3eea67a/MI-R1.3-faf3eea67a-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-99c4a218fe-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/05-99c4a218fe/MI-R1.3-99c4a218fe-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-324358ad68-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/06-324358ad68/MI-R1.3-324358ad68-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-1582738113-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/07-1582738113/MI-R1.3-1582738113-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-3ce932c4f9-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/08-3ce932c4f9/MI-R1.3-3ce932c4f9-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-7a4d616c66-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/09-7a4d616c66/MI-R1.3-7a4d616c66-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-57299b68d4-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/10-57299b68d4/MI-R1.3-57299b68d4-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-1fb3ef13d0-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/11-1fb3ef13d0/MI-R1.3-1fb3ef13d0-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-d2c4887a02-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/12-d2c4887a02/MI-R1.3-d2c4887a02-$1 [R=302,L]
RewriteRule "^maturity-indicator/readme/MI-R1.3-GENERIC-(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/generic/README.md [R=302,L]
RewriteRule "^maturity-indicator/readme/(.+)$" https://github.com/NSDRA/nsdra-maturity-indicators/blob/main/$1 [R=302,L]

RewriteRule "^maturity-indicator/vocab/(.+)$" https://nsdra.org/vocab/$1 [R=302,L]

RewriteRule "^assessment/(.+)$" https://nsdra.org/assessment/$1 [R=302,L]

RewriteRule "^metadata-generator/?$" https://nsdra.org/metadata-generator [R=302,L]
