# LD4P Art and Rare Materials Ontology Extensions
# https://w3id.org/arm/...

Options +FollowSymLinks
RewriteEngine on

#### Direct just to raw github on develop branch until we publish HTML+onto with conneg, at
#### least this will allow everyone to work with the real w3id ontology URIs

# Base
RewriteRule ^$ https://github.com/LD4P/ArtFrame-RareMat [R=302,L]

# Ontologies
RewriteRule ^ontologies/?$ https://github.com/LD4P/ArtFrame-RareMat/tree/develop/ontologies [R=302,L]
RewriteRule ^ontologies/core/?$ https://raw.githubusercontent.com/LD4P/ArtFrame-RareMat/develop/ontologies/raremat.owl [R=303,L]
RewriteRule ^ontologies/award/?$ https://raw.githubusercontent.com/LD4P/ArtFrame-RareMat/develop/ontologies/award.owl [R=303,L]
RewriteRule ^ontologies/custodial_history/?$ https://raw.githubusercontent.com/LD4P/ArtFrame-RareMat/develop/ontologies/custodial_history.owl [R=303,L]
RewriteRule ^ontologies/measurement/?$ https://raw.githubusercontent.com/LD4P/ArtFrame-RareMat/develop/ontologies/measurement.owl [R=303,L]

# Datasets
RewriteRule ^datasets/?$ https://github.com/LD4P/ArtFrame-RareMat/tree/develop/datasets [R=302,L]
RewriteRule ^datasets/arrangement/?$ https://raw.githubusercontent.com/LD4P/ArtFrame-RareMat/develop/datasets/arrangement.owl [R=303,L]
RewriteRule ^datasets/origin/?$ https://github.com/LD4P/ArtFrame-RareMat/blob/develop/datasets/origin.owl [R=303,L]
RewriteRule ^datasets/status/?$ https://github.com/LD4P/ArtFrame-RareMat/blob/develop/datasets/status.owl [R=303,L]
