RewriteEngine on

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType text/n3 .n3
AddType application/n-triples .nt
AddType application/ld+json .jsonld

# CPLD Schema and Context
RewriteRule ^$ https://github.com/niso-standards/cpld/raw/main/schema/cpld.schema.jsonld [R=302,L]