RewriteEngine On

# Redirect /gokhanmeteerturk/<folder>/<anything> to https://raw.githubusercontent.com/gokhanmeteerturk/<folder>/refs/tags/<anything>
# For ontologies, this will redirect /energy-storage-ITS/v1.1/ontology/energy-storage.owx to :
# https://raw.githubusercontent.com/gokhanmeteerturk/energy-storage-ITS/refs/tags/v1.1/ontology/energy-storage.owx
RewriteRule ^([^/]+)/(.+)$ https://raw.githubusercontent.com/gokhanmeteerturk/$1/refs/tags/$2 [R=302,L]
