
Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://github.com/br0ast/iicongraph/ [R=301]


RewriteRule ^data(.*)$ https://raw.githubusercontent.com/br0ast/iicongraph/main/data/kg.ttl [R=303,L]
RewriteRule ^docs(.*)$ https://github.com/br0ast/iicongraph/tree/main/docs [R=303,L]
RewriteRule ^casestudies(.*)$ https://github.com/br0ast/iicongraph/tree/main/casestudies [R=303,L]


