Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^$ https://www.gofairfoundation.org/ [R=302,L]

RewriteRule ^(rao/terms/.*)$ https://nanodash.petapico.org/term?id=https://w3id.org/gff/$1
