# Name of the project: LODE (Live OWL Documentation Environment, https://essepuntato.github.io/lode/)
# Maintainer: Silvio Peroni (essepuntato@gmail.com)

Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} closure/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&closure=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} imported/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&imported=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} owlapi/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&owlapi=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} closure/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?closure=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} imported/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?imported=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} owlapi/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?owlapi=true&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} closure/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&closure=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} imported/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&imported=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} owlapi/
RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&owlapi=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} reasoner/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?reasoner=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} closure/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?closure=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} imported/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?imported=true&url=$1://$2 [QSA,L,R=303]

RewriteCond %{REQUEST_URI} owlapi/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?owlapi=true&url=$1://$2 [NE,QSA,L,R=303]

RewriteCond %{REQUEST_URI} (lang=[^/]+)/
RewriteRule ^.+(https?)://?(.+)$ https://lode.srv01.enyr.it/lode/extract?%1&url=$1://$2 [QSA,L,R=303]

RewriteRule ^(https?)://?(.+)$  https://lode.srv01.enyr.it/lode/extract?url=$1://$2 [NE,QSA,L,R=303]

#Rewrite rule for mapping a URI as https://w3id.org/enyr/IEC81346-10/B.1/latest to https://gitlab.com/enyr/data-model/-/raw/master/IEC81346-10/B.1/0.4/B.1.owl
RewriteRule ^(.+)$/IEC81346-10/B.1/latest  https://lode.srv01.enyr.it/lode/extract?url=https://gitlab.com/enyr/data-model/-/raw/master/IEC81346-10/B.1/0.4/B.1.owl [NE,QSA,L,R=303]

#Rewrite rule for adding a URI as https://w3id.org/enyr/IEC81346-1
RewriteRule ^(.+)$  https://lode.srv01.enyr.it/lode/extract?url=https://gitlab.com/enyr/data-model/-/raw/master/$1.owl [NE,QSA,L,R=303]
