Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://harshp.com [R=302,L]
RewriteRule ^research$ https://harshp.com/research/ [R=302,L]
RewriteRule ^publications$ https://harshp.com/research/publications [R=302,L]
