Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ http://www.slideshare.net/prototypo [R=302,L]
RewriteRule ^open-by-default$ http://www.slideshare.net/prototypo/open-by-default [R=302,L]
RewriteRule ^MarchForScience2017 https://vimeo.com/209999285 [R=302,L]
