Options +FollowSymLinks 
RewriteEngine on

RewriteRule ^(.*)\.ttl$ https://ise-fizkarlsruhe.github.io/ArDO/2.0/ArDO.ttl [R=302,L]

RewriteRule ^(.*)$ https://ise-fizkarlsruhe.github.io/ArDO/2.0/index.html#$1 [R=302,L]

RewriteRule ^$ https://ise-fizkarlsruhe.github.io/ArDO/2.0/index.html [R=302,L]

