Header set Access-Control-Allow-Origin *
Options +FollowSymLinks

RewriteEngine on

RewriteRule ^www2020$ https://www.youtube.com/watch?v=8yTxqTNrF2Q [R=302,L]
RewriteRule ^iros2020$ https://www.youtube.com/watch?v=W-dRxaFvhPQ [R=302,L]
RewriteRule ^ontologies/signifiers/v1$ https://raw.githubusercontent.com/Interactions-HSG/signifier-java/master/src/ontologies/signifier.owl [R=302,L]
RewriteRule ^ontologies/profile/v1$ https://raw.githubusercontent.com/Interactions-HSG/signifier-java/master/src/ontologies/profile.owl [R=302,L]
RewriteRule ^ontologies/hypermedia/v1$ https://raw.githubusercontent.com/Interactions-HSG/signifier-java/master/src/ontologies/hypermedia.owl [R=302,L]
RewriteRule ^ontologies/xarm/v1$ https://raw.githubusercontent.com/danaivach/xarm-ontology/main/core.ttl [R=302,L]
