RewriteEngine On

RewriteRule ^es\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/extensions-es/extensions-es.ttl [R=302,L]
RewriteRule ^geo\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/geopolitical/geopolitical.ttl [R=302,L]
RewriteRule ^scientific-domain\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/knowledge-area/es-scientific-domain.ttl [R=302,L]
RewriteRule ^subject-areas\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/knowledge-area/es-subject-area.ttl [R=302,L]
RewriteRule ^unesco-individuals\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/knowledge-area/unesco-knowledge-area.rdf [R=302,L]
RewriteRule ^project-classification\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/project-classification/project-classification.owl [R=302,L]
RewriteRule ^university-hr\/es\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/university-hr/university-hr-es.ttl [R=302,L]
RewriteRule ^university-hr\/pt\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/university-hr/university-hr-pt.ttl [R=302,L]
RewriteRule ^university-hr\/uk\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/university-hr/university-hr-uk.ttl [R=302,L]
RewriteRule ^university-structure\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/university-structure/university-structure.ttl [R=302,L]
# Mirrored ontologies
RewriteRule ^mirror\/dc\/terms\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/DCTerms/dcterms.rdf [R=302,L]
RewriteRule ^mirror\/cerif\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/cerif/cerif.rdf [R=302,L]
RewriteRule ^mirror\/foaf\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/foaf/foaf.rdf [R=302,L]
RewriteRule ^mirror\/geonames\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/geonames/geonames.rdf [R=302,L]
RewriteRule ^mirror\/obo\/bfo\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/obo/bfo.owl [R=302,L]
RewriteRule ^mirror\/obo\/ero\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/obo/ero.owl [R=302,L]
RewriteRule ^mirror\/obo\/iao\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/obo/iao.owl [R=302,L]
RewriteRule ^mirror\/obo\/ro\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/obo/ro.owl [R=302,L]
RewriteRule ^mirror\/org\/? https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/org/org.rdf [R=302,L]
RewriteRule ^mirror\/skos\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/skos/skos.rdf [R=302,L]
RewriteRule ^mirror\/swrc\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/swrc/swrc.owl [R=302,L]
RewriteRule ^mirror\/swrcfe\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/swrcfe/swrcfe.rdf [R=302,L]
RewriteRule ^mirror\/vcard\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/vcard/vcard.ttl [R=302,L]
RewriteRule ^mirror\/vivo\/?$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/mirror/vivo/vivo.owl [R=302,L] 

RewriteRule ^$ https://raw.githubusercontent.com/HerculesCRUE/ROH/main/roh/modules/core/roh-core.ttl [R=302,L]

