Options -MultiViews

# Redirect alignments
Redirect 301 /amiseconto https://raw.githubusercontent.com/bohlourenco/AMISecOnto/refs/heads/main/amiseconto/AMISecOnto-alignments.ttl
Redirect 301 /amiseconto/alignments https://raw.githubusercontent.com/bohlourenco/AMISecOnto/refs/heads/main/amiseconto/AMISecOnto-alignments.ttl


