# Example
#
# https://w3id.org/NLM/QS 642 redirects to https://classification.nlm.nih.gov/schedules/QS#QS 642 (https://classification.nlm.nih.gov/schedules/QS#QS%20642)
#
# ## Contact
# This space is administered by:
#
# Clair Kronk
# Clair.Kronk@mountsinai.org
# GitHub username: Superraptor

# Examples tested using:
# https://htaccess.madewithlove.com/
# (6 June 2025)

RewriteEngine On
RewriteBase /

# Redirect URLs.
RewriteRule ^([A-Z]{1,2})\ ([\d\.A-Z]+)$ https://classification.nlm.nih.gov/schedules/$1#$1%20$2 [R=301,NE,L]
RewriteRule ^([A-Z]{1,2})%20([\d\.A-Z]+)$ https://classification.nlm.nih.gov/schedules/$1#$1%20$2 [R=301,NE,L]