Options +FollowSymLinks
RewriteEngine on
# Links to offical WeSP resources
RewriteRule ^2018$ http://jeanpi.org/wp/wsp2018/ [R=302,L]
RewriteRule ^2017$ http://streamreasoning.org/events/wsp2017 [R=302,L]

