RewriteEngine On

# Universal Open Game Theory Ontology (UOGTO)
# Maintainer: Edwin Chan <edithatogo@users.noreply.github.com>
# Project: https://github.com/edithatogo/UOGTO

RewriteRule ^$ https://edithatogo.github.io/UOGTO/ [R=303,L]
RewriteRule ^core/?$ https://edithatogo.github.io/UOGTO/ [R=303,L]
RewriteRule ^extensions/?$ https://edithatogo.github.io/UOGTO/ [R=303,L]
