RewriteEngine on

# KHD herbarium sheet images (and _thumb thumbnails)
RewriteRule ^khd/images/(KHD[0-9]+(?:_thumb)?)\.(JPG|jpg)$ https://khd.dbg-images.org/$1.$2 [R=302,L]

# KHD herbarium bryophyte images (and _thumb thumbnails)
RewriteRule ^khd/bryophytes/images/(KHD[0-9]+(?:_thumb)?)\.(JPG|jpg)$ https://khdb.dbg-images.org/$1.$2 [R=302,L]

# DBG fungarium specimen images (and _thumb thumbnails)
RewriteRule ^dbg/images/(DBG-F-[0-9]+(?:_thumb)?)\.(JPG|jpg)$ https://dbg.dbg-images.org/$1.$2 [R=302,L]
