Options +FollowSymLinks
RewriteEngine on

RewriteRule ^app/?(.*) https://fdp.erkreg.eu/$1 [R=307,L]
RewriteRule ^home/?(.*) https://fdp.erkreg.eu/$1 [R=307,L]
RewriteRule ^/?(.*) https://fdp.erkreg.eu/$1 [R=307,L]
