Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^supplementary$ https://github.com/Interactions-HSG/smart-sensing/raw/main/supplementary.zip [R=302,L]
RewriteRule ^oshes$ https://autonomous-buildings.github.io/oshes/oshes.owl.ttl [R=302,L]
RewriteRule ^project$ https://autonomous-buildings.github.io/smart-sensing/index.html [R=302,L]
