# # /gcdfo/
#
#
# https://w3id.org/gcdfo/salmon redirects to
# https://dfo-pacific-science.github.io/dfo-salmon-ontology/
#
# ## Contact
# This space is administered by:  
#
# Data Stewardship Unit, Fishery & Assessment Data Section 
# Fisheries and Oceans Canada, Pacific Region
#
# Brett Johnson     GitHub: Br-Johnson
# Melissa Morrison  GitHub: mkmor

# Rewrite engine setup
RewriteEngine On

# Default response
# ---------------------------
RewriteRule ^$ https://dfo-pacific-science.github.io/dfo-salmon-ontology/ [R=303,L]