RewriteEngine On
Options +FollowSymLinks

AddType text/turtle .ttl
AddType application/ld+json .jsonld
AddType application/json .json

# Add rules for text/turtle files
#RewriteCond %{HTTP_ACCEPT} text/turtle

# Redirect to GitHub Pages
RewriteRule "^(.*)$" "https://kgfixed.github.io/$1" [R=302,L]





