Options +FollowSymLinks

# Rewrite engine setup
RewriteEngine On

# Redirect to our Skosmos homepage for the root URI w3id.org/umms/
RewriteRule	^$ http://gitlab.umms.umm.edu:9000/enterprise-knowledge-graph/enterprise-knowledge-graph [R=302,L]