RewriteEngine On

# maintainer github username: @Orphanet

# RDF/XML
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [NC]
RewriteRule ^$ https://raw.githubusercontent.com/Orphanet/ofco-ontology/main/OFCO.owl [R=303,L]

# Default : documentation HTML
RewriteRule ^$ https://raw.githubusercontent.com/Orphanet/ofco-ontology/ [R=303,L]

