# Selected Options [+ on] [- off]
Options +FollowSymLinks

# Runtime rewriting engine
RewriteEngine on

# Turn off MultiViews
Options -MultiViews

AddType text/turtle .ttl

# In case of accept header <text/turtle>
RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* [NC]
RewriteRule ^$ https://mff-uk.github.io/data-specification-vocabulary/dsv-dap/dsv.ttl [R=303,NE,L]

AddType application/rdf+xml .rdf

# In case of accept header <application/rdf+xml>
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.* [NC]
RewriteRule ^$ https://mff-uk.github.io/data-specification-vocabulary/dsv-dap/dsv.rdf [R=303,NE,L]

AddType application/ld+json .jsonld

# In case of Accept header <application/ld+json>
RewriteCond %{HTTP_ACCEPT} application/ld\+json [NC]
RewriteRule ^$ https://mff-uk.github.io/data-specification-vocabulary/dsv-dap/dsv.jsonld [R=303,NE,L]

RewriteRule ^1\.0\.0/?$ https://w3id.org/dsv-dap/1.0.0 [R=301,L]
RewriteRule ^[1-9]\.[0-9]\.[0-9]/?$ https://w3id.org/dsv-dap [R=301,L]


# Default response: html
RewriteRule ^$ https://mff-uk.github.io/data-specification-vocabulary/dsv-dap/ [R=303,NE,L]
