# Example repository
#
# This permanent w3id is meant to showcase an example on
# how to publish vocabularies with W3ID.
#
# https://w3id.org/examples/ontology redirects to
# https://w3id.org/example/
#
# ## Contact
# This space is administered by:  
#
# Daniel Garijo
# GitHub username: dgarijo

RewriteEngine on
RewriteRule ^ https://w3id.org/example/ [R=303,L]
