Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/?$ http://www.sparontologies.net [R=302,L]
RewriteRule ^mediatype/?$ http://www.sparontologies.net/mediatype [R=302,L]
RewriteRule ^mediatype/(.+)$ http://www.sparontologies.net/mediatype/$1 [R=302,L]
