Options +FollowSymLinks
RewriteEngine on

# Maintainer: Yu Su <15525080347@gmail.com>

RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^ontology/?$ https://suyu15525080347-hash.github.io/panovec/ontology/0.89/panovec.jsonld [R=303,L]
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^ontology/?$ https://suyu15525080347-hash.github.io/panovec/ontology/0.89/panovec.rdf [R=303,L]
RewriteRule ^ontology/?$ https://suyu15525080347-hash.github.io/panovec/ontology/0.89/panovec.ttl [R=303,L]

RewriteRule ^release/0\.87/?$ https://suyu15525080347-hash.github.io/panovec/catalog/0.87/catalog.ttl [R=303,L]
RewriteRule ^release/0\.89/?$ https://suyu15525080347-hash.github.io/panovec/catalog/0.89/catalog.ttl [R=303,L]
RewriteRule ^context/?$ https://suyu15525080347-hash.github.io/panovec/context/panovec.jsonld [R=303,L]
RewriteRule ^resource/(.*)$ https://suyu15525080347-hash.github.io/panovec/data/0.89/panovec.ttl [R=303,L]
RewriteRule ^sparql/?$ https://suyu15525080347-hash.github.io/panovec/sparql/ [R=303,L]
RewriteRule ^$ https://suyu15525080347-hash.github.io/panovec/ [R=303,L]
