# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
AddType application/rdf+xml .rdf
AddType application/owl+xml .owl
AddType text/turtle .ttl
AddType application/ld+json .jsonld

Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ https://raw.githubusercontent.com/DelaramGlp/airo/main/airo.rdf [R=302,L]


RewriteCond %{HTTP_ACCEPT} application/owl\+xml
RewriteRule ^$ https://raw.githubusercontent.com/DelaramGlp/airo/main/airo.owl [R=302,L]


RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^$ https://raw.githubusercontent.com/DelaramGlp/airo/main/airo.ttl [R=302,L]

RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^$ https://raw.githubusercontent.com/DelaramGlp/airo/main/airo.jsonld [R=302,L]

# Default

RewriteRule ^$ https://delaramglp.github.io/airo [R=302,L]
RewriteRule ^(.*)$ https://delaramglp.github.io/airo/$1 [R=302,L]
