RewriteEngine On

################################
# https://w3id.org/metadocencia/
################################

# Short link to Slack

RewriteRule ^slack$ https://join.slack.com/t/metadocencia/shared_invite/zt-2sl6k8gmv-QDvYIEYJMy1owawkx_80dA [R=301,NE,L]
