Options +FollowSymLinks
RewriteEngine on
RewriteRule ^v1$ http://eden.dei.uc.pt/~jcardoso/rdf/lss-usdl/v1/lss-usdl.ttl [R=302,L]
RewriteRule ^v2$ http://eden.dei.uc.pt/~jcardoso/rdf/lss-usdl/v2/lss-usdl.ttl [R=302,L]
