Options +FollowSymLinks
RewriteEngine on

# whole KG
RewriteCond %{QUERY_STRING} ^_mediatype=text/turtle$ [OR]
RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^$ https://raw.githack.com/i-c-stratigraphy/geologic-timescale-kg/master/rdf/manifest.ttl [R=302,L]
RewriteRule ^kg.ttl$ https://raw.githack.com/i-c-stratigraphy/geologic-timescale-kg/master/rdf/manifest.ttl [R=302,L]
RewriteRule ^$ https://github.com/i-c-stratigraphy/geologic-timescale-kg [R=302,L]
