Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ https://www.internationaldataspaces.org/ [R=302]
RewriteRule ^(core|code)($|/$) https://industrialdataspace.github.io/InformationModel/ [R=302]
RewriteRule ^(core|code).ttl https://github.com/IndustrialDataSpace/InformationModel/releases/download/v1.0.0/IDS-InformationModel_v1.0.0.ttl [R=302]
RewriteRule ^(core|code).rdf https://industrialdataspace.github.io/InformationModel/docs/serializations/ontology.xml [R=302]
RewriteRule ^(core|code).xml https://industrialdataspace.github.io/InformationModel/docs/serializations/ontology.xml [R=302]
RewriteRule ^(core|code).json https://industrialdataspace.github.io/InformationModel/docs/serializations/ontology.json [R=302]
RewriteRule ^(core|code).nt https://industrialdataspace.github.io/InformationModel/docs/serializations/ontology.nt [R=302]
RewriteRule ^contexts/context.jsonld$ https://jira.iais.fraunhofer.de/stash/projects/ICTSL/repos/ids-infomodel-commons/raw/jsonld-context/1.0.2/context.jsonld [R=302]
RewriteRule ^contexts/context-dev.jsonld$ https://jira.iais.fraunhofer.de/stash/projects/ICTSL/repos/ids-infomodel-commons/raw/jsonld-context/1.0.3/context.jsonld [R=302] 
RewriteRule ^contexts/([0-9][.][0-9][.][0-9])/context.jsonld$ https://jira.iais.fraunhofer.de/stash/projects/ICTSL/repos/ids-infomodel-commons/raw/jsonld-context/$1/context.jsonld [R=302]
