#
# Tractus-X Namespace Forwarding Rules
# tested with https://htaccess.madewithlove.com/
#

# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.ttl and *.jsonld files served as appropriate content type,
# if not present in main apache config
AddType text/turtle .ttl
AddType application/ld+json .jsonld
# Rewrite engine setup
RewriteEngine On
#Change the path to the folder here
RewriteBase /

# Rewrite rule to resolve policy context
RewriteRule ^policy/v1.0.0(.*)$ https://eclipse-tractusx.github.io/tractusx-profiles/cx/context/policy.context.json [R=302,L]

# Rewrite rule to resolve the legacy Tractus-X namespace context
RewriteRule ^v0\.0\.1/ns/?$ https://eclipse-tractusx.github.io/tractusx-edc/context/tx-v1.jsonld [R=302,L]

# Rewrite rule to resolve the Tractus-X auth namespace context
RewriteRule ^auth/?$ https://eclipse-tractusx.github.io/tractusx-edc/context/tx-auth-v1.jsonld [R=302,L]

# Rewrite rule to resolve the Tractus-X auth JSON-LD context
RewriteRule ^auth/v1\.0\.0$ https://eclipse-tractusx.github.io/tractusx-edc/context/tx-auth-v1.jsonld [R=302,L]

# Rewrite rule to default to the tx webpage
RewriteRule ^(.*)$ https://eclipse-tractusx.github.io/ [R=303,L]
