#Redirect from old domain with subdirectory to new domain w/o subdirectory including full path and query string:
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/ost/(.*)$
RewriteRule ^(.*) http://tourism.openknowledge.be/%1 [R=302,L,NC]
