Options +FollowSymlinks
RewriteEngine On

# ===============================================================
# 1) BASE IRI: https://w3id.org/ontologies-ULL/SWLONT
#    - automated content negotiation using folder "latest"
# ===============================================================

# RDF/XML
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ https://ontologies-ULL.github.io/SWLONT/latest/ontology.owl [R=303,L]

# Turtle
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^$ https://ontologies-ULL.github.io/SWLONT/latest/ontology.ttl [R=303,L]

# JSON-LD (+ JSON optional)
RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^$ https://ontologies-ULL.github.io/SWLONT/latest/ontology.jsonld [R=303,L]

# Fallback HTML: Widoco documentation
RewriteRule ^$ https://ontologies-ULL.github.io/SWLONT/latest/index-en.html [R=303,L]


# ===============================================================
# 2) VERSIONS: https://w3id.org/ontologies-ULL/SWLONT/X.Y
# ===============================================================

# RDF/XML
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^([0-9]+\.[0-9]+)/?$ \
  https://ontologies-ULL.github.io/SWLONT/$1/ontology.owl [R=303,L]

# Turtle
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^([0-9]+\.[0-9]+)/?$ \
  https://ontologies-ULL.github.io/SWLONT/$1/ontology.ttl [R=303,L]

# JSON-LD (+ JSON optional)
RewriteCond %{HTTP_ACCEPT} application/ld\+json [OR]
RewriteCond %{HTTP_ACCEPT} application/json
RewriteRule ^([0-9]+\.[0-9]+)/?$ \
  https://ontologies-ULL.github.io/SWLONT/$1/ontology.jsonld [R=303,L]

# Fallback HTML: Widoco documentation of the version
RewriteRule ^([0-9]+\.[0-9]+)/?$ \
  https://ontologies-ULL.github.io/SWLONT/$1/index-en.html [R=303,L]


# ===============================================================
# 3) INDIVIDUALS: for any version
#    /SWLONT/X.Y/individuals/<archivo.owl>
# ===============================================================

RewriteRule ^([0-9]+\.[0-9]+)/individuals/(.*)$ \
  https://ontologies-ULL.github.io/SWLONT/$1/individuals/$2 [R=303,L]

# INDIVIDUALS from "latest"
RewriteRule ^individuals/(.*)$ \
  https://ontologies-ULL.github.io/SWLONT/latest/individuals/$1 [R=303,L]
