Options +FollowSymLinks
RewriteEngine on

##
## ^ieee-2791-schema
##

# match any json file in directory
RewriteRule ^ieee-2791-schema/(.+)\.json$ https://opensource.ieee.org/2791-object/ieee-2791-schema/raw/master/$1.json [R=302,L]

## quasi-semantic version strings -- we use semver strings but extend it 
## to allow one or two placeholders (e.g., 0, 1-alpha, and 1.2 are valid) 
## as well as some other invalid semver strings 

# one placeholder: e.g., version 1 or version 1-alpha
RewriteRule ^ieee-2791-schema/((0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?(\+([0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*))?)$ https://opensource.ieee.org/2791-object/ieee-2791-schema/-/tree/version-$1 [R=302,L]

# two placeholders: e.g, version 1.0-alpha
RewriteRule ^ieee-2791-schema/((0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?(\+([0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*))?)$ https://opensource.ieee.org/2791-object/ieee-2791-schema/-/tree/version-$1 [R=302,L]

# three placeholders (true semver): e.g., version 1.0.1-alpha
RewriteRule ^ieee-2791-schema/((0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?(\+([0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*))?)$ https://opensource.ieee.org/2791-object/ieee-2791-schema/-/tree/version-$1 [R=302,L]

# match all other files in directory that aren't a quasi-semver strings (e.g., README file)
RewriteRule ^ieee-2791-schema/(.+)$ https://opensource.ieee.org/2791-object/ieee-2791-schema/raw/master/$1 [R=302,L]

## link to only ^ieee-2791-schema or ^ieee-2791-schema/
RewriteRule ^ieee-2791-schema(/)?$ https://opensource.ieee.org/2791-object/ieee-2791-schema/ [R=302,L]

##
## ^ieee-1451.0-schema/
##

## redirects to xml schemas (.xsd files)
## e.g. https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/normative/CalibrationIdentificationTEDS.xsd
RewriteRule ^ieee-1451.0-schema/(\w+).xsd$ https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/normative/$1.xsd [R=302,L]

## redirects to xml files implementing schema (.xml files)
## e.g. https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/normative/examples/E2.xml
RewriteRule ^ieee-1451.0-schema/examples/(\w+).xml$ https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/normative/examples/$1.xml [R=302,L]

## redirects to html files (.html files)
## e.g. https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/index.html
RewriteRule ^ieee-1451.0-schema/(\w+).html$ https://opensource.ieee.org/1451/1451.0-schema/-/raw/main/$1.html [R=302,L]

##
## ^ieee-1752-schema
##

# environment
RewriteRule ^ieee-1752-schema/ambient-light\.json$ ieee-1752-schema/ambient-light-1.0.json
RewriteRule ^ieee-1752-schema/ambient-light-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/environment/ambient-light-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/ambient-sound\.json$ ieee-1752-schema/ambient-sound-1.0.json
RewriteRule ^ieee-1752-schema/ambient-sound-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/environment/ambient-sound-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/ambient-temperature\.json$ ieee-1752-schema/ambient-temperature-1.0.json
RewriteRule ^ieee-1752-schema/ambient-temperature-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/environment/ambient-temperature-$1.json [R=302,L]

# metadata
RewriteRule ^ieee-1752-schema/data-point\.json$ ieee-1752-schema/data-point-1.0.json
RewriteRule ^ieee-1752-schema/data-point-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/metadata/data-point-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/data-series\.json$ ieee-1752-schema/data-series-1.0.json
RewriteRule ^ieee-1752-schema/data-series-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/metadata/data-series-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/header\.json$ ieee-1752-schema/header-1.0.json
RewriteRule ^ieee-1752-schema/header-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/metadata/header-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/schema-id\.json$ ieee-1752-schema/schema-id-1.0.json
RewriteRule ^ieee-1752-schema/schema-id-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/metadata/schema-id-$1.json [R=302,L]

# physical activity
RewriteRule ^ieee-1752-schema/physical-activity\.json$ ieee-1752-schema/physical-activity-1.0.json
RewriteRule ^ieee-1752-schema/physical-activity-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/physical_activity/physical-activity-$1.json [R=302,L]

# sleep
RewriteRule ^ieee-1752-schema/apnea-hypopnea-index\.json$ ieee-1752-schema/apnea-hypopnea-index-1.0.json
RewriteRule ^ieee-1752-schema/apnea-hypopnea-index-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/apnea-hypopnea-index-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/arousal-index\.json$ ieee-1752-schema/arousal-index-1.0.json
RewriteRule ^ieee-1752-schema/arousal-index-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/arousal-index-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/deep-sleep\.json$ ieee-1752-schema/deep-sleep-1.0.json
RewriteRule ^ieee-1752-schema/deep-sleep-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/deep-sleep-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/light-sleep\.json$ ieee-1752-schema/light-sleep-1.0.json
RewriteRule ^ieee-1752-schema/light-sleep-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/light-sleep-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/sleep-episode\.json$ ieee-1752-schema/sleep-episode-1.0.json
RewriteRule ^ieee-1752-schema/sleep-episode-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/sleep-episode-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/sleep-onset-latency\.json$ ieee-1752-schema/sleep-onset-latency-1.0.json
RewriteRule ^ieee-1752-schema/sleep-onset-latency-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/sleep-onset-latency-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/sleep-stage-summary\.json$ ieee-1752-schema/sleep-stage-summary-1.0.json
RewriteRule ^ieee-1752-schema/sleep-stage-summary-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/sleep-stage-summary-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/snore-index\.json$ ieee-1752-schema/snore-index-1.0.json
RewriteRule ^ieee-1752-schema/snore-index-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/snore-index-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/time-in-bed\.json$ ieee-1752-schema/time-in-bed-1.0.json
RewriteRule ^ieee-1752-schema/time-in-bed-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/time-in-bed-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/total-sleep-time\.json$ ieee-1752-schema/total-sleep-time-1.0.json
RewriteRule ^ieee-1752-schema/total-sleep-time-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/total-sleep-time-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/wake-after-sleep-onset\.json$ ieee-1752-schema/wake-after-sleep-onset-1.0.json
RewriteRule ^ieee-1752-schema/wake-after-sleep-onset-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/sleep/wake-after-sleep-onset-$1.json [R=302,L]

# survey
RewriteRule ^ieee-1752-schema/survey-answer\.json$ ieee-1752-schema/survey-answer-1.0.json
RewriteRule ^ieee-1752-schema/survey-answer-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-answer-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-categorical-answer\.json$ ieee-1752-schema/survey-categorical-answer-1.0.json
RewriteRule ^ieee-1752-schema/survey-categorical-answer-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-categorical-answer-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-date-answer\.json$ ieee-1752-schema/survey-date-answer-1.0.json
RewriteRule ^ieee-1752-schema/survey-date-answer-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-date-answer-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-item\.json$ ieee-1752-schema/survey-item-1.0.json
RewriteRule ^ieee-1752-schema/survey-item-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-item-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-question\.json$ ieee-1752-schema/survey-question-1.0.json
RewriteRule ^ieee-1752-schema/survey-question-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-question-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-time-answer\.json$ ieee-1752-schema/survey-time-answer-1.0.json
RewriteRule ^ieee-1752-schema/survey-time-answer-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-time-answer-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey-unit-value-answer\.json$ ieee-1752-schema/survey-unit-value-answer-1.0.json
RewriteRule ^ieee-1752-schema/survey-unit-value-answer-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-unit-value-answer-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/survey\.json$ ieee-1752-schema/survey-1.0.json
RewriteRule ^ieee-1752-schema/survey-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/survey/survey-$1.json [R=302,L]

# utility
RewriteRule ^ieee-1752-schema/body-posture\.json$ ieee-1752-schema/body-posture-1.0.json
RewriteRule ^ieee-1752-schema/body-posture-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/body-posture-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/date-time\.json$ ieee-1752-schema/date-time-1.0.json
RewriteRule ^ieee-1752-schema/date-time-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/date-time-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/descriptive-statistic-denominator\.json$ ieee-1752-schema/descriptive-statistic-denominator-1.0.json
RewriteRule ^ieee-1752-schema/descriptive-statistic-denominator-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/descriptive-statistic-denominator-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/descriptive-statistic\.json$ ieee-1752-schema/descriptive-statistic-1.0.json
RewriteRule ^ieee-1752-schema/descriptive-statistic-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/descriptive-statistic-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/duration-unit-value-range\.json$ ieee-1752-schema/duration-unit-value-range-1.0.json
RewriteRule ^ieee-1752-schema/duration-unit-value-range-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/duration-unit-value-range-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/duration-unit-value\.json$ ieee-1752-schema/duration-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/duration-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/duration-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/frequency-unit-value\.json$ ieee-1752-schema/frequency-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/frequency-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/frequency-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/illuminance-unit-value\.json$ ieee-1752-schema/illuminance-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/illuminance-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/illuminance-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/kcal-unit-value\.json$ ieee-1752-schema/kcal-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/kcal-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/kcal-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/length-unit-value\.json$ ieee-1752-schema/length-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/length-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/length-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/percent-unit-value\.json$ ieee-1752-schema/percent-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/percent-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/percent-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/sound-unit-value\.json$ ieee-1752-schema/sound-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/sound-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/sound-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/speed-unit-value\.json$ ieee-1752-schema/speed-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/speed-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/speed-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/temperature-unit-value\.json$ ieee-1752-schema/temperature-unit-value-1.0.json
RewriteRule ^ieee-1752-schema/temperature-unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/temperature-unit-value-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/time-frame\.json$ ieee-1752-schema/time-frame-1.0.json
RewriteRule ^ieee-1752-schema/time-frame-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/time-frame-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/time-interval\.json$ ieee-1752-schema/time-interval-1.0.json
RewriteRule ^ieee-1752-schema/time-interval-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/time-interval-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/unit-value-range\.json$ ieee-1752-schema/unit-value-range-1.0.json
RewriteRule ^ieee-1752-schema/unit-value-range-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/unit-value-range-$1.json [R=302,L]

RewriteRule ^ieee-1752-schema/unit-value\.json$ ieee-1752-schema/unit-value-1.0.json
RewriteRule ^ieee-1752-schema/unit-value-((0|[1-9][0-9]*)\.(0|[1-9][0-9]*))\.json$ https://opensource.ieee.org/omh/1752/-/raw/main/schemas/utility/unit-value-$1.json [R=302,L]


## link to only ^ieee-1752-schema or ^ieee-1752-schema/
RewriteRule ^ieee-1752-schema(/)?$ https://opensource.ieee.org/omh/1752/ [R=302,L]


## IEEE 1588 Yang model
## Redirects to raw yang file on gitlab. 1588.yang and ieee1588-ptp.yang should both resolve to ieee1588-ptp.yang should both resolve to raw file on gitlab
RewriteRule ^1588.yang$ https://gitlab.com/IEEE-SA/1588/yang/-/raw/main/ieee1588-ptp.yang  [R=302,L]
RewriteRule ^ieee1588-ptp.yang$ https://gitlab.com/IEEE-SA/1588/yang/-/raw/main/ieee1588-ptp.yang  [R=302,L]

##
## OSCom redirects
##

RewriteRule ^oscom/apply$ https://opensource.ieee.org/oscom/official-project-requests/-/issues/new?issuable_template=official_project_proposal [R=302,L]
RewriteRule ^oscom(/)?$ https://opensource.ieee.org/oscom/ [R=302,L]


## 
## ieee
##

RewriteRule ^$ https://www.ieee.org/ [R=302,L]
