Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^specification/(.*)$ https://treecg.github.io/specification/$1 [R=303,L]
RewriteRule ^specification$ https://treecg.github.io/specification/ [R=303,L]
RewriteRule ^.*$ https://cdn.jsdelivr.net/gh/treecg/specification@master/tree.ttl [R=303,L]
