Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on

# https://w3id.org/earth/identifiers -> https://EarthProgram.github.io/Identifiers
RewriteRule ^/identifiers/?$ https://EarthProgram.github.io/Identifiers/ [R=302,L]
RewriteRule ^/identifiers/(.+)$ https://EarthProgram.github.io/Identifiers/$1 [R=302,L]

# https://w3id.org/earth/tokens -> https://EarthProgram.github.io/Tokens
RewriteRule ^/tokens/?$ https://EarthProgram.github.io/Tokens/ [R=302,L]
RewriteRule ^/tokens/(.+)$ https://EarthProgram.github.io/Tokens/$1 [R=302,L]

# https://w3id.org/earth/ns -> https://EarthProgram.github.io/NS
RewriteRule ^/ns/?$ https://EarthProgram.github.io/NS/ [R=302,L]
RewriteRule ^/ns/(.+)$ https://EarthProgram.github.io/NS/$1 [R=302,L]

# https://w3id.org/earth -> https://EarthProgram.github.io
RewriteRule ^/?$ https://EarthProgram.github.io/ [R=302,L]
RewriteRule ^(.+)$ https://EarthProgram.github.io/$1 [R=302,L]
