# Ecolink Model Ontology (elmo)
# This is a project ontology for the Ecolink Model, which 
# describes ecological knowledge.
# 
# https://github.com/timalamenciak/elmo  
Options +FollowSymLinks

RewriteEngine on
RewriteRule ^ https://w3id.org/elmo/ [R=303,L]
