RewriteEngine on

# ExpO Web App
RedirectMatch 302 ^/expo/?$ https://expo.eng.unibz.it
# ExpO REST API
RedirectMatch 302 ^/expo/expose/(.+)/?$ https://expose.eng.unibz.it/$1
# ExpO VP Plugin
RedirectMatch 302 ^/expo/plugin/?$ https://github.com/mozzherina/ontouml-vp-plugin/tree/features/abstraction
