Options +FollowSymLinks
RewriteEngine on
RewriteRule ^esc/(.*) https://test.skohub.io/hbz/vocabs-edu/w3id.org/class/esc/$1 [R=302,L]
RewriteRule ^hochschulfaecher/(.*) https://test.skohub.io/literarymachine/skos/w3id.org/class/hochschulfaecher/$1 [R=302,L]
