Header set Access-Control-Allow-Origin *
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^$ https://psnpbind.org/ [R=302,L]

RewriteRule "^stats$" https://psnpbind.org/stats [R=302,L]

RewriteRule "^citation$" https://psnpbind.org/citation [R=302,L]

RewriteRule "^methodology$" https://psnpbind.org/methodology [R=302,L]

RewriteRule "^protein/([a-zA-Z0-9]+)$" https://psnpbind.org/protein/$1 [R=302,L]

RewriteRule "^variant/([0-9]+)$" https://psnpbind.org/variant/$1 [R=302,L]

RewriteRule "^variant/([0-9]+)/ligand/([a-zA-Z0-9]+)$" https://psnpbind.org/variant/$1/ligand/$2 [R=302,L]

RewriteRule "^(.+)$" https://psnpbind.org/$1 [R=302,L]