##########################################################################
# .htaccess file https://w3id.org/battinfo
#
# If testing interactively with https://htaccess.madewithlove.com/
# remember to remove the initial "battinfo/" in the URL to test.
#
##########################################################################

Options +FollowSymLinks
RewriteEngine On

##########################################################################
##  Redirections to raw files in the GitHub repo
##########################################################################

RewriteRule ^raw/([^0-9].*)$ https://raw.githubusercontent.com/BIG-MAP/BattINFO/master/$1 [R=303,NE,L]
RewriteRule ^raw/([0-9][^/]*)/(.*)$ https://raw.githubusercontent.com/BIG-MAP/BattINFO/master/$1/$2 [R=303,NE,L]

##########################################################################
##  Ontology root and documentation
##########################################################################

# https://w3id.org/battinfo
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^$ https://big-map.github.io/BattINFO/battinfo.html [R=303,NE,L]
RewriteRule ^$ https://big-map.github.io/BattINFO/battinfo.ttl [R=303,NE,L]

# https://w3id.org/battinfo/inferred
RewriteRule ^inferred/?$ https://big-map.github.io/BattINFO/battinfo-inferred.ttl [R=303,NE,L]

# https://w3id.org/battinfo/turtle
RewriteRule ^turtle/?$ https://big-map.github.io/BattINFO/battinfo.ttl [R=303,NE,L]

##########################################################################
##  Source/latest aliases
##########################################################################

RewriteRule ^/$ https://raw.githubusercontent.com/BIG-MAP/BattINFO/master/battinfo.ttl [R=303,NE,L]
RewriteRule ^latest/?$ https://raw.githubusercontent.com/BIG-MAP/BattINFO/master/battinfo.ttl [R=303,NE,L]
RewriteRule ^source/?$ https://raw.githubusercontent.com/BIG-MAP/BattINFO/master/battinfo.ttl [R=303,NE,L]

##########################################################################
##  Versioned ontology routes
##########################################################################

RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^([0-9][^/]*)/?$ https://big-map.github.io/BattINFO/battinfo/versions/$1/battinfo.html [R=303,NE,L]
RewriteRule ^([0-9][^/]*)/?$ https://big-map.github.io/BattINFO/battinfo/versions/$1/battinfo.ttl [R=303,NE,L]

RewriteRule ^([0-9][^/]*)/inferred/?$ https://big-map.github.io/BattINFO/battinfo/versions/$1/battinfo-inferred.ttl [R=303,NE,L]
RewriteRule ^([0-9][^/]*)/turtle/?$ https://big-map.github.io/BattINFO/battinfo/versions/$1/battinfo.ttl [R=303,NE,L]

##########################################################################
##  Generic BattINFO object id redirects to Battery Genome registry
##########################################################################

RewriteRule ^([a-z-]+)/([^/]+)/?$ https://www.battery-genome.org/registry/$1/$2 [R=303,NE,L]

