Options +FollowSymLinks
# Turn off MultiViews
# Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl

RewriteEngine on

#Rewrite rules for aimodel ontology
#default response owl rdf
RewriteRule ^aimodel$ https://isee4xai.github.io/iSeeOnto/aimodel.rdf [R=303,NE,L]

#Rewrite rules for aimethodevaluation ontology
#default response: owl rdf
RewriteRule ^aimethodevaluation$ https://isee4xai.github.io/iSeeOnto/aimethodevaluation.rdf [R=303,NE,L]

#Rewrite rules for evaluation ontology
#default response: owl rdf
RewriteRule ^evaluation$ https://isee4xai.github.io/iSeeOnto/evaluation.rdf [R=303,NE,L]

#Rewrite rules for explainer ontology 
#default response: owl rdf
RewriteRule ^explainer$ https://isee4xai.github.io/iSeeOnto/explainer.rdf [R=303,NE,L]


#Rewrite rules for user ontology
#default response: owl rdf
RewriteRule ^user$ https://isee4xai.github.io/iSeeOnto/user.rdf [R=303,NE,L]

#Rewrite rules for userevaluation ontology
#default response: owl rdf
RewriteRule ^userevaluation$ https://isee4xai.github.io/iSeeOnto/userevaluation.rdf [R=303,NE,L]

#Rewrite rules for workflow ontology
#default response: owl rdf
RewriteRule ^workflow$ https://isee4xai.github.io/iSeeOnto/workflow.rdf [R=303,NE,L]