# Example
#
# https://w3id.org/worldstatesmen/Afghanistan redirects to https://www.worldstatesmen.org/Afghanistan.htm
# https://w3id.org/worldstatesmen/US_Mayors/Akron redirects to https://www.worldstatesmen.org/US_Mayors.html#Akron
# 
# ## Contact
# This space is administered by:
#
# Clair Kronk
# Clair.Kronk@mountsinai.org
# GitHub username: Superraptor

# Examples tested using:
# https://htaccess.madewithlove.com/
# (20 July 2025)

RewriteEngine On
RewriteBase /

# Necessary because some pages end with .htm as their extension
RewriteRule ^(Afghanistan|Kazakhstan|Albania|Portugal|New_Zealand|Iraq|Myanmar|Latvia|Lesotho|Netherlands|Lebanon|Palau|Moldova|India|Macedonia|Mongolia|Reunion|Malawi|Kenya|Guyana|Kiribati|Liberia|Micronesia|Korea_South|Poland|Indonesia)$ https://www.worldstatesmen.org/$1.htm [R=301,NE,L]

# Necessary because some pages end with .htm as their extension
RewriteRule ^(Afghanistan|Kazakhstan|Albania|Portugal|New_Zealand|Iraq|Myanmar|Latvia|Lesotho|Netherlands|Lebanon|Palau|Moldova|India|Macedonia|Mongolia|Reunion|Malawi|Kenya|Guyana|Kiribati|Liberia|Micronesia|Korea_South|Poland|Indonesia)/([A-Za-z0-9\_\-]{1,80})$ https://www.worldstatesmen.org/$1.htm#$2 [R=301,NE,L]

# Redirect URLs of the form /worldstatesmen/$1
RewriteRule ^([A-Za-z0-9_\-]{1,80})$ https://www.worldstatesmen.org/$1.html [R=301,NE,L]

# Redirect URLs of the form /worldstatesmen/$1/$2
RewriteRule ^([A-Za-z0-9_\-]{1,80})/([A-Za-z0-9_\-]{1,80})$ https://www.worldstatesmen.org/$1.html#$2 [R=301,NE,L]

# Redirect /worldstatesmen/ to https://www.worldstatesmen.org/
RewriteRule ^$ https://www.worldstatesmen.org/ [R=301,L]